{% extends "partials/tooltips/base.html" %}

{% block title %}
    Children of the Marriage
{% endblock %}

{% block inner %}
    The <a href='http://wiki.clicklaw.bc.ca/index.php?title=Divorce
            Act' target='_blank'>Divorce Act</a> defines child of the marriage as:
    <br><br>
    Child of the marriage means a child of two spouses or former
    spouses who, at the material time,
    <ol type='a'>
        <li>
            is under the age of majority and who has not withdrawn from
            their charge, or
        </li>
        <li>
            is the age of majority or over and under their charge but
            unable, by reason of illness, disability or other cause, to
            withdraw from their charge or to obtain the necessaries of life;
            (enfant à charge)?
        </li>
    </ol>
    More details on the <a href='http://www.justice.gc.ca/eng/rp-pr/fl-lf/child-enfant/guide/step2-etap2.html' target='_blank'>
    definition of &quot;child of the marriage&quot;</a> can be found on the Department of Justice website.
{% endblock %}

{% block label %}
    children of the marriage
{% endblock %}