{% extends "partials/tooltips/base.html" %}

{% block title %}
    Duty to Support
{% endblock %}

{% block inner %}
    Parents and guardians have a responsibility (duty) under the law to financially support their
    children, whether or not they see or take care of the children.  A parent, for the purposes
    of child support, may include a stepparent if they were living together, in a relationship,
    with the child’s parent and the child during the child’s life.  The duty of a stepparent or
    non-parent guardian to provide support is secondary to that of the child’s parents.
{% endblock %}

{% block label %}
    duty to support
{% endblock %}