{% extends "partials/tooltips/base.html" %}

{% block title %}
    Order Respecting Parenting Arrangements or Contact
{% endblock %}

{% block inner %}
    Under the Family Law Act (in either Provincial Court or Supreme Court), a court order dealing with
    guardianship, parenting time, allocation of parenting responsibilities, or contact with a child. Under
    the Divorce Act in Supreme Court, a court order dealing with custody and access.
    <br/><br/>
    &quot;Arrangements for parenting&quot; refers to who will be responsible for making decisions about the children and if and how they will
    spend time with each parent.
{% endblock %}

{% block label %}
    order about parenting arrangements or contact
{% endblock %}