{% extends "partials/tooltips/base.html" %}

{% block title %}
    Parental Responsibilities
{% endblock %}

{% block inner %}
    The responsibilities guardians have for the children in their care, including decisions about daily care, education, religious upbringing,
    extracurricular activities, etc. After separation or divorce, guardians can share parental responsibilities in whatever way that's in the child's
    best interests, as decided by agreement or court order.
    <br /><br />
    When a child's parents live together, both parents are the child's guardians (have guardianship).
    When the parents separate, both parents continue to be guardians unless they agree to change this or a court orders a change.
    A court can give guardianship of a child to a non-parent.
    Guardians are responsible for making all decisions about their child, including about daily care and supervision, education, health care,
    cultural or religious upbringing, and where the child will live.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}parental responsibilities{% endif %}
{% endblock %}