{% extends "partials/tooltips/base.html" %}

{% block title %}
    Proportionate Share
{% endblock %}

{% block inner %}
    Proportionate share means that the amount determined to be payable by each parent is calculated in
    relation to their respective incomes. For example, if claimant 1 earns $65k and claimant 2 earns $35K,
    claimant 1’s share is 65% and claimant 2’s share is 35%. To calculate your proportionate share, divide
    your income by the total of both your incomes, then multiply this number (usually a decimal form, such as
    0.65) by the actual cost of special or extraordinary expenses.
{% endblock %}

{% block label %}
    proportionate shares
{% endblock %}