{% extends "partials/tooltips/base.html" %}

{% block title %}
    Special and Extraordinary Expenses
{% endblock %}

{% block inner %}
    Special expenses are over and above the regular cost of living for a child,
    such as the cost of child care or post-secondary education. Extraordinary
    expenses are for education, programs, or extracurricular activities that meet
    the child's needs, such as for tutoring or private school, or for other
    activities at which the child excels.
{% endblock %}

{% block label %}
    special and extraordinary expenses
{% endblock %}