{% extends "partials/tooltips/base.html" %}

{% block title %}
    Undue Hardship
{% endblock %}

{% block inner %}
    Circumstances that show the amount of child support under the child support guidelines is too
    high or low. Must create &quot;undue&quot; (exceptional, excessive or disproportionate) difficulty
    for the person making the claim.
    <br/><br/>
    A term used by the Child Support Guidelines to describe circumstances when payment of the table
    amount of child support would cause financial difficulty for the payor or the recipient, potentially
    justifying an award of support in an amount different than the table amount. See &quot;child support,&quot;
    &quot;Child Support Guidelines&quot; and &quot;table amount.&quot;
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}undue hardship{% endif %}
{% endblock %}
