@media screen {
    .print-wrapper {
        font-size: 15px;
    	max-width: 960px;
    	margin: 20px auto;
    }
}

@media print {
    .force-break {
        page-break-before: always;
    }
    .avoid-break {
        page-break-inside: avoid;
    }
}

@page {
    margin: 0.75cm;
}

body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

h1 {font-size: 24px;}

h2 {font-size: 21px;}

h3 {
    font-size: 18px;
    margin-top:40px;
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid #000000;
    margin: 40px 0;
}

i.fa {
    font-size: 30px;
    vertical-align: middle;
    margin: 0 5px;
}

.form-entry {
    display: inline-block;
    min-width: 200px;
}

.form-textarea {
    display: block;
    border: solid 1px #000000;
    padding: 20px;
    margin: 20px;
    min-height: 200px;
}

.not-complete {
    background-color: #fcf8e3;
}

.table-fixed {
    table-layout: fixed;
}

