@media screen {
    .print-wrapper {
        font-size: 15px;
    	max-width: 960px;
    	margin: 20px auto;
    }
}

@media print {
    .force-break {
        page-break-before: always;
    }
    .avoid-break {
        page-break-inside: avoid;
    }
}

@page {
    size: Letter;
    margin: 0.75cm;

    @bottom-right {
        content: counter(page) " of " counter(pages)
    }
}

body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

h1 {font-size: 24px;}

h2 {font-size: 21px;}

h3 {
    font-size: 18px;
    margin-top:40px;
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid #000000;
    margin: 40px 0;
}

i.fa {
    font-size: 30px;
    vertical-align: middle;
    margin: 0 5px;
}

.form-entry {
    display: inline-block;
    min-width: 200px;
}

.form-entry-sm {
    display: inline-block;
    min-width: 50px;
}

.form-underline {
    border-bottom:1px solid #000000;
}

.form-textarea {
    display: block;
    border: solid 1px #000000;
    padding: 20px;
    margin: 20px;
    min-height: 200px;
}

.form-entry_claimant {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin: -22px 90px 40px;
}

.table-fixed {
    table-layout: fixed;
}

.sig-table td.underline {
    border-bottom: 1px solid black;
}
.sig-table .sig-line-text {
    font-size: 0.88em;
}
.sig-table .sig-col1 {
    max-width: 30px;
}
.sig-table .sig-col2 {
    width: 220px;
    padding-left: 0;
}
.sig-table .sig-col3 {
    max-width: 10px;
}

.sig-table .sig-col4 {
    width: 350px;
    padding-left: 0;
}

.sig-table td {
    border-top: none !important;
}

ol.numbered-paragraphs {
  padding-left: 1.5em;
}

ol.numbered-paragraphs li {
  margin-bottom: 10px;
  padding-left: 1.5em;
}

