Django<1.12
django-compressor==2.1
django-crispy-forms==1.6.1
django-debug-toolbar==1.9
django-sass-processor==0.5.5
djangorestframework==3.5.3
gunicorn==19.4.5
libsass==0.13.3
psycopg2==2.7.3
requests==2.13.0
six==1.10.0
Unipath==1.1
whitenoise==3.0
