certifi==2020.6.20
chardet==3.0.4
clamd==1.0.2
Django==2.2.15
django-appconf==1.0.4
django-compressor==2.4
django-cors-headers==3.5
django-crispy-forms==1.9.2
django-debug-toolbar==2.2
django-sass-processor==0.8
djangorestframework==3.11.1
environs==8.0.0
gunicorn==20.0.4
idna==2.10
libsass==0.20.0
marshmallow==3.7.1
psycopg2==2.8.5
python-dotenv==0.14.0
pytz==2020.1
rcssmin==1.0.6
redis==3.5.3
requests==2.24.0
rjsmin==1.1.0
six==1.15.0
sqlparse==0.3.1
Unipath==1.1
urllib3==1.25.10
whitenoise==3.3.1
