<table class="notary-signature">
  <tbody>
    <tr>
      <td class=""> SWORN (OR AFFIRMED) BEFORE ME</td>
      <td class="parens"> ) </td>
      <td class=""> </td>
    </tr>
    <tr>
      <td class="">at <span class="form-entry not-complete">&nbsp;</span>, British Columbia</td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="">on</td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class=""></td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class=""></td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class=""></td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class=""></td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
    <tr>
      <td class="signature-above">A commissioner for taking</td>
      <td class="parens"> ) </td>
      <td class="signature-above">{{ name|upper }}</td>
    </tr>
    <tr>
      <td class="">affidavits for British Columbia</td>
      <td class="parens"> ) </td>
      <td class=""></td>
    </tr>
  </tbody>
</table>


