<!DOCTYPE html>
<html lang="en">
<head>
    <title>Government of British Columbia</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="Author" content=""/>
    <link rel="icon" href="https://logon.gov.bc.ca/clp/images/favicon.ico">
    <title>CLP</title>
    <!-- mobile settings -->
    <meta name="viewport"
          content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>

    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript" src="https://logon.gov.bc.ca/clp/plugins/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://logon.gov.bc.ca/clp/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://logon.gov.bc.ca/clp/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://logon.gov.bc.ca/clp/js/common.js"></script>
    <script type="text/javascript" src="https://logon.gov.bc.ca/clp/js/brandexample.js"></script>
    <script type="text/javascript" src="https://logon.gov.bc.ca/clp/js/form-validation.js"></script>
    <script type="text/javascript" src="https://logon.gov.bc.ca/clp/js/footer.js"></script>

    <!-- CORE CSS -->
    <link href="https://logon.gov.bc.ca/clp/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://logon.gov.bc.ca/clp/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="https://logon.gov.bc.ca/clp/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="https://logon.gov.bc.ca/clp/plugins/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div id="wrapper" class="main">
    <header id="bcGov" class="no-gov-brand">
        <div class="container">
            <div class="seperator"></div>
            <div id="login-to" class="site-title">FAKE BCeID LOGIN &ndash; FOR SOFTWARE DEVELOPMENT PURPOSES ONLY</div>
        </div>
    </header>

    <header id="client">
        <div class="container">
            <div>
                <img src="https://logon.gov.bc.ca/clp/branding/bceid_default_logo.jpg" class="logo" alt=""/>
            </div>
        </div>
    </header>

    <form method="POST" name="login" id="login-form" class="login-bceid-form" novalidate>
        <section class="container">
            <div class="row">
                <div class="col-sm-7 col-md-8">
                    <div class="panel">
                        <div class="panel-heading">
                            Log in with
                            <span id="bceidLogo" class="environment-logo bceid-environment-devv2"></span>
                        </div>
                        <div class="panel-body">
                            <div class="form-element form-group">
                                <label class="control-label label-with-instruction"
                                       for="username">User ID</label>
                                <div class="instruction">Use a Basic BCeID</div>
                                <input name="user" id="username" type="text" size="20" autofocus
                                       class="form-control input-200" autocomplete="off"/>
                            </div>
                            <div class="form-element form-group">
                                <label class="control-label" for="password">Password</label>
                                <input name="password" type="password" class="form-control input-200"
                                       id="password" size="20" autocomplete="off"/>
                            </div>

                            <div class="bg-error hidden">
                                <div class="help-block field-help-block">
                                    <i class="fa fa-fw fa-exclamation-circle"></i><span
                                        class="field-help-text"></span>
                                </div>
                            </div>

                            <div class="login-form-action">
                                <input type="submit" name="btnSubmit" class="btn btn-primary"
                                       value="Continue"/>
                            </div>

                            <div class="forgot">
                                <a href="{% url 'register' %}" class="link-forgot">Forgot your user ID or password?</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-body" style="padding-bottom: 15px;">
                            <div>
                                <strong>No account?</strong>
                            </div>
                            <a href="{% url 'register' %}"
                               style="text-decoration: underline; font-size: 16px; font-weight: 600;">Register for a
                                BCeID</a>
                        </div>
                    </div>
                    <div>
                        &#x25C0; <a href="./" class="link-cancel">Cancel
                            and return to localdev</a>
                    </div>
                    <hr class="visible-xs">
                </div>

                <div class="col-sm-5 col-md-4">
                </div>
            </div>
        </section>
    </form>
</div>

<footer class="footer-stick-to-bottom">
    <div class="container" id="AccessMessage">
        <div class="row">
            <div class="col-sm-12">
                <p>Access to or unauthorized use of data on this computer system by any person other than the authorized
                    employee(s) or owner(s) of an account is strictly prohibited and may result in legal action against
                    such person.</p>
            </div>
        </div>
    </div>
    <div id="footerWrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="inline">
                        <li data-order="1"><a href="http://www.gov.bc.ca/com/disclaimer.html">Disclaimer</a></li>
                        <li data-order="2"><a href="http://www.gov.bc.ca/com/privacy.html">Privacy</a></li>
                        <li data-order="3"><a href="http://www.gov.bc.ca/com/accessibility.html">Accessibility</a></li>
                        <li data-order="4"><a href="http://www.gov.bc.ca/com/copyright.html">Copyright</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>













