{% extends 'base.html' %}
{% load input_field %}
{% load step_order %}

{% block title %}{{ block.super }}: Prequalification{% endblock %}

{% block progress %}{% include "partials/progress.html" %}{% endblock %}

{% block content %}

<h1><small>Step 1:</small>What are you asking for
    <span class="tooltip-link" data-toggle="tooltip" data-placement="auto" data-html="true" data-trigger="click"
       title="<b>Orders</b><br /><br />A record of a decision made by a judge or master that tells you or your spouse what you must do (or not do).
       For example: The court has made an order that your spouse must pay you $250 on a monthly basis to help pay off your combined debt.">(Orders)<i class="fa fa-question-circle" aria-hidden="true"></i></span>?</h1>

<p class="intro">Please select what you are asking for. Later on you will be asked to provide details for each request.</p>

<div class="checkbox-group">
    <div class="question-well">
        <div class="checkbox">
            <label class="checkbox-header">
                {% input_field type="checkbox" name="want_which_orders" value="A legal end to the marriage" %}<b>A legal end to the marriage</b>
            </label>
        </div>
        <p>
            Divorce is the end of a legal marriage. To get a divorce, you must go through a legal process and get a court order that says the marriage has ended.
        </p>
        <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapse_common_law" aria-controls="collapse_common_law">
            <div>
                Are you in a
                <span class="tooltip-link" data-toggle="tooltip" data-placement="right" data-html="true" title='<b>Common law relationship</b><br /><br />The term "common-law relationship" is often used to refer to
                        a marriage-like relationship that has lasted a certain length of time, usually one or two years.
                        Used in some federal laws to refer to a marriage-like relationship of a year or longer.'>common law relationship<i class="fa fa-question-circle" aria-hidden="true"></i></span> (legally known as a "marriage like relationship)"?
            </div>
        </div>
        <div class="collapse" id="collapse_common_law">
            <div>
                <p>
                    A divorce is a court order, made under the Divorce Act, that ends a marriage. Only married spouses need to get a divorce to end their relationship; unmarried spouses and other unmarried couples do not need to divorce. Their relationships are over when
                    they separate.
                </p>
                <p>
                    So you do not need to ask for a legal end to the marriage (Divorce order). However, if you would like spousal support or property and debt issues addressed, you will need to ask for these orders.
                </p>
                <p><b>Time Limits</b><br /> Note that there are important time limits if you want to apply for spousal support and/or divide property, debt, or a pension.</p>

                <p>If you were living in a marriage-like relationship for at least two years, you must <b>apply within two years of the date you separated</b>.</p>

                <p>
                    For more information refer to the
                    <a href="http://www.familylaw.lss.bc.ca/resources/fact_sheets/spousal_support.php" target="_blank">Spousal Support</a> and
                    <a href="http://www.familylaw.lss.bc.ca/resources/fact_sheets/dividePropertyAndDebts.php" target="_blank">How to Divide Property and Debt fact sheets</a> on the Family Law in B.C. website.
                </p>
            </div>
        </div>
    </div>

    <div class="question-well">
        <div class="checkbox"><label>{% input_field type="checkbox" name="want_which_orders" value="Spousal support" data_target_id="spouse_support_alert" data_reveal_target="true" %}<b>Spousal support</b></label></div>
        <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapseExample2" aria-controls="collapseExample">
            <div>
                What is spousal support?
            </div>
        </div>
        <div class="collapse" id="collapseExample2">
            <div>
                <p>
                    When a couple separates, one spouse may be eligible to receive financial support from the other. This is called spousal support. Spousal support is separate and distinct from child support. Unlike child support, spousal support is not a right in every
                    case. You are entitled to spousal support in certain situations.<br /> The objectives of spousal support are to:
                </p>
                <ul>
                    <li>Deal with any economic advantages or disadvantages a spouse may face as a result of the relationship or separation</li>
                    <li>Share the financial consequences arising from care of the children</li>
                    <li>Reduce the financial hardship a spouse will experience as a result of the separation, and</li>
                    <li>Encourage each spouse to become financially self-sufficient within a reasonable period of time.</li>
                </ul>
                <p>
                    For more information, please refer to the
                    <a href="http://www.familylaw.lss.bc.ca/resources/fact_sheets/spousal_support.php" target="_blank">Spousal Support fact sheet</a> on the Family Law in B.C. website.
                </p>
            </div>
        </div>
        <div class="information-message bg-danger" id="spouse_support_alert" hidden>
            <p>
                If you and your spouse have already agreed on spousal support (which could be in the form of a separation agreement) then you do not need to ask for an Order for Spousal Support. However, if you <b>do not have a separation agreement</b> that deals with spousal support, then you may want to select this option.
            </p>
            <p>
                You can enforce either a separation agreement that has been filed at the registry, which then becomes an order, or you can ask for the order (spousal support) from the court. Either one will be enforceable (require the other party to do something/adhere to what has been agreed).
            </p>
        </div>
    </div>

    <div class="question-well">
        <div class="checkbox"><label>{% input_field type="checkbox" name="want_which_orders" value="Division of property and debts" data_target_id="property_division_alert" data_reveal_target="true" %}<b>Division of property and debts</b></label></div>

        <p>Anything you own including real estate, bank accounts, cars and RRSPs. For more information, please refer to the <a href="http://www.familylaw.lss.bc.ca/resources/fact_sheets/debtsAfterSeparation.php" target="_blank">Dealing with Debts
                After Separation fact sheet</a> on the Family Law in B.C. website.</p>

        <div class="information-message bg-danger" id="property_division_alert" hidden>
            <p>
                If you and your spouse have already agreed on division of property and debts (which could be in the form of a separation agreement) then you do not need to ask for an Order for Division of Property and Debts. However, if you <b>do not have a separation agreement</b> that deals with property and debts, then you may want to select this option.
            </p>
            <p>
                You can enforce either a separation agreement that has been filed at the registry, which then becomes an order, or you can ask for the order (property and debts) from the court. Either one will be enforceable (require the other party to do something/adhere to what has been agreed).
            </p>
        </div>
    </div>

    <div class="question-well">
        <div class="checkbox"><label>{% input_field type="checkbox" name="want_which_orders" value="Other orders" %}<b>Other orders</b></label></div>
        <p>For example, a name change.</p>
    </div>
</div>

{% comment "Not in use - Out of this scope but keep it for later" %}
    <div class="checkbox"><label>{% input_field type="checkbox" name="want_which_orders" value="Child support" %}<b>Child support (Out of scope)</b></label></div>
{% endcomment %}

<div class="information-message bg-danger" id="unselected_orders_alert" hidden>
    <p>We've noticed that at this point in time you are not applying for spousal support and/or division of property, debt, or a pension. If you decide to request these items in the future there are some time limits.</p>
    <h2>Division of Property and Debts</h2>
    <p>If you were married, you must apply to divide property within two years after you get an order for divorce. If you were living in a marriage-like relationship for at least two years, you must apply within two years of the date you separated.</p>
    <h2>Spousal Support</h2>
    <p>If you were married, you must apply for spousal support under the Family Law Act within two years after you get an order for divorce. If you are applying for spousal support under the Divorce Act, you do not have a time limit.</p>
    <p>If you were unmarried, and you qualify for spousal support, you must apply within two years of the date you separated.</p>
</div>

<div id="questions_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-commenting" aria-hidden="true"></i>
                <h1 class="modal-title">What are you asking for (Orders)?</h1>
            </div>
            <div class="modal-body">
                <p>With an undefended divorce (aka desk order divorce) you do not need to appear in court. However a judge needs to review and approve what you are asking for. Orders allow you to tell the court what you want (for example division of property
                    and debt).</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block formBack %}{% url 'overview' %}{% endblock %}

{% block formNext %}{% next_step step='orders' %}{% endblock %}

{% block nextButtonAttribute %}id="check_order_selected" data-proceed="false" data-show_alert="false"{% endblock %}

{% block sidebarText %}
<h3>What are Orders?</h3>
<p>
    An order is the record of the judge's decision. It is filed at the court registry. In Supreme Court, the parties involved in a case (or their lawyers) are responsible for telling the court the order(s) they want.
    This is done by putting the details in writing in their
    <span class="tooltip-link" data-toggle="tooltip" data-placement="right" data-html="true"
           title="<b>Application</b><br /><br />An application is a request to the court for an order or judgment
           which occurs during the course of a court proceeding.What this means is an application is what you are seeking
           from the court and the draft order is the outcome of what is being sought. The draft order includes the full details
           (e.g. child support to be paid by payor or payee, by when, how, etc). of what you want the court to grant." >application<i class="fa fa-question-circle" aria-hidden="true"></i></span>
    and in a
    <span class="tooltip-link" data-toggle="tooltip" data-placement="right" data-html="true"
       title="<b>Draft of the order</b><br /><br />A draft final order sets out what orders (decisions) you want the court to make (what you want the judge to approve).
       The draft final order is reviewed by a judge or master. If the judge or master makes the order you ask for,
       they'll sign the <b>draft order</b> you filed and it becomes your <b>final court order</b>.">draft of the order<i class="fa fa-question-circle" aria-hidden="true"></i></span>
    to be signed by the judge or
    <span class="tooltip-link" data-toggle="tooltip" data-placement="right" data-html="true"
       title="<b>Master</b><br /><br />A master is a judicial officer of the Supreme Court who can hear and decide certain applications,
       including interim applications for parenting or support orders.">master<i class="fa fa-question-circle" aria-hidden="true"></i></span>.
    The judge or master who reviews the application will sign the order, if they approve it.
</p>
<p>
    More information on <a href="http://www.familylaw.lss.bc.ca/resources/fact_sheets/allAboutCourtOrders.php" target="_blank">Court Orders</a> can be found on the Family Law in B.C. website.
</p>
{% endblock %}
