{% extends 'base.html' %}
{% load input_field %}
{% load step_order %}

{% block title %}{{ block.super }}: Your Marriage{% endblock %}

{% block progress %}{% include "partials/progress.html" %}{% endblock %}

{% block content %}

<h1><small>Step 4: </small>Your Marriage</h1>
<p class="intro">It is very important that you enter the information below as it appears on your <span class="tooltip-link" data-toggle="tooltip" data-placement="right" data-html="true"
   title="<b>Original Marriage Certificate</b><br /><br />The marriage certificate you received at the church —
   or any other place where you were married — isn't acceptable in court. You can get a  marriage certificate
   or a certified copy of the registration of marriage from
   <a target='_blank' href='http://www2.gov.bc.ca/gov/content/life-events/marriages/marriage-certificates'>Vital Statistics</a>
   (an office run by the provincial government).">official marriage
    certificate
    <i class="fa fa-question-circle" aria-hidden="true"></i></span>
    or <span class="tooltip-link" data-toggle="tooltip" data-placement="right" data-html="true"
       title="<b>Registration Marriage Certificate</b><br /><br />The Registration of Marriage is the document issued by
       Vital Statistics (an office run by the provincial government) along with the Marriage License. This document
       would have been signed by you and your spouse, the person who married you (the officiant) and your wedding ceremony witnesses.
       Within 48 hours of the wedding, the officiant would have submitted the registration to the Vital Statistics Agency
       where the registration information becomes a permanent legal record. Vital Statistics cannot issue a marriage certificate
       until the marriage is registered. <br/><br/> For more information, please refer to the
       <a href=&quot;http://www2.gov.B.C..ca/gov/content/life-events/marriages/marriage-registration/certified-copies-and-certified-electronic-extracts-of-a-marriage-registration&quot;>Marriage Registration page</a>
       on the  B.C. Government web site."> registration of marriage
    <i class="fa fa-question-circle" aria-hidden="true"></i></span>. Not doing this can result in delays and
    your divorce request being returned for correction.</p>

{% if married_marriage_like == 'Legally married' %}
<div id="when_married" class="question-well {% if when_were_you_married_error %}error{% endif %}">
    <h3>When were you married?{% if when_were_you_married_error %}{% include 'partials/required.html' %}{% endif %}</h3>
    <p>
        <span class="input-group date date-picker-group">
            {% input_field type="text" name="when_were_you_married" class="date-picker form-control" id="marriage_date" placeholder="MMM D, YYYY" %}
            <span class="input-group-addon" >
                <i class="fa fa-calendar circle"></i>
            </span>
        </span>
    </p>
</div>
{% endif %}

<div id="lived_together" class="question-well {% if when_were_you_live_married_like_error %}error{% endif %}">
    <h3>When did you and {% if name_spouse %} {{ name_spouse }} {% else %} your spouse {% endif %} begin to live together in a marriage-like relationship?
        {% if when_were_you_live_married_like_error %}{% include 'partials/required.html' %}{% endif %}</h3>
    <p>
        <span class="input-group date date-picker-group">
            {% input_field type="text" name="when_were_you_live_married_like" class="date-picker form-control" id="lived_start_date" placeholder="MMM D, YYYY" %}
            <span class="input-group-addon" >
                <i class="fa fa-calendar circle"></i>
            </span>
        </span>
    </p>

    <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapse_start_date" aria-controls="collapse_start_date">
        <div>
            How do I determine the start date?
        </div>
    </div>
    <div class="collapse" id="collapse_start_date">
        <div>
            <p>
                Under the law, the start date of a spousal relationship is the day two individuals begin living together in
                a marriage-like relationship, or the day they were married, whichever is first. The start date of
                a spousal relationship determines when rights or responsibilities start under the Family Law Act,
                particularly respecting property division.
            </p>
        </div>
    </div>

    <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapse_exact_start_date" aria-controls="collapse_exact_start_date">
        <div>
            What do I do if I can't remember the exact date?
        </div>
    </div>
    <div class="collapse" id="collapse_exact_start_date">
        <div>
            <p>If you cannot remember the exact date then enter:</p>
            <ul>
                <li>the last day of that month in which you decided to live in a marriage like relationship, and;</li>
                <li>year</li>
            </ul>
        </div>
    </div>
</div>


{% if married_marriage_like == 'Legally married' %}
<div class="question-well {% if where_were_you_married_city_error or where_were_you_married_country_error or where_were_you_married_other_country_error %}error{% endif %}">
    <h3>Where were you married?</h3>
    <p>Enter the location as it appears on the marriage certificate (e.g. city, province or state and country)</p>
    <p>City{% if where_were_you_married_city_error %}{% include 'partials/required.html' %}{% endif %}</p>
    {% input_field type="text" name="where_were_you_married_city" class="form-block input-wide response-textbox" %}
    <p>Prov/State{% include "partials/optional.html" %}</p>
    {% input_field type="text" name="where_were_you_married_prov" class="form-block input-narrow response-textbox" %}
    <p>Country{% if where_were_you_married_country_error or where_were_you_married_other_country_error %}{% include 'partials/required.html' %}{% endif %}</p>

    <div class="radio"><label>{% input_field type="radio" class="radio-with-other" name="where_were_you_married_country" value="Canada" %}Canada</label></div>
    <div class="radio"><label>{% input_field type="radio" class="radio-with-other" name="where_were_you_married_country" value="USA" %}USA</label></div>
    <div class="radio"><label>{% input_field type="radio" class="radio-with-other radio_with_textbox" name="where_were_you_married_country" value="Other" %}Other {% input_field type="text" name="where_were_you_married_other_country" class="response-textbox other-textbox input-inline" tabindex="-1" %}</label></div>
</div>
{% endif %}

<div class="question-well {% if marital_status_before_you_error %}error{% endif %}">
    <h3>Before you got married to {% if name_spouse %} {{ name_spouse }} {% else %} your spouse {% endif %}, what was your marital status?
        {% if marital_status_before_you_error %}{% include 'partials/required.html' %}{% endif %}
    </h3>
    <div class="radio"><label>{% input_field type="radio" name="marital_status_before_you" value="Never married" %}Never married</label></div>
    <div class="radio"><label>{% input_field type="radio" name="marital_status_before_you" value="Divorced" %}Divorced</label></div>
    <div class="radio"><label>{% input_field type="radio" name="marital_status_before_you" value="Widowed" %}Widowed</label></div>
</div>

<div class="question-well {% if marital_status_before_spouse_error %}error{% endif %}">
    <h3>What was the marital status of {% if name_spouse %} {{ name_spouse }} {% else %} your spouse {% endif %} before your marriage?
        {% if marital_status_before_spouse_error %}{% include 'partials/required.html' %}{% endif %}
    </h3>
    <div class="radio"><label>{% input_field type="radio" name="marital_status_before_spouse" value="Never married" %}Never married</label></div>
    <div class="radio"><label>{% input_field type="radio" name="marital_status_before_spouse" value="Divorced" %}Divorced</label></div>
    <div class="radio"><label>{% input_field type="radio" name="marital_status_before_spouse" value="Widowed" %}Widowed</label></div>
</div>


<div id="questions_modal" class="modal in" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-link" aria-hidden="true"></i>
                <h1 class="modal-title">Your Marriage</h1>
            </div>
            <div class="modal-body">
                <p>Now we’d like to learn about the details of your marriage history. Make sure you have a copy of your marriage certificate. You will need this to provide us with the exact date of your marriage.</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</a>
            </div>
        </div>
    </div>
</div>
<div class="modal-backgrop in"></div>

{% endblock %}

{% block formBack %}{% prev_step step='marriage' %}{% endblock %}
{% block formNext %}{% next_step step='marriage' %}{% endblock %}

{% block sidebarText %}
<div>
    <h3>The Laws about People in Relationships</h3>
    <p>The two laws in B.C. that you may need to know about are the provincial Family Law Act and the federal Divorce act. The Family Law Act applies to all married and unmarried spouses. The Divorce Act only applies to married spouses.</p>
</div>
{% endblock %}
