{% extends 'base.html' %}
{% load input_field %}
{% load format_utils %}
{% load step_order %}

{% block title %}{{ block.super }}: Reason For Divorce{% endblock %}

{% block progress %}{% include "partials/progress.html" %}{% endblock %}

{% block content %}


<h1><small>Step 5:</small>Your Separation</h1>
<div class="question-well {% if no_reconciliation_possible_error %}error{% endif %}">
    <h3>There is no possibility my spouse and I will get back together (reconciliation).
        {% if no_reconciliation_possible_error %}{% include 'partials/required.html' %}{% endif %}
    </h3>
    <p>
        For this question, we need to confirm that there is no chance you and your spouse will be getting back together.
        By selecting "I agree" this shows the court that you and your spouse have thoroughly thought out your request for divorce.
    </p>
    {% if no_reconciliation_possible_error %}<div class="warning"><p>In order to process your application, you must agree to this condition. If you can not agree,
        please consult a lawyer.</p></div>{% endif %}
    <div class="checkbox-group">
        <div class="checkbox">
            <label>
                {% input_field type="checkbox" name="no_reconciliation_possible" value="I agree" %}I agree
            </label>
        </div>
    </div>
</div>

<div class="question-well {% if no_collusion_error %}error{% endif %}">
    <p>
        We are legally required to ask whether or not you and {% spouse_name %}
         have agreed to deceive the court. This is called &ldquo;<span class="tooltip-link" data-toggle="tooltip" data-placement="right" data-html="true"
           title="<b>Collusion</b><br /><br />Basically this statement confirms that you and your spouse haven’t lied or tried to deceive the court
           in any way (for example, saying that you’ve been separated for longer than you have been). It is a legal requirement that you confirm you
           are providing accurate and complete information.">collusion<i class="fa fa-question-circle" aria-hidden="true"></i></span>
        &rdquo;. An example of collusion is when a couple agrees to lie about the date of separation to speed up the divorce process.
        {% if no_collusion_error %}{% include 'partials/required.html' with inline=True %}{% endif %}
    </p>
    {% if no_collusion_error %}
        <div class="warning"><p>In order to process your application, you must agree to this condition. If you can not agree,
            please consult a lawyer.</p></div>{% endif %}
    <div class="checkbox-group">
        <div class="checkbox">
            <label>
                {% input_field type="checkbox" name="no_collusion" value="I agree" %} My spouse and I have not engaged in collusion to deceive the court in any way.
            </label>
        </div>
    </div>
</div>

<div id="questions_modal" class="modal in" tabindex="-1" role="dialog" style="display: block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-chain-broken" aria-hidden="true"></i>
                <h1 class="modal-title">Your separation</h1>
            </div>
            <div class="modal-body">
                <p>Ok, the next few questions uses some legal terms but we'll try and help you understand what they mean in plain language.</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</a>
            </div>
        </div>
    </div>
</div>
<div class="modal-backgrop in"></div>
{% endblock %}

{% block formBack %}{% prev_step step='separation' %}{% endblock %}
{% block formNext %}{% next_step step='separation' %}{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
