{% extends 'base.html' %}
{% load input_field %}
{% load format_utils %}
{% load step_order %}

{% block title %}{{ block.super }}: Your Children {% endblock %}

{% block progress %}{% include "partials/progress.html" %}{% endblock %}

{% block content %}
<h1><small>Step {% step_order step="children" %}:</small>Children - Medical & other expenses</h1>

    <div id="__claimant_names" hidden>
        <input name="name_you" value="{% you_name if_blank='You' %}" title="name_you" hidden />
        <input name="name_spouse" value="{% spouse_name if_blank='Your spouse' %}" title="name_spouse" hidden />
        <input name="claimant_children" value="{{ claimant_children }}" title="claimant_children" hidden />
    </div>

    <div class="question-well {% if medical_coverage_available_error %}error{% endif %}">
        <h3>Is medical coverage available for the children? {% if medical_coverage_available_error %}{% include 'partials/required.html' %}{% endif %}
        </h3>
        <div class="btn-radio-group" data-toggle="buttons">
            <label class="btn btn-radio">
                {% input_field type="radio"  name="medical_coverage_available" autocomplete="off" value="YES" data_target_id="who_plan_is_coverage_under" data_reveal_class="true"  data_reveal_target="true" %} Yes
            </label>

            <label class="btn btn-radio">
                {% input_field type="radio"  name="medical_coverage_available" autocomplete="off" value="NO" data_target_id="who_plan_is_coverage_under" data_reveal_class="false" data_reveal_target="false" %} No
            </label>
        </div>
    </div>

    <div class="question-well {% if whose_plan_is_coverage_under_error %}error{% endif %}" id="who_plan_is_coverage_under" hidden>
        <h3>Whose plan is the coverage under? {% if whose_plan_is_coverage_under_error %}{% include 'partials/required.html' %}{% endif %}</h3>
        <p>Please check all that apply:</p>
        <div class="checkbox-group">
            <div class="checkbox"><label>{% input_field type="checkbox" name="whose_plan_is_coverage_under" value="My plan" %} My plan</label></div>
            <div class="checkbox"><label>{% input_field type="checkbox" name="whose_plan_is_coverage_under" value="Spouse" %} Spouse</label></div>
        </div>
    </div>

    <div class="question-well {% if child_support_payments_in_arrears_error %}error{% endif %}">
        <h3>Are there any child support payments (
            <span class="tooltip-link"
              data-toggle="tooltip" data-placement="right" data-html="true"
              title="
                <b>In arrears</b>
                <p>Arrears are past support payments that haven't been paid.</p>
                ">
                in arrears <i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>
            ) that have not been paid (as of today's date) under an existing order or written agreement?
            {% if child_support_payments_in_arrears_error %}{% include 'partials/required.html' %}{% endif %}
        </h3>
            <div class="btn-radio-group" data-toggle="buttons">
                <label class="btn btn-radio">
                    {% input_field type="radio"  name="child_support_payments_in_arrears" autocomplete="off" value="YES" data_target_id="arrears_amount_question" data_reveal_target="true" %} Yes
                </label>

                <label class="btn btn-radio">
                    {% input_field type="radio"  name="child_support_payments_in_arrears" autocomplete="off" value="NO" data_target_id="arrears_amount_question" data_reveal_target="false" %} No
                </label>
            </div>
    </div>
    <div class="question-well {% if child_support_arrears_amount_error %}error{% endif %}" id="arrears_amount_question" hidden>
        <h3>What is the amount as of today's date? {% if child_support_arrears_amount_error %}{% include 'partials/required.html' %}{% endif %}</h3>
        <div class="dollar-prefix">
            {% money_input_field name="child_support_arrears_amount" class="money positive-float form-control input-narrow" min="0" %}
        </div>
    </div>
{% endblock %}


{% block formBack %}{% prev_step step='children' sub_step='payor_medical' %}{% endblock %}
{% block formNext %}{% next_step step='children' sub_step='payor_medical' %}{% endblock %}

{% block sidebarText %}
    <p><strong>Who pays who?</strong></p>
    <p>
        The parent who the child lives with most of the time is entitled to get child support from the other parent
        (the payor). This is to help with the costs of raising the child. If a child spends the same or almost the same
        amount of time with each parent, then parent with the higher income may have to pay child support to the other
        parent.
    </p>
    <p><strong>What is the 40 percent principle?</strong></p>
    <p>
        When a child lives with a payor 40 percent of the time or more, that parent can argue that they don't have to pay
        as much support as the guidelines say. The judge or master may agree and order lower support amounts.
    </p>
    <p>
        When a payor makes this request, the judge or master will consider how often the children are with the payor,
        as well as the gross annual income of each parent and extra costs of sharing parenting time. The court will
        also consider other factors, such as the circumstances of both parents and of the child being supported.
    </p>
    <p><strong>Child Support Officers – Ministry of Justice</strong></p>
    <p>
        For more information about the child support guidelines, a Child Support Office is available in Kelowna,
        Nanaimo, Surrey and Vancouver.  If you don’t live in a community with a Child Support Office you can phone the
        following numbers for assistance:
    </p>
    <p>
        Greater Vancouver: 604 660-2084
    </p>
    <p>
        Elsewhere in B.C.: 1-888-227-7734 (call no charge)
    </p>
{% endblock %}