{% extends 'base.html' %}
{% load input_field %}
{% load step_order %}

{% block title %}{{ block.super }}: Your Children {% endblock %}

{% block progress %}{% include "partials/progress.html" %}{% endblock %}

{% block content %}
    <h1><small>Step {% step_order step="children" %}:</small>Children - Income & expenses</h1>

    <div class="question-well">
        <h3>How will you and your spouse be calculating your income?</h3>
        <p>Under the Federal Guidelines, you can do one of the following:</p>

        <div class="radio">
            <label>
                {% input_field type="radio" name="how_will_calculate_income" autocomplete="off" value="using specific rules" data_target_id="annual_gross_income_question" data_invert_target="#agreement_entered_message" data_reveal_target="true" %}
                Calculate your income using the
                <a href="http://laws-lois.justice.gc.ca/eng/regulations/SOR-97-175/page-2.html#h-6" target="_blank">
                    specific rules
                </a> set out in the Federal Guidelines (
                <span class="tooltip-link keep-tooltip-open"
                  data-toggle="tooltip"
                  data-placement="right"
                  data-html="true"
                  title="<b>Sections 15 to 20</b><br />Details the rules the court considers when determining income.">
                sections 15 to 20<i class="fa fa-question-circle" aria-hidden="true"></i>
                </span>
                )
            </label>
            <p>
                Under these rules, the total income shown on line 150 of your most recent income tax return or your
                notice of assessment is a good place to start. The Federal Child Support Guidelines Step by Step
                Guide has a
                <a href="http://www.justice.gc.ca/eng/rp-pr/fl-lf/child-enfant/guide/w1-f1.html#s1" target="_blank">
                    worksheet
                </a>you can use to help calculate your annual income.
            </p>
        </div>

        <div class="radio">
            <label>
                {% input_field type="radio" name="how_will_calculate_income" id="how_will_calculate_income_agreement" autocomplete="off" value="entered agreement" data_target_id="annual_gross_income_question" data_invert_target="#agreement_entered_message" data_reveal_target="false" %}
                You and your spouse have come to an agreement as to income ( as per the rules under
                <a href="http://laws-lois.justice.gc.ca/eng/regulations/SOR-97-175/page-3.html#docCont" target="_blank">
                    section 21
                </a> of the Federal Child Support Guidelines)
            </label>
            <p>
                For this option you will need to provide the court with another form called the
                <a href="https://www2.gov.bc.ca/assets/gov/law-crime-and-justice/courthouse-services/court-files-records/court-forms/supreme-family/f9.pdf?forcedownload=true" target="_blank">
                    Agreement as to Annual Income (F9)
                </a>.
            </p>
        </div>

        <div class="information-message bg-danger" id="agreement_entered_message" hidden>
            <p>
                You must provide the court with an Agreement as to Annual Income (form 9). You can obtain the
                <a href="https://www2.gov.bc.ca/assets/gov/law-crime-and-justice/courthouse-services/court-files-records/court-forms/supreme-family/f9.pdf?forcedownload=true"
                   target="_blank">F9 form</a>
                on the B.C. Government Courthouse Services website.
            </p>
            <p>If you file an Agreement as to Annual Income, you must also file:</p>
            <ul>
                <li>A copy of the most recent personal income tax return filed by the payor, including any attachments.</li>
                <li>
                    A copy of the most recent notice of assessment or reassessment that the Canada Revenue Agency has
                    issued to the payor.
                </li>
            </ul>
        </div>
    </div>

    <div id="annual_gross_income_question" hidden>
        <div class="question-well">
            <h3>What is your
                <span class="tooltip-link"
                      data-toggle="tooltip" data-placement="right" data-html="true"
                      title="
                    <b>Annual gross income</b>
                    <p>
                        The Federal Guidelines use gross income (a person’s income before taxes and deductions)
                         because it is considered a fairer reflection of income. Net income allows many
                         discretionary deductions that can make it difficult to set fair support. Also, the child
                         support amounts found in the federal tables already account for taxes.
                     </p>
                     <p>
                     Source:
                     <a href='http://laws-lois.justice.gc.ca/eng/regulations/SOR-97-175/page-2.html#h-6' target='_blank'>Federal Child Support Guidelines Step-by-Step Guide</a>, Department of Justice
                     </p>
                    ">
                    annual gross income <i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>
                as per the
                <a href="http://laws-lois.justice.gc.ca/eng/regulations/SOR-97-175/page-2.html#h-6" target="_blank">
                    Federal Child Support Guidelines</a>
                ?
            </h3>
            <div class="dollar-prefix">
                {% money_input_field name="annual_gross_income" value="" class="money form-block response-textbox" %}
            </div>

            <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false"
                 data-target="#collapseFedGuidelines" aria-controls="collapseFedGuidelines">
                <div>
                    What are the Federal Child Support Guidelines?
                </div>
            </div>
            <div class="collapse" id="collapseFedGuidelines">
                <div>
                    <p>
                        The Federal Guidelines are a set of rules and tables used to determine child support when
                        parents
                        divorce. They are the law. Their main goals are:
                    </p>
                    <ul>
                        <li>
                            to establish a fair standard of support for children so that they continue to benefit from
                            both
                            parents’ incomes after the separation or divorce;
                        </li>
                        <li>
                            to reduce conflict and tension between parents by making the calculation of child support
                            more
                            objective;
                        </li>
                        <li>
                            to ensure that parents and children in similar situations are treated the same; and
                        </li>
                        <li>
                            to make the legal process more efficient and encourage settlements by giving courts and
                            parents guidance about child support.
                        </li>
                    </ul>
                    <p>
                        Source:
                        {% include "partials/tooltip_link_federal_child_support_guidelines.html" with reference_link="http://www.justice.gc.ca/eng/rp-pr/fl-lf/child-enfant/guide/start-com.html#h12" link_text="Federal Child Support Guidelines Step-by-Step Guide" %}
                        , Department of Justice
                    </p>
                </div>
            </div>

            <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false"
                 data-target="#collapseIncome" aria-controls="collapseIncome">
                <div>
                    How do I calculate annual income?
                </div>
            </div>
            <div class="collapse" id="collapseIncome">
                <div>
                    <p>
                        The Federal Child Support Guidelines, Step by Step Guide has a
                        <a href="http://www.justice.gc.ca/eng/rp-pr/fl-lf/child-enfant/guide/w1-f1.html#s1"
                           target="_blank">worksheet</a> you can use to help
                        calculate your annual income. Step by step instructions are also detailed in the
                        <a href="http://www.justice.gc.ca/eng/rp-pr/fl-lf/child-enfant/guide/step5-etap5.html#h7"
                           target="_blank">Step by Step Guide</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="question-well">
            <h3>What is your spouse's
                <span class="tooltip-link"
                      data-toggle="tooltip" data-placement="right" data-html="true"
                      title="
                    <b>Annual gross income</b>
                    <p>
                        The Federal Guidelines use gross income (a person’s income before taxes and deductions)
                         because it is considered a fairer reflection of income. Net income allows many
                         discretionary deductions that can make it difficult to set fair support. Also, the child
                         support amounts found in the federal tables already account for taxes.
                     </p>
                     <p>
                     Source:
                     <a href='http://laws-lois.justice.gc.ca/eng/regulations/SOR-97-175/page-2.html#h-6' target='_blank'>Federal Child Support Guidelines Step-by-Step Guide</a>, Department of Justice
                     </p>
                    ">
                    annual gross income <i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>
                as per the
                <a href="http://laws-lois.justice.gc.ca/eng/regulations/SOR-97-175/page-2.html#h-6" target="_blank">
                    Federal Child Support Guidelines</a>
                ?
            </h3>
            <div class="dollar-prefix">
                {% money_input_field name="spouse_annual_gross_income" value="" class="money form-block response-textbox" %}
            </div>

            <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false"
                 data-target="#collapseSpouseFedGuidelines" aria-controls="collapseSpouseFedGuidelines">
                <div>
                    What are the Federal Child Support Guidelines?
                </div>
            </div>
            <div class="collapse" id="collapseSpouseFedGuidelines">
                <div>
                    <p>
                        The Federal Guidelines are a set of rules and tables used to determine child support when
                        parents
                        divorce. They are the law. Their main goals are:
                    </p>
                    <ul>
                        <li>
                            to establish a fair standard of support for children so that they continue to benefit from
                            both
                            parents’ incomes after the separation or divorce;
                        </li>
                        <li>
                            to reduce conflict and tension between parents by making the calculation of child support
                            more
                            objective;
                        </li>
                        <li>
                            to ensure that parents and children in similar situations are treated the same; and
                        </li>
                        <li>
                            to make the legal process more efficient and encourage settlements by giving courts and
                            parents guidance about child support.
                        </li>
                    </ul>
                    <p>
                        Source:
                        {% include "partials/tooltip_link_federal_child_support_guidelines.html" with reference_link="http://www.justice.gc.ca/eng/rp-pr/fl-lf/child-enfant/guide/start-com.html#h12" link_text="Federal Child Support Guidelines Step-by-Step Guide" %}
                        , Department of Justice
                    </p>
                </div>
            </div>

            <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false"
                 data-target="#collapseSpouseIncome" aria-controls="collapseSpouseIncome">
                <div>
                    How do I calculate my spouse's annual income?
                </div>
            </div>
            <div class="collapse" id="collapseSpouseIncome">
                <div>
                    <p>
                        A spouse’s annual income is determined using the sources of income set out under the heading
                        “Total income” in the T1 General form issued by the Canada Revenue Agency and is adjusted in
                        accordance with Schedule III.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="question-well">
        <h3>Are you or your spouse claiming undue hardship?</h3>
        <p>
            The Child Support Guidelines tables contain the base amounts for child support. If you our your spouse feel
            that the child support amount will not leave enough money, you can claim that you will suffer
            <span class="tooltip-link"
                  data-toggle="tooltip" data-placement="right" data-html="true"
                  title="
                    <b>Undue hardship</b>
                    <p>
                        Circumstances that show the amount of child support under the child support guidelines is too
                        high or low. Must create &quot;undue&quot; (exceptional, excessive or disproportionate) difficulty
                        for the person making the claim.
                     </p>
                     <p>
                     A term used by the Child Support Guidelines to describe circumstances when payment of the table
                     amount of child support would cause financial difficulty for the payor or the recipient, potentially
                     justifying an award of support in an amount different than the table amount. See &quot;child support,&quot;
                     &quot;Child Support Guidelines&quot; and &quot;table amount.&quot;
                     </p>
                    ">
                    undue hardship<i class="fa fa-question-circle" aria-hidden="true"></i>.
            </span>
        </p>

        <div class="btn-radio-group" data-toggle="buttons">
            <label class="btn btn-radio">
                {% input_field type="radio" name="claiming_undue_hardship" autocomplete="off" value="YES" data_target_id="fact_sheet_e"  data_reveal_target="true" %} YES
            </label>

            <label class="btn btn-radio">
                {% input_field type="radio" name="claiming_undue_hardship" autocomplete="off" value="NO" data_target_id="fact_sheet_e"  data_reveal_target="false" %} NO
            </label>
        </div>

        <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false"
             data-target="#collapse_undue_hardship_situations"
             aria-controls="collapse_undue_hardship_situations">
            <div>
                What situations are considered to be undue hardship?
            </div>
        </div>
        <div class="collapse" id="collapse_undue_hardship_situations">
            <div>
                <p>The types of situations that might result in undue hardship include:</p>
                <ul>
                    <li>having an unusual or excessive amount of debt,</li>
                    <li>having to make other support payments to children of another family (for example, from a previous marriage),</li>
                    <li>having to support a disabled or ill person, and</li>
                    <li>having to spend a lot of money to visit the child (for example, airfare to another city).</li>
                </ul>
            </div>
        </div>
        <div id="fact_sheet_e" class="question-well-border-less" hidden>
            <h1>Fact Sheet E Undue Hardship</h1>
            <p>
                Since you have previously indicated that you will be claiming undue hardship you will need to provide
                answers to the next set of questions. A claim for undue hardship can only be considered if the parent
                making the claim can show that their household’s standard of living is not higher than the standard of
                living in the household of the other parent. Often, income alone (which is all that is used to calculate
                the guideline amount) does not reflect other circumstances that may impact a households’ finances.
            </p>
            <p><strong>Unusual or excessive debts</strong></p>
            <p>
                What are the unusual or excessive debts that you owe? These are debts that were taken on to support the family
                before you separated (e.g. student loans). The debt can also be due to earning a living (e.g. vehicle,
                specialized equipment).
            </p>
            <table id="claimant_debts" class="list-builder">
                <thead>
                    <tr class="list-builder-header">
                        <th class="table-bordered">Debt name</th>
                        <th class="table-bordered">What are the
                            <span class="tooltip-link"
                                  data-toggle="tooltip" data-placement="right" data-html="true"
                                  title="
                                    <b>Terms of this Debt</b>
                                    <p>For example, how much is owed, what is the rate of interest,
                                    when it must be repaid.</p>
                                    ">
                                terms of this debt<i class="fa fa-question-circle" aria-hidden="true"></i>
                            </span>?
                        </th>
                        <th class="table-bordered">Monthly amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="debt-group" hidden>
                            {% include "partials/fact_sheet_excessive_debt.html" with debt_monthly_amount=0%}
                        </tr>
                    {% if claimant_debts and claimant_debts != '[]' %}
                        {% multiple_values_to_list source=claimant_debts as debts %}
                        {% for debt in debts %}
                            <tr class="debt-item-row">
                                {% include "partials/fact_sheet_excessive_debt.html" with debt_name=debt.debt_name debt_terms=debt.debt_terms debt_monthly_amount=debt.debt_monthly_amount exclude_delete_button=forloop.first %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="debt-item-row">
                            {% include "partials/fact_sheet_excessive_debt.html" with debt_monthly_amount=0 exclude_delete_button=True%}
                        </tr>
                    {% endif %}
                </tbody>
                <tbody>
                    <tr>
                        <td class="btn-add-debt fact-sheet-control" colspan="3" readonly>
                            <a href=""><i class="fa fa-plus btn-add-debt"></i>   Add Debt</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p><strong>Unusually high expenses for parenting time, contact with, or access to a child.</strong></p>
            <p>
                For example, airfare and accommodation to visit the child in another city.
            </p>
            <table id="claimant_expenses" class="list-builder">
                <thead>
                    <tr class="list-builder-header">
                        <th class="table-bordered">Expense</th>
                        <th class="table-bordered">Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="expense-group" hidden>
                            {% include "partials/fact_sheet_expense.html" with expense_amount=0%}
                        </tr>
                    {% if claimant_expenses and claimant_expenses != '[{}]' %}
                        {% multiple_values_to_list source=claimant_expenses as expenses %}
                        {% for expense in expenses %}
                            <tr class="expense-item-row">
                                {% include "partials/fact_sheet_expense.html" with expense_name=expense.expense_name expense_amount=expense.expense_amount exclude_delete_button=forloop.first %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="expense-item-row">
                            {% include "partials/fact_sheet_expense.html" with expense_amount=0 exclude_delete_button=True %}
                        </tr>
                    {% endif %}
                </tbody>
                <tbody>
                    <tr>
                        <td class="btn-add-expense fact-sheet-control" colspan="2" readonly>
                            <a href=""><i class="fa fa-plus btn-add-expense"></i>   Add Expense</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p><strong>Supporting another person</strong></p>
            <p>
               Legal duty to support any other person, such as a former spouse or a new spouse who is too ill or disabled to be able to support himself or herself.
            </p>
            <table id="supporting_non_dependents" class="list-builder">
                <thead>
                    <tr class="list-builder-header">
                        <th class="table-bordered">Name of person</th>
                        <th class="table-bordered">Relationship</th>
                        <th class="table-bordered">Describe reason(s) for support</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="supporting-non-dependent-group" hidden>
                            {% include "partials/fact_sheet_supporting_person.html" with name_field="non_dependent_name" relationship_field="non_dependent_relationship" reason_field="non_dependent_reason" input_field_class="supporting-non-dependent-input-field" save_selector=".supporting-non-dependent-input-field" delete_button_class="btn-delete-supporting-non-dependent" %}
                        </tr>
                    {% if supporting_non_dependents and supporting_non_dependents != '[{}]' %}
                        {% multiple_values_to_list source=supporting_non_dependents as non_dependents %}
                        {% for non_dependent in non_dependents %}
                            <tr class="supporting-non-dependent-item-row">
                                {% include "partials/fact_sheet_supporting_person.html" with name_field="non_dependent_name" relationship_field="non_dependent_relationship" reason_field="non_dependent_reason" input_field_class="supporting-non-dependent-input-field" save_selector=".supporting-non-dependent-input-field" delete_button_class="btn-delete-supporting-non-dependent" name=non_dependent.non_dependent_name relationship=non_dependent.non_dependent_relationship reason=non_dependent.non_dependent_reason exclude_delete_button=forloop.first %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="supporting-non-dependent-item-row">
                            {% include "partials/fact_sheet_supporting_person.html" with name_field="non_dependent_name" relationship_field="non_dependent_relationship" reason_field="non_dependent_reason" input_field_class="supporting-non-dependent-input-field" save_selector=".supporting-non-dependent-input-field" delete_button_class="btn-delete-supporting-non-dependent" exclude_delete_button=True %}
                        </tr>
                    {% endif %}
                </tbody>
                <tbody>
                    <tr>
                        <td class="btn-add-supporting-non-dependent fact-sheet-control" colspan="3" readonly>
                            <a href=""><i class="fa fa-plus btn-add-supporting-non-dependent"></i>   Add Person</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p><strong>Supporting dependent child/children from another relationship.</strong></p>
            <p>
               List the names of any other children for whom you have a legal duty to make support payments to.
                Do not include the names of any children for whom you are asking for support for as a part of this
                divorce application.
            </p>
            <table id="supporting_dependents" class="list-builder">
                <thead>
                    <tr class="list-builder-header">
                        <th class="table-bordered">Child's name</th>
                        <th class="table-bordered">Relationship</th>
                        <th class="table-bordered">Describe reason(s) for support</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="supporting-dependent-group" hidden>
                            {% include "partials/fact_sheet_supporting_person.html" with name_field="supporting_dependent_name" relationship_field="supporting_dependent_relationship" reason_field="supporting_dependent_reason" input_field_class="supporting-dependent-input-field" delete_button_class="btn-delete-supporting-dependent" save_selector=".supporting-dependent-input-field" %}
                        </tr>
                    {% if supporting_dependents and supporting_dependents != '[{}]' %}
                        {% multiple_values_to_list source=supporting_dependents as dependents %}
                        {% for dependent in dependents %}
                            <tr class="supporting-dependent-item-row">
                                {% include "partials/fact_sheet_supporting_person.html" with name_field="supporting_dependent_name" relationship_field="supporting_dependent_relationship" reason_field="supporting_dependent_reason" input_field_class="supporting-dependent-input-field" delete_button_class="btn-delete-supporting-dependent" save_selector=".supporting-dependent-input-field" name=dependent.supporting_dependent_name relationship=dependent.supporting_dependent_relationship reason=dependent.supporting_dependent_reason exclude_delete_button=forloop.first %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="supporting-dependent-item-row">
                            {% include "partials/fact_sheet_supporting_person.html" with exclude_delete_button=True name_field="supporting_dependent_name" relationship_field="supporting_dependent_relationship" reason_field="supporting_dependent_reason" input_field_class="supporting-dependent-input-field" delete_button_class="btn-delete-supporting-dependent" save_selector=".supporting-dependent-input-field"%}
                        </tr>
                    {% endif %}
                </tbody>
                <tbody>
                    <tr>
                        <td class="btn-add-supporting-dependent fact-sheet-control" colspan="3" readonly>
                            <a href=""><i class="fa fa-plus btn-add-supporting-dependent"></i>   Add Person</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p><strong>Support for a disabled or ill person.</strong></p>
            <table id="supporting_disabled" class="list-builder">
                <thead>
                    <tr class="list-builder-header">
                        <th class="table-bordered">Name of person</th>
                        <th class="table-bordered">Relationship</th>
                        <th class="table-bordered">Describe reason(s) for support</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="supporting-disabled-group" hidden>
                            {% include "partials/fact_sheet_supporting_person.html" with name_field="supporting_disabled_name" relationship_field="supporting_disabled_relationship" reason_field="supporting_disabled_reason" input_field_class="supporting-disabled-input-field" delete_button_class="btn-delete-supporting-disabled" save_selector=".supporting-disabled-input-field" %}
                        </tr>
                    {% if supporting_disabled and supporting_disabled != '[{}]' %}
                        {% multiple_values_to_list source=supporting_disabled as dependents %}
                        {% for dependent in dependents %}
                            <tr class="supporting-disabled-item-row">
                                {% include "partials/fact_sheet_supporting_person.html" with name_field="supporting_disabled_name" relationship_field="supporting_disabled_relationship" reason_field="supporting_disabled_reason" input_field_class="supporting-disabled-input-field" delete_button_class="btn-delete-supporting-disabled" name=dependent.supporting_disabled_name relationship=dependent.supporting_disabled_relationship reason=dependent.supporting_disabled_reason save_selector=".supporting-disabled-input-field" exclude_delete_button=forloop.first %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="supporting-disabled-item-row">
                            {% include "partials/fact_sheet_supporting_person.html" with exclude_delete_button=True name_field="supporting_disabled_name" relationship_field="supporting_disabled_relationship" reason_field="supporting_disabled_reason" input_field_class="supporting-disabled-input-field" delete_button_class="btn-delete-supporting-disabled" exclude_delete_button=True save_selector=".supporting-disabled-input-field"%}
                        </tr>
                    {% endif %}
                </tbody>
                <tbody>
                    <tr>
                        <td class="btn-add-supporting-disabled fact-sheet-control" colspan="3" readonly>
                            <a href=""><i class="fa fa-plus btn-add-supporting-disabled"></i>   Add Person</a>
                        </td>
                    </tr>
                </tbody>
            </table>


            <p class="fact-sheet-table-inline-question">
                Other undue hardship circumstances
                {% input_field type="textarea" name="undue_hardship" value="" maxlength="500"  multiple='true' class="fact-sheet-input form-control response-textarea" placeholder="" %}
            </p>


            <p><strong>Income of Other Persons in Household</strong></p>
            <p>
                Enter the name (s) and income for any other persons in your household (e.g. co-parent, step parent)
                who have a
                <span class="tooltip-link"
                          data-toggle="tooltip"
                          data-placement="right"
                          data-html="true"
                          title="<b>Duty to support</b><br />
                          Parents and guardians have a responsibility (duty) under the law to financially support their
                          children, whether or not they see or take care of the children.  A parent, for the purposes
                          of child support, may include a stepparent if they were living together, in a relationship,
                          with the child’s parent and the child during the child’s life.  The duty of a stepparent or
                          non-parent guardian to provide support is secondary to that of the child’s parents.">
                    duty to support<i class="fa fa-question-circle" aria-hidden="true"></i>
                </span>


                a child.
            </p>
            <table id="income_others" class="list-builder list-builder-compact">
                <thead>
                    <tr class="list-builder-header">
                        <th class="table-bordered">Name of person</th>
                        <th class="table-bordered">Annual income</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="income-others-group" hidden>
                            {% include "partials/fact_sheet_income_others.html" with income_others_amount=0%}
                        </tr>
                    {% if income_others and income_others != '[{}]' %}
                        {% multiple_values_to_list source=income_others as incomes %}
                        {% for income in incomes %}
                            <tr class="income-others-item-row">
                                {% include "partials/fact_sheet_income_others.html" with income_others_name=income.income_others_name income_others_amount=income.income_others_amount exclude_delete_button=forloop.first %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="income-others-item-row">
                            {% include "partials/fact_sheet_income_others.html" with exclude_delete_button=True income_others_amount=0%}
                        </tr>
                    {% endif %}
                </tbody>
                <tbody>
                    <tr>
                        <td class="table-bordered">
                            Total
                        </td>
                        <td class="fact-sheet-answer table-bordered" readonly>
                            <div class="dollar-prefix">
                                {% money_input_field id="total_income_others" class="fact-sheet-input money" readonly="" %}
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="btn-add-income-others fact-sheet-control" colspan="2" readonly>
                            <a href="" tabindex="-1"><i class="fa fa-plus btn-add-income-others"></i>   Add Person</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="undue_amount_question" hidden></div>
        </div>
    </div>

    <div class="question-well">
        <h3>
            Are there any
            <span class="tooltip-link"
                  data-toggle="tooltip" data-placement="right" data-html="true"
                  title="
                    <b>Special and extraordinary expenses</b>
                    <p>
                        Special expenses are over and above the regular cost of living for a child,
                        such as the cost of child care or post-secondary education. Extraordinary
                        expenses are for education, programs, or extracurricular activities that meet
                        the child's needs, such as for tutoring or private school, or for other
                        activities at which the child excels.
                     </p>
                    ">
                    special and extraordinary expenses<i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>?
        </h3>
        <div class="checkbox-group">
            <div class="checkbox">
                <label>{% input_field type="checkbox" name="special_extraordinary_expenses" value="None" data_checkbox_radio="true" data_checkbox_radio_state_set="false" data_target_id="fact_sheet_a" data_reveal_target="false" %}
                    <b>None</b>
                </label>
            </div>
            <div class="checkbox">
                <label>{% input_field type="checkbox" name="special_extraordinary_expenses" value="Children's Child Care" class="positive-reveal" data_checkbox_radio="true" data_checkbox_radio_state_set="true" data_target_id="fact_sheet_a" data_reveal_target="true" data_reveal_control_group=".positive-reveal" %}
                    <b>Children's Child Care</b>
                </label>
            </div>
            <div class="checkbox">
                <label>{% input_field type="checkbox" name="special_extraordinary_expenses" value="Medical" class="positive-reveal" data_checkbox_radio="true" data_checkbox_radio_state_set="true" data_target_id="fact_sheet_a" data_reveal_target="true" data_reveal_control_group=".positive-reveal"%}
                    <b>Medical</b>
                </label>
                <p>
                    Health-related expenses that exceed insurance reimbursement by at least $100 per year, including
                    orthodontic
                    treatments, counseling, physiotherapy, occupational therapy, speech therapy, hearing therapy,
                    prescription
                    drugs, hearing aids, glasses, and contact lenses
                </p>
            </div>
            <div class="checkbox">
                <label>{% input_field type="checkbox" name="special_extraordinary_expenses" value="Education" class="positive-reveal"  data_checkbox_radio="true" data_checkbox_radio_state_set="true" data_target_id="fact_sheet_a" data_reveal_target="true" data_reveal_control_group=".positive-reveal"%}
                    <b>Education</b>
                </label>
                <p>
                    Expenses for post-secondary education, tutoring, private school (if the child was attending private
                    school before the separation and the parents can afford the expense)
                </p>
            </div>
            <div class="checkbox">
                <label>{% input_field type="checkbox" name="special_extraordinary_expenses" value="Extraordinary extracurricular activity expenses" class="positive-reveal"  data_checkbox_radio="true" data_checkbox_radio_state_set="true" data_target_id="fact_sheet_a" data_reveal_target="true" data_reveal_control_group=".positive-reveal"%}
                    <b>Extraordinary extracurricular activity expenses</b>
                </label>
                <p>
                    Expenses for activities in which the child excels and is shown to be particularly gifted (for example,
                    expenses for a child who is a gifted figure skater, but not expenses for general skating lessons)
                </p>
            </div>
        </div>
    </div>
{% endblock %}


{% block formBack %}{% prev_step step='children' sub_step='income_expenses' %}{% endblock %}
{% block formNext %}{% next_step step='children' sub_step='income_expenses' %}{% endblock %}

{% block sidebarText %}
    <p><strong>When you may need to adjust your income</strong></p>
    <p>You may need to adjust your income if, for example:</p>
    <ul>
        <li>your income varies a lot from year to year;</li>
        <li>you received a one-time payment, such as a bonus;</li>
        <li>you live in another country where tax rates are very different;</li>
        <li>you pay or receive spousal support;</li>
        <li>you receive the Universal Child Care Benefit.</li>
    </ul>
    <p>
        <a href="http://www.justice.gc.ca/eng/rp-pr/fl-lf/child-enfant/guide/w1-f1.html#s1" target="_blank">Worksheet 1</a>
        shows you how to adjust your income under the Federal Guidelines. The instructions for the worksheet give more
        information on how to calculate income in a variety of situations.
    </p>
    <p>
        Source:
        {% include "partials/tooltip_link_federal_child_support_guidelines.html" with reference_link="http://www.justice.gc.ca/eng/rp-pr/fl-lf/child-enfant/guide/step5-etap5.html#h7" link_text="Federal Child Support Guidelines" %}
        , Department of Justice
    </p>

    <p><strong>Undue Hardship</strong></p>
    <p>
        In any claim for hardship, the court also compares the standards of living of the two households. The court will
        refuse a claim of undue hardship if it would result in the payor's household having a higher standard of living
        than the recipient's.
    </p>
    <p>
        For more information on
        <a href="http://www.familylaw.lss.bc.ca/resources/fact_sheets/child_support.php" target="_blank">undue hardship</a>
        refer to the Family Law of B.C. website.
    </p>

    <p><strong>What are special and extraordinary expenses?</strong></p>
    <p>
        The child support guidelines say that each parent is required to contribute to the special or extraordinary
        expenses of raising the children (examples are listed below). These are expenses that go above and beyond what
        is covered by the child support itself. In making decisions about what to spend on these special expenses,
        consider:
    </p>
    <ul>
        <li>Whether the expense is needed to address your child's best interests, and</li>
        <li>How reasonable the expense is, given your income and that of the other party.</li>
        <li>
            The amount that must be contributed is based on the proportionate incomes of the parents. For example, if
            the payor earns twice as much as the recipient, the payor will be required to contribute twice as much.
        </li>
    </ul>
    <p>
        Either parent can claim special or extraordinary expenses. For example, if you're the payor and you're paying for
        private school for your child who isn't living with you, you may still get the other parent to contribute.
    </p>
    <p>
        More details on what are
        <a href="http://www.familylaw.lss.bc.ca/resources/fact_sheets/child_support.php" target="_blank">
            generally considered special or extraordinary expenses
        </a>
        can be found on the Family Law of B.C. website.
    </p>

    <p><strong>When the table amounts might not apply</strong></p>
    <p>Judges (or masters) will consider making orders for amounts that are less than those shown in the tables if:</p>
    <ul>
        <li>the court agrees with the payor's claim for undue hardship (see below),</li>
        <li>the child is 19 or over (and not in school full-time),</li>
        <li>the payor is a step-parent,</li>
        <li>one parent's income is over $150,000, or</li>
        <li>one parent makes a claim for special or extraordinary expenses (see below).</li>
    </ul>
    <p>
        Also, children under 19 may no longer be eligible for child support if they get married or voluntarily leave
        their parents' home for reasons other than family violence or intolerable living conditions.
    </p>
    <p>
        To speak to someone in person, you can call the Department of Justice Canada's Family Law Information Line at
        1-888-373-2222. When you call, be ready to tell them:
    </p>
    <ul>
        <li>Where the paying parent lives</li>
        <li>Whether both parents live in the same province or territory, and</li>
        <li>The number of children to be supported</li>
    </ul>

    <p><strong>Fed Child Support guidelines Inline Def/disclaimer</strong></p>
    <p>
        This is a copy of an official work that is published by the Government of Canada and that this copy has not
        been produced in affiliation with, or with the endorsement of the Government of Canada.
    </p>
</div>

{% endblock %}
