{% extends 'base.html' %}
{% load input_field %}
{% load step_order %}

{% block title %}{{ block.super }}: Your Children {% endblock %}

{% block progress %}{% include "partials/progress.html" %}{% endblock %}

{% block content %}
<h1><small>Step {% step_order step="children" %}:</small>Children - Payor & medical expenses</h1>

    <div id="__claimant_names" hidden>
        <input name="name_you" value="{{ name_you }}" title="name_you" hidden />
        <input name="name_spouse" value="{{ name_spouse }}" title="name_spouse" hidden />
        <input name="claimant_children" value="{{ claimant_children }}" title="claimant_children" hidden />
    </div>

    <div class="question-well">
        <h3>Who is the
            <span class="tooltip-link"
                  data-toggle="tooltip" data-placement="right" data-html="true"
                  title="
                    <b>Payor</b>
                    <p>The person who pays child support.</p>
                    ">
                    payor<i class="fa fa-question-circle" aria-hidden="true"></i>
                </span>
            ?
        </h3>
        <p>
            Please select one
        </p>

        <div class="radio">
            <label>
                {% input_field type="radio" name="child_support_payor" autocomplete="off" value="Myself (Claimant 1)" %} {% if name_you %}{{ name_you }} {% else %} Myself {% endif %}(Claimant 1)
            </label>
        </div>
        <div class="radio">
            <label>
                {% input_field type="radio" name="child_support_payor" autocomplete="off" value="My Spouse (Claimant 2)" %} {% if name_spouse %}{{ name_spouse }} {% else %} My spouse {% endif %} (Claimant 2)
            </label>
        </div>
        <div class="radio">
            <label>
                {% input_field type="radio" name="child_support_payor" autocomplete="off" value="Both myself and my spouse" %} Both {% if name_you %}{{ name_you }} {% else %} myself {% endif %} and {% if name_spouse %}{{ name_spouse }} {% else %} my spouse {% endif %}
            </label>
        </div>

        <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapse_determine_payor" aria-controls="collapse_determine_payor">
            <div>
                How do I determine who is the payor?
            </div>
        </div>
        <div class="collapse" id="collapse_determine_payor">
            <div>
                <p>
                    The parent who the child lives with most of the time is entitled to child support from the other
                    parent. If a child spends equal (or almost equal) time with both parents, the parent with the higher
                    income will usually have to pay child support.
                </p>
            </div>
        </div>
    </div>

    <div class="question-well" id="monthly_amount_question" hidden>
        <h3>What is the monthly child support amount (as per
            <a href="http://laws-lois.justice.gc.ca/eng/regulations/SOR-97-175/page-5.html#h-9" target="_blank">Schedule 1</a>
            of the guidelines) that is payable by <span class="__name-of-payor"></span>?</h3>
        <div class="dollar-prefix">
            {% money_input_field name="payor_monthly_child_support_amount" class="money form-block response-textbox children-input-block" data_mirror="true" data_mirror_target="#child_support_amount_label" %}
        </div>

        <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapse_determine_payor_amount" aria-controls="collapse_determine_payor_amount">
            <div>
                How do I determine what amount needs to be paid?
            </div>
        </div>
        <div class="collapse" id="collapse_determine_payor_amount">
            <div>
                <p>
                    Child support orders made in British Columbia are based on the
                    <a href="http://laws-lois.justice.gc.ca/eng/regulations/SOR-97-175/page-1.html" target="_blank">
                        Federal Child Support Guidelines.
                    </a>These guidelines contain clear rules that courts use to set child support as well as tables
                    that list the amount of child support the payor has to pay. These amounts are based on how much he
                    or she earns and how many children the payor must support. Each province has its own table; use the
                    one for the province where the payor lives.
                </p>
                <p>
                    To figure out how much child support the payor will be paying under the guidelines:
                </p>
                <ul>
                    <li>Use the
                        <a href="http://www.justice.gc.ca/eng/fl-df/child-enfant/2017/look-rech.asp" target="_blank">
                            Child Support Table Lookup tool
                        </a> (effective from November 22, 2017) to calculate the
                        correct amount of child support.
                    </li>
                </ul>
                <p>
                    or
                </p>
                <ul>
                    <li>Refer to the
                        <a href="http://www.justice.gc.ca/eng/fl-df/child-enfant/ft-tf.html" target="_blank">
                            Federal Child Support Tables
                        </a>. Make sure you view the table pertaining to the province where the payor lives.
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse-trigger collapsed" data-toggle="collapse" aria-expanded="false" data-target="#collapse_schedule_one" aria-controls="collapse_schedule_one">
            <div>
                 What is Schedule 1?
            </div>
        </div>
        <div class="collapse" id="collapse_schedule_one">
            <div>
                <p>
                    Schedule 1 refers to the federal child support tables which set out the amount of monthly child
                    support payments for each province on the basis of the annual income of the spouse ordered to pay
                    child support (the “support payer”) and the number of children for whom a table amount is payable.
                </p>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>If...</th>
                            <th>Then…</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>you both live in the same province or territory</td>
                        <td>use the table for that province or territory.</td>
                    </tr>
                    <tr>
                        <td>you live in different provinces or territories and one of you has sole custody and the other
                            parent must pay support
                        </td>
                        <td>use the table for the province or territory where the paying parent lives.</td>
                    </tr>
                    <tr>
                        <td>you live in different provinces or territories and you share or split custody</td>
                        <td>use the tables for both provinces or territories where you reside to determine what you
                            would each pay to the other parent.
                        </td>
                    </tr>
                    <tr>
                        <td>one of you lives outside Canada</td>
                        <td>use the table for the province or territory where the parent in Canada lives. The laws of
                            the other country may apply in some cases. You may want to consult a lawyer. You may also
                            find information relating to <a target="_blank" href="http://www.justice.gc.ca/eng/fl-df/enforce-execution/enforce-execut.html">interjurisdictional
                                support</a> useful.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="question-well">
        <h3>What is the monthly child support amount
                <span class="tooltip-link"
                  data-toggle="tooltip" data-placement="right" data-html="true"
                  title="
                    <b>Proposed in the order</b>
                    <p>When you file your completed divorce forms at the court registry they will include the &quot;order&quot;
                    you want made. Basically you're asking the court (via a judge) to approve what you are asking for
                    and/or have agreed upon (e.g. monthly child support amount).
                    </p>
                    ">
                    proposed in the order<i class="fa fa-question-circle" aria-hidden="true"></i>
                </span>
             to be paid by <span class="__name-of-payor"></span>?
        </h3>
        <div class="radio">
            <label>
                {% input_field type="radio" name="child_support_in_order" value="YES" data_target_id="does_amount_match" data_reveal_target="true" %}$ <span id="child_support_amount_label">{{ payor_monthly_child_support_amount }}</span>
            </label>
        </div>

        {% if how_will_calculate_income != 'entered agreement' %}
        <div class="radio">
            <label>
                {% input_field type="radio" class="radio-with-other radio_with_textbox" name="child_support_in_order" value="NO" data_target_id="does_amount_match" data_reveal_target="false" %}We are not asking for child support to be included in the order
            </label>
            <p>
                Please describe what arrangements have made for the support of the child (ren)?
                {% input_field type="textarea" name="child_support_in_order_reason" class="other-textbox response-textarea form-control" tabindex="-1" maxlength="500" rows="3" %}
            </p>
        </div>
        {% endif %}
    </div>

    <div class="question-well" id="does_amount_match" hidden>
        <h3>Does this amount match with what is specified in the current
            <a href="http://laws-lois.justice.gc.ca/eng/regulations/SOR-97-175/page-1.html" target="_blank">
                Federal Child Support Guidelines
            </a>amount based on the income of the payor(s)?
        </h3>
        <div class="radio">
            <label>
                {% input_field type="radio" name="does_payour_amount_match_guidelines" value="YES" data_target_id="amount_does_not_match" data_reveal_target="false" %} Yes
            </label>
        </div>
        <div class="radio">
            <label>
                {% input_field type="radio" name="does_payour_amount_match_guidelines" value="NO" data_target_id="amount_does_not_match" data_reveal_target="true" %} No
            </label>
        </div>
    </div>

    <div class="question-well" id="amount_does_not_match" hidden>
        <h3>Do you and the other parent agree (have consented) on the child support amount?</h3>
        <div class="radio">
            <label>
                {% input_field type="radio" name="claimants_agree_to_child_support_amount" value="YES" data_target_id="what_special_provisions" data_reveal_target="false" %} Yes
            </label>
        </div>
        <div class="radio">
            <label>
                {% input_field type="radio" name="claimants_agree_to_child_support_amount" value="NO" data_target_id="what_special_provisions" data_reveal_target="true" %} No
            </label>
        </div>
    </div>

    <div class="question-well" id="what_special_provisions" hidden>
        <h3>What special provisions have been made?</h3>
        {% input_field type="textarea" name="child_support_payment_special_provisions" class="response-textarea form-control" tabindex="-1" maxlength="1000" rows="3" %}
    </div>

    <div class="question-well">
        <h3>Is medical coverage available for the children?</h3>
        <div class="btn-radio-group" data-toggle="buttons">
            <label class="btn btn-radio">
                {% input_field type="radio"  name="medical_coverage_available" autocomplete="off" value="YES" data_target_id="who_plan_is_coverage_under" data_reveal_class="true"  data_reveal_target="true" %} Yes
            </label>

            <label class="btn btn-radio">
                {% input_field type="radio"  name="medical_coverage_available" autocomplete="off" value="NO" data_target_id="who_plan_is_coverage_under" data_reveal_class="false" data_reveal_target="false" %} No
            </label>
        </div>
    </div>

    <div class="question-well" id="who_plan_is_coverage_under" hidden>
        <h3>Whose plan is the coverage under?</h3>
        <div class="radio">
            <label>
                {% input_field type="radio" name="whose_plan_is_coverage_under" value="My plan" %} My plan
            </label>
        </div>
        <div class="radio">
            <label>
                {% input_field type="radio" name="whose_plan_is_coverage_under" value="Spouse" %} Spouse
            </label>
        </div>
    </div>

    <div class="question-well">
        <h3>Are there any child support payments (
            <span class="tooltip-link"
              data-toggle="tooltip" data-placement="right" data-html="true"
              title="
                <b>In arrears</b>
                <p>Arrears are past support payments that haven't been paid.</p>
                ">
                in arrears <i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>
            ) that have not been paid (as of today's date) under an existing order or written agreement?</h3>
            <div class="btn-radio-group" data-toggle="buttons">
                <label class="btn btn-radio">
                    {% input_field type="radio"  name="child_support_payments_in_arrears" autocomplete="off" value="YES" data_target_id="arrears_amount_question" data_reveal_target="true" %} Yes
                </label>

                <label class="btn btn-radio">
                    {% input_field type="radio"  name="child_support_payments_in_arrears" autocomplete="off" value="NO" data_target_id="arrears_amount_question" data_reveal_target="false" %} No
                </label>
            </div>
    </div>
    <div class="question-well" id="arrears_amount_question" hidden>
        <h3>What is the amount as of today's date?</h3>
        <div class="dollar-prefix">
            {% money_input_field name="child_support_arrears_amount" class="money form-control input-narrow" min="0" %}
        </div>
    </div>
{% endblock %}


{% block formBack %}{% prev_step step='children' sub_step='payor_medical' %}{% endblock %}
{% block formNext %}{% next_step step='children' sub_step='payor_medical' %}{% endblock %}

{% block sidebarText %}
    <p><strong>Who pays who?</strong></p>
    <p>
        The parent who the child lives with most of the time is entitled to get child support from the other parent
        (the payor). This is to help with the costs of raising the child. If a child spends the same or almost the same
        amount of time with each parent, then parent with the higher income may have to pay child support to the other
        parent.
    </p>
    <p><strong>What is the 40 percent principle?</strong></p>
    <p>
        When a child lives with a payor 40 percent of the time or more, that parent can argue that they don't have to pay
        as much support as the guidelines say. The judge or master may agree and order lower support amounts.
    </p>
    <p>
        When a payor makes this request, the judge or master will consider how often the children are with the payor,
        as well as the gross annual income of each parent and extra costs of sharing parenting time. The court will
        also consider other factors, such as the circumstances of both parents and of the child being supported.
    </p>
    <p><strong>Child Support Officers – Ministry of Justice</strong></p>
    <p>
        For more information about the child support guidelines, a Child Support Office is available in Kelowna,
        Nanaimo, Surrey and Vancouver.  If you don’t live in a community with a Child Support Office you can phone the
        following numbers for assistance:
    </p>
    <p>
        Greater Vancouver: 604 660-2084
    </p>
    <p>
        Elsewhere in B.C.: 1-888-227-7734 (call no charge) (1)
    </p>
{% endblock %}