{% extends 'base.html' %}{% load input_field %}

{% block title %}{{ block.super }}: Other Orders{% endblock %}

{% block progress %}{% include "progress.html" with step=question_step %}{% endblock %}

{% block content %}


<h1><small>Step 8:</small>Other Orders</h1>
<h3>Want other orders as follows: </h3>
{% input_field type="textarea" name="other_orders_detail" rows="8" cols="65" class="response-textarea" %}

{% endblock %}

{% block formBack %}{% url 'question_steps' '07_property' %}{% endblock %}
{% block formNext %}{% url 'question_steps' '09_other_questions' %}{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}