{% extends 'base.html' %}
{% load input_field %}

{% block title %}{{ block.super }}: Spousal Support{% endblock %}

{% block content %}
<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Step 9. Other Questions</h1>
                <div style="display: flex">
                    <form action="{% url 'question_steps' '08_other_orders' %}">
                        <input type="submit" value="Back"/>
                    </form>
                    <form action="#">
                        <input type="submit" value="Save"/>
                    </form>
                    <form action="{% url 'question_steps' '10_location' %}">
                        <input type="submit" value="Next"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
