{% extends 'base.html' %}
{% load input_field %}

{% block title %}{{ block.super }}: Spousal Support{% endblock %}

{% block progress %}{% include "progress.html" with step=question_step %}{% endblock %}

{% block content %}


<h1><small>Step 9:</small>Other Questions</h1>

<div class="question-well">
    <div>
        <h3>What is the best address to send you official court documents?</h3>
        <h2>Your Contact Information</h2>
        <p><em>House and street number</em></p>
        {% input_field type="text" name="address_to_send_official_document_street_you" class="form-block input-wide response-textbox" %}
        <p><em>City</em></p>
        {% input_field type="text" name="address_to_send_official_document_city_you" class="form-block input-wide response-textbox" %}
        <p><em>Prov/State</em></p>
        {% input_field type="text" name="address_to_send_official_document_prov_you" class="form-block input-narrow response-textbox" %}

        <p>Country</p>

        <div class="radio"><label>{% input_field type="radio" class="radio-with-other" name="address_to_send_official_document_country_you" value="Canada" %}Canada</label></div>
        <div class="radio"><label>{% input_field type="radio" class="radio-with-other" name="address_to_send_official_document_country_you" value="USA" %}USA</label></div>
        <div class="radio"><label>{% input_field type="radio" class="radio-with-other radio_with_textbox" name="address_to_send_official_document_country_you" value="Other" %}Other {% input_field type="text" name="address_to_send_official_document_other_country_you" class="response-textbox other-textbox input-inline" tabindex="-1" %}</label></div>

        <p><em>Postal code</em></p>
        {% input_field type="text" name="address_to_send_official_document_postal_code_you" class="form-block input-wide response-textbox" %}
    </div>

    <div>
        <p><em>If you don’t live within 30 km of a court registry, you must provide a fax number or email address.
            If you main address is a PO box, you can list this instead of the fax or email but you must also list
            an address that’s not a PO box.</em></p>

        <p><em>Fax number (optional)</em></p>
        {% input_field type="text" name="address_to_send_official_document_fax_you" class="form-block input-wide response-textbox" %}
        <p><em>Email Address (optional)</em></p>
        {% input_field type="text" id="email_textbox" name="address_to_send_official_document_email_you" class="form-block input-wide response-textbox" %}
    </div>
</div>

<div class="question-well">
    <div>
        <h2>Your Spouse's Contact Information</h2>
        <p><em>House and street number</em></p>
        {% input_field type="text" name="address_to_send_official_document_street_spouse" class="form-block input-wide response-textbox" %}
        <p><em>City</em></p>
        {% input_field type="text" name="address_to_send_official_document_city_spouse" class="form-block input-wide response-textbox" %}
        <p><em>Prov/State</em></p>
        {% input_field type="text" name="address_to_send_official_document_prov_spouse" class="form-block input-narrow response-textbox" %}

        <p>Country</p>

        <div class="radio"><label>{% input_field type="radio" class="radio-with-other" name="address_to_send_official_document_country_spouse" value="Canada" %}Canada</label></div>
        <div class="radio"><label>{% input_field type="radio" class="radio-with-other" name="address_to_send_official_document_country_spouse" value="USA" %}USA</label></div>
        <div class="radio"><label>{% input_field type="radio" class="radio-with-other radio_with_textbox" name="address_to_send_official_document_country_spouse" value="Other" %}Other {% input_field type="text" name="address_to_send_official_document_other_country_spouse" class="response-textbox other-textbox input-inline" tabindex="-1" %}</label></div>

        <p><em>Postal code</em></p>
        {% input_field type="text" name="address_to_send_official_document_postal_code_spouse" class="form-block input-wide response-textbox" %}
    </div>

    <div>
        <p><em>If your spouse doesn’t live within 30 km of a court registry, your spouse must provide a fax number or email address.
            If your spouse's main address is a PO box, your spouse can list this instead of the fax or email but your spouse must also list
            an address that’s not a PO box.</em></p>

        <p><em>Fax number (optional)</em></p>
        {% input_field type="text" name="address_to_send_official_document_fax_spouse" class="form-block input-wide response-textbox" %}
        <p><em>Email Address (optional)</em></p>
        {% input_field type="text" id="email_textbox" name="address_to_send_official_document_email_spouse" class="form-block input-wide response-textbox" %}
    </div>
</div>
{% endblock %}

{% block formBack %}{% url 'question_steps' '08_other_orders' %}{% endblock %}
{% block formNext %}{% url 'question_steps' '10_location' %}{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
