{% extends 'base.html' %}
{% load input_field %}
{% load step_order %}
{% load load_json %}

{% block title %}{{ block.super }}: Review{% endblock %}

{% block progress %}{% include "progress.html" %}{% endblock %}

{% block content %}

<h1><small>Step {% step_order step="review" %}:</small>Review</h1>
<ul>
    <li>
        <h4>Pre-qualification questions</h4>
        {% include "partials/review_user_responses.html" with questions=prequalification %}
    </li>
    <li>
        <h4>Step 1: What are you asking for</h4>
        {% include "partials/review_user_responses.html" with questions=which_orders %}
    </li>
    <li>
        <h4>Step 2: Your information</h4>
        {% include "partials/review_user_responses.html" with questions=your_information %}
    </li>
    <li>
        <h4>Step 3: Your spouse</h4>
        {% include "partials/review_user_responses.html" with questions=your_spouse %}
    </li>
    <li>
        <h4>Step 4: Your marriage</h4>
        {% include "partials/review_user_responses.html" with questions=your_marriage %}
    </li>
    <li>
        <h4>Step 5: Your separation</h4>
        {% include "partials/review_user_responses.html" with questions=your_separation %}
    </li>

    {% if 'Spousal support' in want_which_orders|load_json %}
    <li>
        <h4>Step 6: Spousal support</h4>
        {% include "partials/review_user_responses.html" with questions=spousal_support %}
    </li>
    {% endif %}

    {% if 'Division of property and debts' in want_which_orders|load_json %}
    <li>
        <h4>Step {% step_order step="property" %}: Property and debt</h4>
        {% include "partials/review_user_responses.html" with questions=property_and_debt %}
    </li>
    {% endif %}

    {% if 'Other orders' in want_which_orders|load_json %}
    <li>
        <h4>Step {% step_order step="other_orders" %}: Other orders</h4>
        {% include "partials/review_user_responses.html" with questions=other_orders %}
    </li>
    {% endif %}

    <li>
        <h4>Step {% step_order step="other_questions" %}: Other questions</h4>
        {% include "partials/review_user_responses.html" with questions=other_questions %}
    </li>
    <li>
        <h4>Step {% step_order step="location" %}: Filing locations</h4>
        {% include "partials/review_user_responses.html" with questions=filing_locations %}
    </li>
</ul>
{% endblock %}

{% block formbuttons %}
<div class="form-buttons clearfix">
    <a class="btn btn-success pull-right" href="{% url 'savepdf' %}">Next&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-right"></i></a>
</div>
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
