<!DOCTYPE html>
<html lang="en"><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="robots" content="NONE,NOARCHIVE"><title>Welcome to Django</title>
  <style type="text/css">
    html * { padding:0; margin:0; }
    body * { padding:10px 20px; }
    body * * { padding:0; }
    body { font:small sans-serif; }
    body>div { border-bottom:1px solid #ddd; }
    h1 { font-weight:normal; }
    code { background: #ffd; }
    #summary, #hostname { background: #34383c; color: #fff; }
    #explanation { background:#eee; }
    #instructions { background:#f6f6f6; }
    #instructions ol li { margin: 0.2em 0 0.2em 2em; }
  </style>
</head>

<body>
<div id="summary">
  <h1>Your Django-powered OpenShift project works!</h1>
</div>

<div id="instructions">
  <p>
    This project has just a skeleton for you to get started. It includes:
  </p>
  <ol>
    <li>Django project created with <code>python manage.py startproject project .</code></li>
    <li>Appropriate database configuration</li>
    <li>Sample Django app created with <code>python manage.py startapp openshift</code></li>
  </ol>
  <p>
    Now it is time to add your own code. Follow along the <a href="https://docs.djangoproject.com/en/1.8/intro/tutorial01/">Django tutorial</a>
    to learn more about Django.
  </p>
</div>

<div id="explanation">
  <p>
    If you are running Django's development server in your local host, you can see more information
    about this request using the toolbar on the right.<br>
    Please note that by default your Django settings have <code>DEBUG = True</code> and that is not appropriate for production use,
    but very handy during development.<br>
    Refer to the <a href="https://docs.djangoproject.com/en/1.8/howto/deployment/checklist/">Deployment Checklist</a>
    before taking this project into a production environment.
  </p>
</div>

<div id="hostname">
  <p>
    Server hostname: {{ hostname }}<br>
    Page views: {{ count }}
  </p>
</div>
</body></html>
