{% load input_field %}
<div class="form-inline clearfix alias-field-group alias-header">
    {% comment As per request, alias type will fixed to "also know as" %}
        <select class="response-dropdown alias-type form-control" name={{name}}>
            <option value="also known as" {% if alias_type == 'also known as' %} selected {% endif %}>Also known as</option>
            <option value="now known as" {% if alias_type == 'now known as' %} selected {% endif %}>Now known as</option>
            <option value="otherwise known as" {% if alias_type == 'otherwise known as' %} selected {% endif %}>Otherwise known as</option>
            <option value="with assumed name of" {% if alias_type == 'with assumed name of' %} selected {% endif %}>With assumed name of</option>
        </select>
    {% endcomment %}
    
    <label>Also known as</label>
    <input type="button" class="btn btn-danger btn-delete-name form-control pull-right" value="Delete" />
    <div class="form-group name-group alias-body">
        <div>
            <p>First Name</p>
            {% input_field type="text" name=name value=given_1 multiple="true" class="form-block response-textbox alias-given-1" %}
        </div>
        <div>
            <p>Middle Name 1</p>
            {% input_field type="text" name=name value=given_2 multiple="true" ignore_error=True class="form-block response-textbox alias-given-2" %}
        </div>
        <div>
            <p>Middle Name 2</p>        
            {% input_field type="text" name=name value=given_3 multiple="true" ignore_error=True class="form-block response-textbox alias-given-3" %}
        </div>
        <div>
            <p>Last Name</p>
            {% input_field type="text" name=name value=last_name multiple="true" class="form-block response-textbox alias-last-name" %}
        </div>        
    </div>

</div>