{% load input_field %}
<div class="form-inline clearfix">
    {% comment As per request, alias type will fixed to "also know as" %}
        <select class="response-dropdown alias-type form-control" name={{name}}>
            <option value="also known as" {% if alias_type == 'also known as' %} selected {% endif %}>Also known as</option>
            <option value="now known as" {% if alias_type == 'now known as' %} selected {% endif %}>Now known as</option>
            <option value="otherwise known as" {% if alias_type == 'otherwise known as' %} selected {% endif %}>Otherwise known as</option>
            <option value="with assumed name of" {% if alias_type == 'with assumed name of' %} selected {% endif %}>With assumed name of</option>
        </select>
    {% endcomment %}

    <label>Also known as</label>
    {% input_field type="text" name=name value=value multiple="true" class="form-control response-textbox" %}
    <input type="button" class="btn btn-danger btn-delete-name form-control" value="Delete" />
</div>