{% load static %}
<div class="col-flex dashnav-column">
    <h4>Application Stages</h4>

    <a href="{% url 'overview' %}" class="progress-question {% if active_page == 'overview' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
        <span class="progress-content">Divorce Questionnaire</span>
    </a>
    <a href="{% url 'dashboard_nav' 'sign_file_options' %}" class="progress-question {% if active_page == 'sign_file_options' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-list-ul" aria-hidden="true"></i></span>
        <span class="progress-content">Signing & Filing Options</span>
    </a>
    <a href="{% url 'dashboard_nav' 'print_form' %}" class="progress-question {% if active_page == 'print_form' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-print" aria-hidden="true"></i></span>
        <span class="progress-content">Review and Print Forms</span>
    </a>
{% if how_to_file == 'Online' %}
    <a href="{% url 'dashboard_nav' 'initial_filing' %}" class="progress-question {% if active_page == 'initial_filing' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
        <span class="progress-content">Initial Filing</span>
    </a>
    <a href="{% url 'dashboard_nav' 'wait_for_number' %}" class="progress-question {% if active_page == 'wait_for_number' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
        <span class="progress-content">Wait for Court File #</span>
    </a>
{% endif %}
    <a href="{% url 'dashboard_nav' 'swear_forms' %}" class="progress-question {% if active_page == 'swear_forms' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        <span class="progress-content">Swear / Affirm Forms</span>
    </a>
    <a href="{% url 'dashboard_nav' 'final_filing' %}" class="progress-question {% if active_page == 'final_filing' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-folder-open-o" aria-hidden="true"></i></span>
        <span class="progress-content">Final Filing</span>
    </a>
    <a href="{% url 'dashboard_nav' 'next_steps' %}" class="progress-question {% if active_page == 'next_steps' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
        <span class="progress-content">Next Steps</span>
    </a>
    <a href="{% url 'dashboard_nav' 'order_certificate' %}" class="progress-question {% if active_page == 'order_certificate' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
        <span class="progress-content">Order a Certificate of Divorce</span>
    </a>
</div>