{% load input_field %}
<td class="fact-sheet-answer table-bordered">
    {% input_field type="text" name="expense_name" value=expense_name maxlength="100" multiple='true' class="fact-sheet-input expense-input-field" placeholder="What is the expense" data_save_row="true" data_save_select=".expense-input-field" data_skip_ajax="true" %}
</td>
<td class="fact-sheet-answer table-bordered">
    <div class="dollar-prefix">
        {% money_input_field name="expense_amount" value=expense_amount multiple='true' class="money positive-float fact-sheet-input expense-input-field" placeholder=""  data_save_row="true" data_save_select=".expense-input-field" data_skip_ajax="true" %}
    </div>
</td>
{% if not exclude_delete_button %}
<td class="fact-sheet-button">
    <a href="#" tabindex="-1"><i class="fa fa-times btn-delete-expense"></i></a>
</td>
{% endif %}