{% load input_field %}
<div style="display: inline-flex">
    <p><label>From: <span class="date-picker-group">{% input_field type="text" name="reconciliation_period" value=from multiple='true' class="date-pickers reconciliation-from-date" placeholder="DD/MM/YYYY" %}</span></label></p>
    <p><label>To: <span class="date-picker-group">{% input_field type="text" name="reconciliation_period" value=to multiple='true' class="date-pickers reconciliation-to-date" placeholder="DD/MM/YYYY" %}</span></label></p>
    <button class="btn-delete-period">Delete</button>
</div>