{% load input_field %}
<div class="form-inline clearfix">
    <div class="form-group">
        <label>From:</label>
        <span class="input-group date date-pickers-group">
            {% input_field type="text" name="reconciliation_period" value=from multiple='true' class="date-pickers reconciliation-from-date form-control" placeholder="MMM D, YYYY" tabindex="-1" %}
        </span>
    </div>
    <div class="form-group">
        <label>To: </label>
        <span class="input-group date date-pickers-group">
            {% input_field type="text" name="reconciliation_period" value=to multiple='true' class="date-pickers reconciliation-to-date form-control" placeholder="MMM D, YYYY" tabindex="-1" %}
        </span>
    </div>
    <input type="button" class="btn btn-danger btn-delete-period form-control" tabindex="-1" value="Delete" />
    <div class="form-warning has-error"></div>
</div>
