<a href="{{ reference_link }}" target="_blank">
    {{ link_text }}
</a>
<span class="tooltip-no-link"
      data-toggle="tooltip"
      data-placement="right"
      data-html="true"
      title="<b>Federal Child Support Guidelines</b><br />
This is a copy of an official work that is published by the Government of Canada and that this copy has
not been produced in affiliation with, or with the endorsement of the Government of Canada."><i class="fa fa-question-circle" aria-hidden="true"></i>
</span>