<h3>How long does a divorce take?</h3>
<p>
    The time depends upon your individual circumstances (for example have you and your spouse agreed on how to divide
    your property and debt). However, once you have completed the  required forms, and filed them at a Supreme Court
    registry, it can take <b>3 to 4 months</b> to process your request. Please note times vary based on the registry.
</p>
<h3>How much will it cost?</h3>
<p>
    You will have to pay a $290 court fee to get a divorce.
</p>
<p>
    You may also choose to pay another $40 for an optional Certificate of Divorce Form (F56).  If you ever want to
    remarry, you'll need the Certificate of Divorce.
</p>
<p>
    There are also some other costs involved in getting a divorce. If you choose to have your affidavits sworn at the
    court registry, this will cost you $40 per affidavit. If you don't have a certified copy of your marriage
    certificate or registration of marriage, you'll have to pay for this document as well.
</p>