{% load input_field %}
<td class="fact-sheet-answer table-bordered">
    {% input_field type="text" name="income_others_name" value=income_others_name maxlength="100" multiple='true' class="fact-sheet-input income-others-input-field" placeholder="Full Name" data_save_row="true" data_save_select=".income-others-input-field" data_skip_ajax="true" %}
</td>
<td class="fact-sheet-answer table-bordered">
    <div class="dollar-prefix">
        {% money_input_field name="income_others_amount" value=income_others_amount class="money positive-float fact-sheet-input income-others-input-field income-amount-input-field" step="1" data_sum="true" data_sum_class="income-amount-input-field" data_sum_target_id="total_income_others" placeholder=""  data_save_row="true" data_save_select=".income-others-input-field" data_skip_ajax="true" %}
    </div>
</td>

{% if not exclude_delete_button %}
<td class="fact-sheet-button">
    <a href="#" tabindex="-1"><i class="fa fa-times btn-delete-income-others"></i></a>
</td>
{% endif %}