{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }}: Acknowledgements{% endblock %}

{% block content %}
<h1>Acknowledgements</h1>

<p>
    We would like to thank all those who so generously donated their time to create this new service. The care and
    consideration demonstrated by our contributors, consultants and testers was a testament to the passion each and
    everyone had for helping the citizens of our province.
</p>
<div class="row text-center">
    <div class="col-lg-6">
        <img src="{% static 'img/logo-legal-services.png' %}" />
    </div>
    <div class="col-lg-6">
        <img src="{% static 'img/logo-jacs.jpg' %}" />
    </div>
</div>
<div class="row text-center">
    <div class="col-lg-6">
        <img src="{% static 'img/logo-clbc.png' %}" />
    </div>
    <div class="col-lg-6">
        <img src="{% static 'img/logo-law-courts.png' %}" />
    </div>
</div>



{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
