{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}Ministry of Justice e-Divorce{% endblock %}</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datepicker3.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
        {% load compress %}
        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
        {% endcompress %}

        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
        <script>
            window.sm_base_url = '{{ request.proxy_root_path }}';
        </script>

    </head>
    <body>
        <div id="top_banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="top_banner-logo">
                            <a href="{% url 'intro' %}"><img src="{% static 'svg/bc-logo.svg' %}" /></a>
                            <p>Online Divorce Assistant <span class="beta">beta</span></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="top_banner-user">
                            {% if request.bceid_user.is_authenticated %}
                            <span>
                                {{ request.bceid_user.first_name}}
                                {{ request.bceid_user.last_name}}
                                &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{% url 'logout' %}">Log out</a>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if not hide_nav %}

            <div id="mid_banner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mid_banner-dash"><a href="{% url 'overview' %}"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Back to Dashboard</a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="more_information-link">
                                <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>More Information</a>
                            </div>
                            <div class="mid_banner-link">
                                <a href="#"><i class="fa fa-balance-scale" aria-hidden="true"></i>Legal Support</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <div class="row-flex">
            {% block progress %}
            {% endblock %}
            {% block dashnav %}
            {% endblock %}
            <div class="col">
                <div class="col-flex content-column">
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% block sidebar %}
            <div class="col-flex more_information-column hidden">
                <a href="#" class="more_information-close"><i class="fa fa-times" aria-hidden="true"></i></a>
                {% block sidebarText %}
                {% endblock %}
            </div>
            {% endblock %}

        </div>

        <footer class="footer">


        </footer>



        <script type="text/javascript" src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
