{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}Ministry of Justice e-Divorce{% endblock %}</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datepicker3.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
        {% load compress %}
        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
        {% endcompress %}

        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
        <script>
            window.sm_base_url = '{{ request.proxy_root_path }}';
        </script>

    </head>
    <body>
        <div id="top_banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="top_banner-logo">
                            <a href="{% url 'intro' %}"><img src="{% static 'svg/bc-logo.svg' %}" /></a>
                            <h4>Uncontested Divorce <span class="beta">beta</span></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="top_banner-user">
                            {% if request.bceid_user.is_authenticated %}
                            <span>
                                {{ request.bceid_user.first_name}}
                                {{ request.bceid_user.last_name}}
                                &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{% url 'logout' %}">Log out</a>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if not hide_nav %}

            <div id="mid_banner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-10">
                            <div class="mid_banner-dash"><a href="{% url 'overview' %}"><i class="fa fa-pie-chart" aria-hidden="true"></i>Dashboard</a>
                            </div>
                            <span class="mid_banner-tab">1: Prepare Notice of Joint Family Claim (f1)</span>
                        </div>
                        <div class="col-md-3 col-lg-2">
                            <div class="mid_banner-link"><a href="#">Legal Support</a></div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="bot_banner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 hidden-sm">

                        </div>
                        <div class="col-sm-10 col-md-8">
                            <img src="{% static 'img/FPO-progress.png' %}"/>
                        </div>
                        <div class="col-sm-2">
                            <div class="bot_banner-link"><a href="#">Preview Form</a></div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        {% block content %}{% endblock %}

        {% block sidebar %}
        <div id="more_information" class="">
            <h4 class="more_information-title">More Information</h4>
            {% block sidebarText %}
            {% endblock %}
        </div>
        {% endblock %}

        <script type="text/javascript" src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
