<div class="col-flex dashnav-column">
    <h4>Dashboard</h4>

    <a href="{% url 'prequalification' '01' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
        <span class="progress-content">Qualifying Questions</span>
    </a>
    <a href="{% url 'prequalification' '02' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content">What Are You Asking For?</span>
    </a>
    <a href="{% url 'prequalification' '03' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-info" aria-hidden="true"></i></span>
        <span class="progress-content">Your information</span>
    </a>
    <a href="{% url 'prequalification' '04' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
        <span class="progress-content">Your spouse</span>
    </a>
    <a href="{% url 'prequalification' '05' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-link" aria-hidden="true"></i></span>
        <span class="progress-content">Your marriage</span>
    </a>
    <a href="{% url 'prequalification' '06' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-chain-broken" aria-hidden="true"></i></span>
        <span class="progress-content">Your separation</span>
    </a>
</div>