{% extends 'base.html' %}

{% block title %}{{ block.super }}: Login{% endblock %}

{% block page_heading %}Step 1: Home{% endblock page_heading %}

{% block content %}
<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Home</p>
                <h3>Intro page</h3>
                <form action="{% url 'intro' %}">
                    <input type="submit" value="To Intro" style="border: solid"/>
                </form>
                <h3>Prequalification page</h3>
                <form action="{% url 'prequalification' '01' %}">
                    <input type="submit" value="To Prequalification" style="border: solid"/>
                </form>
                <h3>F1 page</h3>
                <form action="{% url 'form_steps' 'f1' '01_orders' %}">
                    <input type="submit" value="To F1" style="border: solid"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block sidebar %}{% endblock %}
