{% extends 'base.html' %}

{% block title %}{{ block.super }}: Intro{% endblock %}

{% block content %}

<h1>Let us guide you through the divorce process</h1>

<p>This online Divorce Assistantance tool will help you determine the forms you will need to assemble,
    and the tasks you will need to complete, in order to complete your divorce.</p>

<h3>How it works</h3>

<p><b>1. Answer Questions</b>
    <br>
    Filling out our secure online questionnaire is completely free. Your work is saved so you can
    proceed at your own pace.
</p>

<p><b>2. Print Your Forms</b>
    <br>
    Print your papers and file at your local court registry. That's all there is to it!
</p>

<div class="information-message bg-danger">
    <p>
        Please note: at this point in time we cannot offer online submission (like your taxes)
        so you will need to print off your forms and take them to a court registry.
    </p>
</div>

<h2 style="text-decoration: underline">
    <a href="{% url 'prequalification' '01' %}">New User - Let's Get Started</a>
</h2>

<h2 style="text-decoration: underline">
    <a href="{% url 'login' %}">Returning User - Login with BCeID</a>
</h2>

{% endblock %}

{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
