{% extends 'base.html' %}

{% block title %}{{ block.super }}: Intro{% endblock %}

{% block container %}intro-page{% endblock %}
{% block container_col %}shroud{% endblock %}

{% block content %}
    <h1>Make Your Joint Divorce* Process Manageable</h1>

<h2 class="shaded-box">How it Works</h2>

<div class="flex-wrapper shaded-box">
    <div class="flex-column left">
        <h3><span class="number-circle">1</span> Answer Questions</h3>
        <p>
            Our completely free and secure online questionnaire will save your work so you can proceed at your own pace.
        </p>
    </div>

    <div class="flex-column right">
        <h3><span class="number-circle">2</span> Print or File Online</h3>
        <p>
            Once you're done with the questions,
            you can print your papers and file at your local court registry
            or file them online.
            That’s all there is to it!
        </p>
    </div>
</div>



<div class="footnote shaded-box">
    <h5><strong>*Joint Divorce Only</strong></h5>
    <p>
        Joint divorce means making an application for a divorce together with your spouse. It means that you and your
        spouse agree about getting a divorce and that you agree about all of the family law issues relevant to your
        situation, such as spousal support, and the division of family property and debts.
</p>
</div>
{% endblock %}

{% block intro-footer %}
<div class="intro-footer">
    <div class="column">
        <h3>
            Begin the process of completing forms for a new divorce:
        </h3>
        <a href="{% url 'prequalification' '01' %}" class="btn btn-primary btn-lg">New Divorce</a>
        <h3>
            Already started completing forms online and want to pick up where you left off?
        </h3>
        <a href="{% url 'oidc_authentication_init' %}" class="btn btn-primary btn-lg">Returning users</a>
    </div>
</div>
{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
