{% extends 'base.html' %}

{% block title %}{{ block.super }}: Intro{% endblock %}

{% block container %}intro-page{% endblock %}

{% block content %}

<h1>Make Your Divorce Process Manageable</h1>

<p class="intro">Forms, deadlines, tasks... Divorce can be a difficult enough time as it is without having to navigate through confusing legal language. That's why this online tool is here: to help you get through the details, procedures, and paperwork.</p>

<h2>How it Works</h2>

<div class="flex-wrapper">
    <div class="flex-column">
        <h3><span class="number-circle">1</span> Answer Questions</h3>
        <p>
            Our completely free and secure online questionnaire will save your work so you can proceed at your own pace.
        </p>
    </div>

    <div class="flex-column">
        <h3><span class="number-circle">2</span> Print Your Forms</h3>
        <p>
            Once you're done with the questions, you'll print your papers and file at your local court registry. That’s all there is to it!
        </p>
    </div>
</div>


<div class="information-message">
    <p>

    </p>
</div>

<p>
    <a href="{% url 'prequalification' '01' %}" class="btn btn-primary btn-lg">Let's Get Started</a>
</p>

<p>
    <a href="{% url 'login' %}">Returning User<br />Login with BCeID</a>
</p>

{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
