{% extends 'base.html' %}

{% block title %}{{ block.super }}: Legal Support{% endblock %}

{% block content %}
<h1>Where can I find help to file my divorce on my own?</h1>

<h4>Justice Access Centre</h4>
<p>
    You can visit the Justice Access Centre in
    <a href="http://www2.gov.bc.ca/gov/content/justice/about-bcs-justice-system/jac/how-to-find-us/vancouver" target="_blank">Vancouver</a>,
    <a href="http://www2.gov.bc.ca/gov/content/justice/about-bcs-justice-system/jac/how-to-find-us/nanaimo" target="_blank">Nanaimo</a>, and
    <a href="http://www2.gov.bc.ca/gov/content/justice/about-bcs-justice-system/jac/how-to-find-us/victoria" target="_blank">Victoria</a>​&nbsp;
    for in-person help. They can help assess what you need and provide information about your legal and related issues.
    They can also review the forms you have completed with the Online Divorce Assistant.
</p>

<h4>Online resources</h4>
<p>
    You may want to look at the <a href="http://www.familylaw.lss.bc.ca/guides/divorce/" target="_blank">Divorce self-help kit</a>
    on the Family Law in British Columbia website for a step-by-step guide. You can also visit
    <a href="http://wiki.clicklaw.bc.ca/index.php/Separation_%26_Divorce" target="_blank">ClickLaw</a> and the
    <a href="http://www.justiceeducation.ca/" target="_blank">Justice Education Society</a> for online legal information.
</p>
<br />

<h2>Other Support Resources</h2>
<p>
    The B.C. Government website has a page that
    <a href="https://www2.gov.bc.ca/gov/content/life-events/divorce/family-justice/who-can-help" target="_blank">lists resources</a>
    available to help you and your children adjust to separation and divorce, and deal with issues such as how to collect
    child support and how to handle debt. The Law Courts Center offers
    <a href="http://lawcourtscenter.camp7.org/page-1770376" target="_blank">Legal Form Workshops</a> for self-represented litigants.
</p>
<br />

<h2>Do I need a lawyer to get a separation and divorce?</h2>
<p>
    You are not required to have a lawyer to get a separation or divorce, but depending on how complex your family
    issues are, it may be helpful to have a lawyer help you.
</p>
<p>
    If your divorce is uncontested &mdash; you both agree to the divorce and you are able to sort out your parenting plans
    and support issues as well as the division of property &mdash; you may proceed with the divorce on your own.
</p>
<p>
    However, a family lawyer is a good source of information about separation and divorce and can also give you legal
    advice about what your rights and responsibilities are under the law. If you need help settling your family law
    disputes, or if you do need to go to court, a family lawyer can help.
</p>
<br />

<h2>Where can I find a lawyer?</h2>
<p>There may be times when you want legal advice. There are many options available to you, a few are:</p>

<h4>Lawyer Referral Service in Vancouver</h4>
<p>
    This service is provided by the Canadian Bar Association and can refer you to a lawyer who will confer with you for
    up to 30 minutes for a nominal fee. Contact information, 1-800-663-1919 or their&nbsp;
    <a href="http://cbabc.org/For-the-Public/Lawyer-Referral-Service" target="_blank">website</a>.
</p>
<p>
    If you think you will want legal help for only part of your separation or divorce, you can look for a lawyer that
    offers “unbundled” services. The
    <a href="https://sites.google.com/view/bfur/" target="_blank">BC Family Law Unbundling Roster (HelpMap)</a>
    is a list of legal professionals near you who offer unbundled services. Many also offer their services remotely,
    through telephone, webconferencing or other tools.
</p>

<h4>Justice Access Centre</h4>
<p>
    You can visit the Justice Access Centre in
    <a href="http://www2.gov.bc.ca/gov/content/justice/about-bcs-justice-system/jac/how-to-find-us/vancouver" target="_blank">Vancouver</a>,
    <a href="http://www2.gov.bc.ca/gov/content/justice/about-bcs-justice-system/jac/how-to-find-us/nanaimo" target="_blank">Nanaimo</a>, and
    <a href="http://www2.gov.bc.ca/gov/content/justice/about-bcs-justice-system/jac/how-to-find-us/victoria" target="_blank">Victoria</a>
    for in-person help.
    They can refer you to services and resources that are available for your situation.
</p>

<p>&nbsp;</p>

<div class="form-buttons hidden">
    <a class="btn btn-success btn-lg" onclick="history.go(-1);"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>&nbsp; Go back</a>
</div>


{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
