{% extends 'base.html' %}
{% load step_order %}
{% load load_json %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}

<h1>Complete This Divorce Questionnaire</h1>

<div class="overview-progress">
    <a href="{% url 'prequalification' '01' %}" class="progress-question {% if step_status.prequalification == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
        <span class="progress-content">Qualifying Questions</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.prequalification with_status=True %}
    </a>
    <a href="{% url 'question_steps' 'orders' %}" class="progress-question {% if step_status.which_orders == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 1</small><br />What Are You Asking For?</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.which_orders with_status=True %}
    </a>
    <a href="{% url 'question_steps' 'claimant' %}" class="progress-question {% if step_status.your_information == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-info" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 2</small><br />Your information</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.your_information with_status=True %}
    </a>
    <a href="{% url 'question_steps' 'respondent' %}" class="progress-question {% if step_status.your_spouse == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 3</small><br />Your spouse</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.your_spouse with_status=True %}
    </a>
    <a href="{% url 'question_steps' 'marriage' %}" class="progress-question {% if step_status.your_marriage == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-link" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 4</small><br />Your marriage</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.your_marriage with_status=True %}
    </a>
    <a href="{% url 'question_steps' 'separation' %}" class="progress-question {% if step_status.your_separation == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-chain-broken" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 5</small><br />Your separation</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.your_separation with_status=True %}
    </a>
    {% if derived.has_children_of_marriage %}
    <a href="{% url 'question_steps' 'children' 'your_children'%}" class="progress-question {% if step_status.your_children == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="children" %}</small><br />Your children</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.your_children with_status=True %}
    </a>
    {% endif %}

    {% if derived.wants_spousal_support %}
    <a href="{% url 'question_steps' 'support' %}" class="progress-question {% if step_status.spousal_support == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="support" %}</small><br />Spousal support</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.spousal_support with_status=True %}
    </a>
    {% endif %}

    {% if derived.wants_property_division %}
    <a href="{% url 'question_steps' 'property' %}" class="progress-question {% if step_status.property_and_debt == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="property" %}</small><br />Property and debt</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.property_and_debt with_status=True %}
    </a>
    {% endif %}

    {% if derived.wants_other_orders %}
    <a href="{% url 'question_steps' 'other_orders' %}" class="progress-question {% if step_status.other_orders == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-gavel" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="other_orders" %}</small><br />Other orders</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.other_orders with_status=True %}
    </a>
    {% endif %}

    <a href="{% url 'question_steps' 'other_questions' %}" class="progress-question {% if step_status.other_questions == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-question" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="other_questions" %}</small><br />Other questions</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.other_questions with_status=True %}
    </a>
    <a href="{% url 'question_steps' 'location' %}" class="progress-question {% if step_status.filing_locations == 'Completed' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="location" %}</small><br />Filing location</span>
        {% include "partials/progress_icon.html" with step_status_string=step_status.filing_locations with_status=True %}
    </a>
    <a href="{% url 'question_steps' 'review' %}" class="progress-question {% if active_page == 'review' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-file" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="review" %}</small><br />Review your answers</span>
    </a>
</div>


{% if not request.session.first_login and not request.session.viewed_dashboard_during_session %}
<div id="questions_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-file" aria-hidden="true"></i>
                <h1 class="modal-title">Changing your forms</h1>
            </div>
            <div class="modal-body">
                <p>
                    If you need to make changes to your forms, you can return to the Divorce Questionnaire section to
                    review and update your answers. You will then need to Review and Print your forms again.
                </p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</a>
            </div>
        </div>
    </div>
</div>
{% elif request.session.first_login and not request.session.viewed_dashboard_during_session %}
{% endif %}

{% endblock %}

{% block backToDashboard %}
<!-- no back to dashboard -->
{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebarText %}
    {% include "dashboard/partials/sidebar_help.html" %}
{% endblock %}
