{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}

<h2>Answer the Questions Related to Your Divorce Questionnaire</h2>
<ul>
    <li style="display: flex"><a href="{% url 'prequalification' '01' %}">Qualifying Questions</a><p style="margin-left: 90px">{{prequalification}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '01_orders' %}">Step 1: What are you asking for?</a><p style="margin-left: 90px">{{which_orders}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '02_claimant' %}">Step 2: Your information</a><p style="margin-left: 90px">{{your_information}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '03_respondent' %}">Step 3: Your spouse</a><p style="margin-left: 90px">{{your_spouse}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '04_marriage' %}">Step 4: Your marriage</a><p style="margin-left: 90px">{{your_marriage}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '05_separation' %}">Step 5: Your separation</a><p style="margin-left: 90px">{{your_separation}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '06_support' %}">Step 6: Spousal support</a><p style="margin-left: 90px">{{spousal_support}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '07_property' %}">Step 7: Property and debt</a><p style="margin-left: 90px">{{property_and_debt}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '08_other_orders' %}">Step 8: Other orders</a><p style="margin-left: 90px">{{other_orders}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '09_other_questions' %}">Step 9: Other questions</a><p style="margin-left: 90px">{{other_questions}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '10_location' %}">Step 10: Filing locations</a><p style="margin-left: 90px">{{filing_locations}}</p></li>
    <li style="display: flex"><a href="{% url 'question_steps' '11_review' %}">Step 11: Review</a></li>
    <li style="display: flex"><a href="{% url 'question_steps' '12_uncategorized' %}">Step 12: Uncategorized</a></li>
</ul>

{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebar %}

{% endblock %}
