{% extends 'base.html' %}
{% load step_order %}
{% load load_json %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}

<h1>Complete This Divorce Questionnaire</h1>

<div class="overview-progress">
    <a href="{% url 'prequalification' '01' %}" class="progress-question {% if step_status.prequalification == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
        <span class="progress-content">Qualifying Questions</span>
        {% if step_status.prequalification == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.prequalification == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    <a href="{% url 'question_steps' 'orders' %}" class="progress-question {% if step_status.which_orders == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 1</small><br />What Are You Asking For?</span>
        {% if step_status.which_orders == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.which_orders == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    <a href="{% url 'question_steps' 'claimant' %}" class="progress-question {% if step_status.your_information == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-info" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 2</small><br />Your information</span>
        {% if step_status.your_information == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.your_information == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    <a href="{% url 'question_steps' 'respondent' %}" class="progress-question {% if step_status.your_spouse == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 3</small><br />Your spouse</span>
        {% if step_status.your_spouse == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.your_spouse == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    <a href="{% url 'question_steps' 'marriage' %}" class="progress-question {% if step_status.your_marriage == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-link" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 4</small><br />Your marriage</span>
        {% if step_status.your_marriage == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.your_marriage == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    <a href="{% url 'question_steps' 'separation' %}" class="progress-question {% if step_status.your_separation == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-chain-broken" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 5</small><br />Your separation</span>
        {% if step_status.your_separation == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.your_separation == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>

    {% if 'Spousal support' in which_orders.0.value|load_json %}
    <a href="{% url 'question_steps' 'support' %}" class="progress-question {% if step_status.spousal_support == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 6</small><br />Spousal support</span>
        {% if step_status.spousal_support == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.spousal_support == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    {% endif %}

    {% if 'Division of property and debts' in which_orders.0.value|load_json %}
    <a href="{% url 'question_steps' 'property' %}" class="progress-question {% if step_status.property_and_debt == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="property" %}</small><br />Property and debt</span>
        {% if step_status.property_and_debt == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.property_and_debt == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    {% endif %}

    {% if 'Other orders' in which_orders.0.value|load_json %}
    <a href="{% url 'question_steps' 'other_orders' %}" class="progress-question {% if step_status.other_orders == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-gavel" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="other_orders" %}</small><br />Other orders</span>
        {% if step_status.other_orders == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.other_orders == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    {% endif %}

    <a href="{% url 'question_steps' 'other_questions' %}" class="progress-question {% if step_status.other_questions == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-question" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="other_questions" %}</small><br />Other questions</span>
        {% if step_status.other_questions == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.other_questions == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    <a href="{% url 'question_steps' 'location' %}" class="progress-question {% if step_status.filing_locations == 'Complete' %} complete {% endif %}">
        <span class="progress-icon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="location" %}</small><br />Filing location</span>
        {% if step_status.filing_locations == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i> Started</span>
        {% elif step_status.filing_locations == 'Complete' %}<span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i> Completed</span> {% endif %}
    </a>
    <a href="{% url 'question_steps' 'review' %}" class="progress-question {% if active_page == 'review' %} active {% endif %}">
        <span class="progress-icon"><i class="fa fa-file" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step {% step_order step="review" %}</small><br />Review</span>
    </a>
</div>


{% if not request.session.FIRST_LOGIN and not request.session.VIEWED_DASHBOARD_DURING_SESSION %}
<div id="questions_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-file" aria-hidden="true"></i>
                <h1 class="modal-title">Changing your forms</h1>
            </div>
            <div class="modal-body">
                <p>
                    If you need to make changes to your forms, you can return to the Divorce Questionnaire section to
                    review and update your answers. You will then need to Review and Print your forms again.
                </p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div id="terms_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-file" aria-hidden="true"></i>
                <h1 class="modal-title">Online Divorce Assistant Terms of Use</h1>
            </div>
            <div class="modal-body">
                <p>Version 1.0, March 31, 2017</p>
                <p>The Online Divorce Application application is provided as a public service by the Government of British Columbia, Box 9411, Victoria, British Columbia, Canada V8W 9V1.</p>
                <p>
                    <strong>User Agreement</strong><br />
                    Every person who accesses the Online Divorce Assistant application ("User" or "You") agrees to the Terms of Use in this document and to the fact that the Government of British Columbia may amend these terms from time to time. The Government of British Columbia reserves the right, at its discretion, to change, modify, add, or remove portions of these terms at any time. Please check these terms periodically for changes. Your continued use of the Online Divorce Assistant application following the posting of changes to these terms will mean you accept these changes.
                </p>
                <p>
                    <strong>Privacy Protection</strong><br />
                    The Online Divorce Assistant application does not collect personal information about Users without their consent, and has set up means to keep personal information confidential. However, the Government of British Columbia does collect aggregate data about Users' use of the Online Divorce Assistant application to better understand general User trends at an aggregate level and improve web performance, web services, and website maintenance.
                </p>
                <p>
                    An Internet Protocol (IP) network domain name (e.g. shaw.ca) and a partial, non-specific IP address (e.g. 216.10.100.xx) of the computer you are using may be collected and stored on servers located outside Canada. Other information that the Online Divorce Assistant collects (e.g. email addresses) is stored in Canada.
                </p>
                <p>
                    The anonymity of Users is therefore reasonably protected but not fully guaranteed. The Online Divorce Assistant applications management of personal information is described more fully on the Government of British Columbia's Privacy Policy page.
                </p>
                <p>
                    Absent the use of encryption, the internet and email are not secure media and privacy cannot be ensured. The Government of British Columbia will not be responsible for any damages you or any third party may suffer as a result of the transmission of confidential information that you make to any party through the internet email links provided on the Online Divorce Assistant. The Government of British Columbia is not responsible for any errors or any changes made to any transmitted information. Should you decide to transmit information using internet email links, you do so at your own risk.
                </p>
                <div class="checkbox" id="terms_and_conditions">
                    <label> <input type="checkbox" id="terms_checkbox"> I agree to the Online Divorce Assistant Terms of Use </label>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" id="terms_agree_button" class="btn btn-primary btn-lg">Accept and continue</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block backToDashboard %}
<!-- no back to dashboard -->
{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebarText %}
    {% include "dashboard/partials/sidebar_help.html" %}
{% endblock %}
