<div class="col-flex progress-column">
    <h4>Questionnaire</h4>

    <a href="{% url 'prequalification' '01' %}" class="progress-question complete">
        <span class="progress-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
        <span class="progress-content">Qualifying Questions</span>
        <span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i></span>
    </a>
    <a href="{% url 'question_steps' '01_orders' %}" class="progress-question complete">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 1</small><br />What Are You Asking For?</span>
        {% if which_orders == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '02_claimant' %}" class="progress-question active">
        <span class="progress-icon"><i class="fa fa-info" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 2</small><br />Your information</span>
        {% if your_information == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '03_respondent' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 3</small><br />Your spouse</span>
        {% if your_spouse == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '04_marriage' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-link" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 4</small><br />Your marriage</span>
        {% if your_marriage == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '05_separation' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-chain-broken" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 5</small><br />Your separation</span>
        {% if your_separation == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '06_support' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 6</small><br />Spousal support</span>
        {% if spousal_support == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '07_property' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 7</small><br />Property and debt</span>
        {% if property_and_debt == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '08_other_orders' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-gavel" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 8</small><br />Other orders</span>
        {% if other_orders == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '09_other_questions' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-question" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 9</small><br />Other questions</span>
        {% if other_questions == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '10_location' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 10</small><br />Filing locations</span>
        {% if filing_locations == 'Started' %}<span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span> {% endif %}
    </a>
    <a href="{% url 'question_steps' '11_review' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-file" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 11</small><br />Review</span>
    </a>


</div>