<div class="col-flex progress-column">
    <h4>Questionnaire</h4>

    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
        <span class="progress-content">Qualifying Questions</span>
    </a>
    <a href="#" class="progress-question complete">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 1</small><br />What Are You Asking For?</span>
        <span class="progress-status"><i class="fa fa-check" aria-hidden="true"></i></span>
    </a>
    <a href="#" class="progress-question active">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 2</small><br />Your information</span>
        <span class="progress-status"><i class="fa fa-adjust" aria-hidden="true"></i></span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 3</small><br />Your information</span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 4</small><br />Your information</span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 5</small><br />Your information</span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 6</small><br />Your information</span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 7</small><br />Your information</span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 8</small><br />Your information</span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 9</small><br />Your information</span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 10</small><br />Your information</span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 11</small><br />Your information</span>
    </a>
    <a href="#" class="progress-question">
        <span class="progress-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
        <span class="progress-content"><small>Step 12</small><br />Your information</span>
    </a>


</div>