{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}
<h1>Save PDF</h1>
<h2>Click 'Preview' for preview of the form</h2>
<h2>Click 'Print' to view PDF version of the form</h2>

<h2>Prepare your forms</h2>
<ul>
    <li>
        <p>
            Notice of Joint Family Claim(F1)
            <a href="{% url 'pdf_form' '1' %}?html">Preview</a> |
            <a href="{% url 'pdf_form' '1' %}" class="spinner">Print</a>
        </p>
    </li>
    <li>
        <p>
            Requisition (Form F35)
            <a href="{% url 'pdf_form' '35' %}?html">Preview</a> |
            <a href="{% url 'pdf_form' '35' %}" class="spinner">Print</a>
        </p>
    </li>
    <li>
        <p>
            Draft Final Order (Form F52)
            <a href="{% url 'pdf_form' '52' %}?html">Preview</a> |
            <a href="{% url 'pdf_form' '52' %}" class="spinner">Print</a>
        </p>
    </li>
    <li>
        <p>
            Certificate of Pleadings (F36)
            <a href="{% url 'pdf_form' '36' %}?html">Preview</a> |
            <a href="{% url 'pdf_form' '36' %}" class="spinner">Print</a>
        </p>
    </li>
    <li>
        <p>
            Affidavit Desk Order Divorce (F38)
            <a href="{% url 'pdf_form' '38' %}?html">Preview</a> |
            <a href="{% url 'pdf_form' '38' %}" class="spinner">Print</a>
        </p>
    </li>
    <li>
        <p>
            Original Marriage Certificate or Registration of Marriage
            <a href="#">Preview</a> |
            <a href="#">Print</a>
        </p>
    </li>
</ul>



{% endblock %}

{% block formbuttons %}
<div class="form-buttons clearfix">
    <a class="btn btn-success pull-right" href="{% url 'overview' %}">Overview&nbsp;&nbsp;&nbsp;<i class="fa fa-list"></i></a>
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}
