{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block content %}
<div>
    <h1>You have met the conditions for requesting a divorce in B.C.</h1>

    <p><strong>Documents you will need to move forward with the divorce request:</strong></p>
    <ul>
        <li>Marriage certificate</li>
        <li>Separation agreement or court order</li>
    </ul>

    <h4>Please register or login to continue.</h4>
    <p>If you already have a <strong>Basic</strong> BCeID, then you can login now.
        Otherwise you will need to register for a <strong>Basic</strong> BCeID to continue.</p>
    <div class="form-buttons clearfix">
        <a class="btn btn-success" href="{% url 'login' %}">
            I Already Have a BCeID.<br>Login Now
        </a>
        <a class="btn btn-success" href="{{ register_url }}">
            Register<br>for a Basic BCeID
        </a>
    </div>
</div>

{% endblock %}

{% block formbuttons %}
<!-- no formbuttons -->
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}
