{% load static %}
{% load composites %}
{% load input_field %}
{% load format_utils %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Form 1</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/bootstrap-slim.min.css">
    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/weasyprint.css" />

    {% include 'partials/gtm_head.html' %}
</head>

<body>
    <div class="print-wrapper">
        <h3 class="text-center">Form F1<br />(Rule 2-2 (2))</h3>
        <p class="text-right">
            Court File No.: <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p class="text-right">
            Court Registry: {% response responses.court_registry_for_filing %}
        </p>
        <h3 class="text-center">
            In the Supreme Court of British Columbia
        </h3>
        <p>
            &nbsp;
        </p>
        <p>
          <span class="claimant-label">Claimant 1:</span>
            {% include "partials/name_with_alias.html" with name=responses|name_you use_other_name=responses.any_other_name_you other_names=responses.other_name_you class_name='form-entry_claimant' %}
        </p>
        <p>
          <span class="claimant-label">Claimant 2:</span>
            {% include "partials/name_with_alias.html" with name=responses|name_spouse use_other_name=responses.any_other_name_spouse other_names=responses.other_name_spouse class_name='form-entry_claimant' %}
        </p>
        <p>
            &nbsp;
        </p>
        <h1 class="text-center">
            NOTICE OF JOINT FAMILY CLAIM
        </h1>

        <h3>1. Relationship history</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="2"> Claimant 1 and Claimant 2: </td>
                </tr>
                <tr>
                    <td>
                      <span class="td-list-item">{% checkbox responses.when_were_you_live_married_like %}</span>
                      began to live together in a marriage-like relationship on
                      <em class="no-wrap">[dd/mmm/yyyy]</em>
                    </td>
                    <td colname="c2">
                      {% response responses.when_were_you_live_married_like as_date=True %}
                    </td>
                </tr>
                <tr>
                    <td>
                      <span class="td-list-item">{% checkbox responses.when_were_you_married %}</span>
                      were married on <em class="no-wrap">[dd/mmm/yyyy]</em>
                    </td>
                    <td colname="c2">
                      {% response responses.when_were_you_married as_date=True %}
                    </td>
                </tr>
                <tr>
                    <td>
                      <span class="td-list-item">{% checkbox responses.separation_date %}</span>
                      separated on <em class="no-wrap">[dd/mmm/yyyy]</em>
                    </td>
                    <td colname="c2">
                      {% response responses.separation_date as_date=True %}
                    </td>
                </tr>
                <tr>
                    <td>
                      <span class="td-list-item">{% checkbox False %}</span>
                      were divorced from each other by order made on
                      <em class="no-wrap">[dd/mmm/yyyy]</em>
                    </td>
                    <td colname="c2"><span class="form-entry not-complete">&nbsp;</span></td>
                </tr>
                <tr>
                    <td>
                      <span class="td-list-item">
                        {% checkbox married_marriage_like='Living together in a marriage like relationship' %}
                      </span>
                      were never married
                    </td>
                    <td colname="c2"> </td>
                </tr>
            </tbody>
        </table>

        <h3 class="force-break">2. Divorce</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="3">
                      <span class="td-list-item">
                        {% checkbox want_which_orders='A legal end to the marriage' %}
                      </span>
                      Claimant 1 and Claimant 2 are asking for a divorce order.
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><strong>A. Personal information:</strong></td>
                </tr>
                <tr>
                    <td> </td>
                    <td colname="c2"><strong>Claimant 1</strong></td>
                    <td colname="c3"><strong>Claimant 2</strong></td>
                </tr>
                <tr>
                    <td>Birthdate: <em class="no-wrap">[dd/mmm/yyyy]</em></td>
                    <td colname="c2">{% response responses.birthday_you as_date=True %}</td>
                    <td colname="c3">{% response responses.birthday_spouse as_date=True %}</td>
                </tr>
                <tr>
                    <td>
                      Ordinarily resident in British Columbia since:
                      <em class="no-wrap">[dd/mmm/yyyy]</em>
                    </td>
                    <td colname="c2">
                      {% if responses.lived_in_bc_you == 'Since birth' %}
                        {% response responses.birthday_you as_date=True %}
                      {% elif responses.lived_in_bc_you == 'Moved to B.C. on' %}
                        {% response responses.moved_to_bc_date_you as_date=True %}
                      {% else %}
                        <span class="form-entry not-complete">&nbsp;</span>
                      {% endif %}
                    </td>
                    <td colname="c3">
                      {% if responses.lived_in_bc_spouse == 'Since birth' %}
                        {% response responses.birthday_spouse as_date=True %}
                      {% elif responses.lived_in_bc_spouse == 'Moved to B.C. on' %}
                        {% response responses.moved_to_bc_date_spouse as_date=True %}
                      {% else %}
                        <span class="form-entry not-complete">&nbsp;</span>
                      {% endif %}
                    </td>
                </tr>
                <tr>
                    <td> Surname at birth: </td>
                    <td colname="c2">{% response responses.last_name_born_you %}</td>
                    <td colname="c3">{% response responses.last_name_born_spouse %}</td>
                </tr>
                <tr>
                    <td> Surname immediately before marriage: </td>
                    <td colname="c2">{% response responses.last_name_before_married_you %}</td>
                    <td colname="c3">{% response responses.last_name_before_married_spouse %}</td>
                </tr>
                <tr>
                    <td valign="top"> Marital status immediately before marriage: </td>
                    <td colname="c2">
                      <p>{% checkbox marital_status_before_you='Never married' %} never married</p>
                      <p>{% checkbox marital_status_before_you='Divorced' %} divorced</p>
                      <p>{% checkbox marital_status_before_you='Widowed' %} widowed</p>
                    </td>
                    <td colname="c3">
                      <p>{% checkbox marital_status_before_spouse='Never married' %} never married</p>
                      <p>{% checkbox marital_status_before_spouse='Divorced' %} divorced</p>
                      <p>{% checkbox marital_status_before_spouse='Widowed' %} widowed</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                      Place of marriage: [<em>city or town; province or state (optional); country</em>]
                    </td>
                    <td colspan="2">
                      {% if responses.where_were_you_married_city and responses.where_were_you_married_country %}
                        {% response responses.where_were_you_married_city %};
                        {% if responses.where_were_you_married_prov %}
                          {% response responses.where_were_you_married_prov %};
                        {% endif %}
                        {% if responses.where_were_you_married_country == 'Other' %}
                          {% response responses.where_were_you_married_other_country %}
                        {% else %}
                          {% response responses.where_were_you_married_country %}
                        {% endif %}
                      {% else %}
                        <span class="form-entry not-complete">&nbsp;</span>
                      {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-fixed">
            <tbody>
                <tr>
                    <td colspan="2"><strong>B. Grounds for claim for divorce:</strong></td>
                </tr>
                <tr>
                    <td colspan="2">
                      <span class="td-list-item">(i) {% checkbox responses.separation_date %}</span>
                      Claimant 1 and Claimant 2 have lived separate and apart
                      since {% response responses.separation_date|date_formatter %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                      <strong>AND</strong><br><br>
                      <div>
                        <span class="td-list-item">
                          {% checkbox try_reconcile_after_separated='NO' %}
                        </span>
                        <div class="td-list-text">
                          Claimant 1 and Claimant 2 have not lived together since then
                        </div>
                        <br>
                      </div>
                      <div>
                        <span class="td-list-item">
                          {% checkbox try_reconcile_after_separated='YES' %}
                        </span>
                        <div class="td-list-text">
                          Claimant 1 and Claimant 2 have lived together again
                          during the following period(s), in an unsuccessful
                          attempt to reconcile: <br>
                          [<em>give dates of period(s)</em>]<br><br>

                          <table class="table table-bordered table-fixed">
  {% multiple_values_to_list source=responses.reconciliation_period as periods %}
  {% if periods and responses.try_reconcile_after_separated == 'YES' %}
    {% for period in periods %}
                            <tr>
                              <td>From: {{ period|first|date_formatter }}</td>
                              <td>To: {{ period|last|date_formatter }}</td>
                            </tr>
    {% endfor %}
  {% else %}
                            <tr>
                              <td>From: <span class="form-entry not-complete">&nbsp;</span></td>
                              <td>To: <span class="form-entry not-complete">&nbsp;</span></td>
                            </tr>
  {% endif %}
                          </table>

                        </div>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                      <span class="td-list-item">(ii) {% checkbox False %}</span>
                      <div class="td-list-text">
                        <strong>Other grounds</strong>,
                        under section 8 (2) (b) of the <em> Divorce Act </em> (Canada):
                        <span class="form-entry form-textarea not-complete">&nbsp;</span>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                      <strong>AND</strong><br><br>
                      <span class="td-list-item">{% checkbox False %}</span>
                      <div class="td-list-text">
                        There has been no condonation of any act relied on under
                        section 8 (2) (b) of the <em> Divorce Act </em> (Canada)
                        as a ground for divorce.
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-fixed">
            <tbody>
                <tr>
                    <td colspan="2">
                      <strong>C. Claimant 1 and Claimant 2 confirm
                      that:</strong> [<em>Check both of the following
                    boxes.</em>]
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                      <span class="td-list-item">{% checkbox no_reconciliation_possible='I agree' %}</span>
                      There is no possibility of reconciliation.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                      <span class="td-list-item">{% checkbox no_collusion='I agree' %}</span>
                      There has been no collusion, as defined in section 11 (4)
                      of the <em> Divorce Act </em> (Canada), in relation to
                      this claim for divorce.
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-fixed">
            <tbody>
                <tr>
                    <td colspan="2">
                      <strong>D. Proof of marriage:</strong>
                      [<em>Check whichever one of the following boxes is
                        correct and complete any required information.</em>]
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                      <span class="td-list-item">{% checkbox original_marriage_certificate='YES' %}</span>
                      A certificate of marriage or registration of marriage has been filed.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                      <span class="td-list-item">
                        {% checkbox original_marriage_certificate='NO' provide_certificate_later='YES' %}
                      </span>
                      <div class="td-list-text">
                        A certificate of marriage or registration of marriage
                        is not being filed with this notice of joint family
                        claim because
                        <span class="form-entry form-textarea not-complete">
                          {% if responses.provide_certificate_later_reason and responses.original_marriage_certificate == 'NO' and responses.provide_certificate_later == 'YES' %}
                            {{ responses.provide_certificate_later_reason }}
                          {% endif %}
                        </span>
                        <p>and the certificate will be filed before this claim is set down for trial or an application is made for an order of divorce.</p>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                      <span class="td-list-item">
                        {% if responses.provide_certificate_later != 'YES' %}
                          {% checkbox original_marriage_certificate='NO' %}
                        {% else %}
                          {% checkbox False %}
                        {% endif %}
                      </span>
                      <div class="td-list-text">
                        It is impossible to obtain a certificate of marriage or
                        registration of marriage because:
                        <span class="form-entry form-textarea not-complete">
                          {% if responses.not_provide_certificate_reason and responses.original_marriage_certificate == 'NO' and not responses.provide_certificate_later == 'YES' %}
                            {{ responses.not_provide_certificate_reason|striptags|linebreaksbr }}
                          {% endif %}
                        </span>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>3. Information concerning children</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                      <strong>Children:</strong>
                      <br><br>
                      <span class="td-list-item">{% checkbox has_children_of_marriage='False' %}</span>
                      <div class="td-list-text">
                        There are no children of the marriage, as defined by
                        the <em>Divorce Act</em> (Canada), or children of whom
                        Claimant 1 and Claimant 2 are parents within the meaning
                        of the <em>Family Law Act</em>.
                      </div>
                      <br><strong>OR</strong><br><br>
                      <span class="td-list-item">{% checkbox derived.has_children_of_marriage %}</span>
                      <div class="td-list-text">
                          There are children of the marriage, as defined by the
                          <em>Divorce Act</em> (Canada), or children of whom
                          Claimant 1 and Claimant 2 are parents within the meaning
                          of the <em> Family Law Act </em> , and those children
                          are:<br><br>

                          <table class="table table-fixed table-bordered">
                              <tr>
                                  <th align="center">Full name</th>
                                  <th align="center">Birth date<br />[<em>dd/mmm/yyyy</em>]</th>
                                  <th align="center">Resides with</th>
                              </tr>
      {% if derived.has_children_of_marriage %}
          {% for child in responses.children %}
                              <tr>
                                  <td align="center">{{ child.child_name }}</td>
                                  <td align="center">{{ child.child_birth_date|date_formatter }} &nbsp;</td>
                                  <td align="center">{{ child.child_live_with|claimantize }}</td>
                              </tr>
          {% endfor %}
      {% endif %}
                              <tr>
                                  <td align="center"> <span class="form-entry not-complete">&nbsp;</span> </td>
                                  <td align="center"> <span class="form-entry not-complete">&nbsp;</span> </td>
                                  <td align="center"> <span class="form-entry not-complete">&nbsp;</span> </td>
                              </tr>
                              <tr>
                                  <td colspan="3" style="text-align: center">
                                    [<em>if more space is required - attach page and state "See Attached"</em>]
                                  </td>
                              </tr>
                          </table>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 class="force-break">4. Orders asked for in relation to children</h3>
        <table class="table table-bordered table-fixed">
            <tbody>
                <tr>
                  <td colname="c2">
                    <span class="td-list-item">
                      A. {% checkbox derived.has_children_of_marriage derived.wants_child_support want_parenting_arrangements='YES' %}
                    </span>
                      <div class="td-list-text">
                          Claimant 1 and Claimant 2 are asking for the following
                          order respecting arrangements for parenting or
                          contact:
                          <span class="form-entry form-textarea not-complete form-list-textarea">
    {% if derived.has_children_of_marriage and responses.want_parenting_arrangements == 'YES' and responses.order_respecting_arrangement and derived.wants_child_support %}
                            <ul>{{ responses.order_respecting_arrangement|striptags|linebreaksli }}</ul>
    {% endif %}
                          </span>
                      </div>
                  </td>
                </tr>
                <tr>
                    <td colname="c2">
                        <span class="td-list-item">
                          B.
                          {% if responses.child_support_in_order == 'NO' %}
                            {% checkbox false %}
                          {% else %}
                            {% checkbox responses.order_for_child_support derived.has_children_of_marriage derived.wants_child_support %}
                          {% endif %}
                        </span>
                        <div class="td-list-text">
                            Claimant 1 and Claimant 2 are asking for an order for
                            child support as follows:
                            <span class="form-entry form-textarea not-complete form-list-textarea">
    {% if derived.has_children_of_marriage and responses.order_for_child_support and derived.wants_child_support and responses.child_support_in_order != 'NO' %}
                              <ul>{{ responses.order_for_child_support|striptags|linebreaksli }}</ul>
    {% endif %}
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colname="c2">
                        <span class="td-list-item">
                          C. {% checkbox derived.wants_child_support derived.has_children_of_marriage special_extraordinary_expenses='YES' %}
                        </span>
                        <div class="td-list-text">
                          Claimant 1 and Claimant 2 are asking for an order for Special and Extraordinary Expenses as follows:<br>
                            <span class="form-entry form-textarea not-complete form-list-textarea">
    {% if derived.has_children_of_marriage and responses.special_extraordinary_expenses == 'YES' and derived.wants_child_support %}
                              <ul>{{ responses.describe_order_special_extra_expenses|striptags|linebreaksli }}</ul>
    {% endif %}
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colname="c2">
                        <span class="td-list-item">
                          D. {% checkbox responses.child_support_act derived.has_children_of_marriage derived.wants_child_support %}
                        </span>
                        <div class="td-list-text">
                          Claimant 1 and Claimant 2 are asking for the orders
                          under paragraphs A and B of this section under the
                          following statute(s):<br>
                          [<em>Check one or both of the following boxes, as
                            applicable.</em>]<br><br>
                          {% checkbox derived.has_children_of_marriage derived.wants_child_support child_support_act='the Divorce Act (Canada)' %}
                          the <em>Divorce Act</em> (Canada)
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          {% checkbox derived.has_children_of_marriage derived.wants_child_support child_support_act='the Family Law Act' %}
                          the <em>Family Law Act</em>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 class="force-break">5. Spousal support</h3>
        <table class="table table-bordered table-fixed">
            <tbody>
                <tr>
                    <td colname="c2">
                      <span class="td-list-item">{% checkbox derived.wants_spousal_support %}</span>
                        <div class="td-list-text">
                          Claimant 1 and Claimant 2 are asking for an order for spousal support as follows:<br>
                          <span class="form-entry form-textarea not-complete">
                          {% if derived.wants_spousal_support and responses.spouse_support_details %}
                          <ul>{{responses.spouse_support_details|striptags|linebreaksli }}</ul>
                          {% endif %}
                          </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colname="c2">
                        <span class="td-list-item">
                          {% checkbox responses.spouse_support_act derived.wants_spousal_support %}
                        </span>
                        <div class="td-list-text">
                          Claimant 1 and Claimant 2 are asking for an order for spousal support under:<br>
                         [<em>Check one or both of the following boxes, as applicable.</em>]
                          <br><br>
                          {% checkbox derived.wants_spousal_support spouse_support_act='The Divorce Act (Canada)' %}
                          the <em> Divorce Act </em> (Canada)
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          {% checkbox derived.wants_spousal_support spouse_support_act='The Family Law Act' %}

                          the <em> Family Law Act </em>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>6. Property and debt</h3>
        <table class="table table-bordered table-fixed">
          <tbody>
            <tr>
              <td>
                <div><strong>A. Property claims under the <em>Family Law Act</em></strong><br><br></div>
                <span class="td-list-item">
                  {% checkbox derived.wants_property_division %}
                </span>
                <div class="td-list-text">
                  Claimant 1 and Claimant 2 are asking for an order for:<br><br>
                  <div>
                    <span class="td-list-item">
                      {% checkbox derived.wants_property_division deal_with_property_debt='Equal division' %}
                    </span>
                    <div class="td-list-text">
                      an equal division of family property and family debt<br><br>
                    </div>
                  </div>
                  <div>
                    <span class="td-list-item">
                      {% checkbox derived.wants_property_division deal_with_property_debt='Unequal division' %}
                    </span>
                    <div class="td-list-text">
                      an unequal division of family property and family debt as follows:
                      <span class="form-entry form-textarea not-complete">
                        {% if derived.wants_property_division and responses.deal_with_property_debt == 'Unequal division' and responses.how_to_divide_property_debt %}
                        <ul>{{ responses.how_to_divide_property_debt|striptags|linebreaksli }}</ul>
                        {% endif %}
                      </span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div><strong>B. Other property claims</strong><br><br></div>
                <span class="td-list-item">{% checkbox derived.wants_property_division responses.other_property_claims %}</span>
                  <div class="td-list-text">
                    Claimant 1 and Claimant 2 ask for an order respecting
                    an interest in property or for compensation instead
                    of an interest in that property, as follows:<br>
                    <span class="form-entry form-textarea not-complete">
                      {% if derived.wants_property_division and responses.other_property_claims %}
                        <ul>{{ responses.other_property_claims|striptags|linebreaksli }}</ul>
                      {% endif %}
                    </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <h3>7. Other</h3>
        <table class="table table-bordered table-fixed">
            <tbody>
                <tr>
                    <td>
                      <span class="td-list-item">
                      {% if derived.wants_other_orders %}
                          {% if responses.other_orders_detail or responses.name_change_you == 'YES' or responses.name_change_spouse == 'YES' %}
                            {% checkbox %}
                          {% else %}
                            {% checkbox False %}
                          {% endif %}
                      {% else %}
                          {% checkbox False %}
                      {% endif %}
                      </span>
                        <div class="td-list-text">
                        Claimant 1 and Claimant 2 are asking for an order in the
                        following terms:

                        <span class="form-entry form-textarea not-complete">
                          <ul>
                          {% if derived.wants_other_orders and responses.other_orders_detail %}
                              {{ responses.other_orders_detail|striptags|linebreaksli }}
                          {% endif %}

                          {% if derived.wants_other_orders and responses.name_change_you == 'YES' %}
                            <li>
                              Pursuant to Section 5 of the Name Act, Claimant 1 shall
                              bear the name of {{ responses.name_change_you_fullname }}
                              to take effect on {% effective_date %}.
                            </li>
                          {% endif %}

                          {% if derived.wants_other_orders and responses.name_change_spouse == 'YES' %}
                            <li>
                              Pursuant to Section 5 of the Name Act, Claimant 2 shall
                              bear the name of {{ responses.name_change_spouse_fullname }}
                              to take effect on {% effective_date %}.
                            </li>
                          {% endif %}
                          </ul>
                        </span>
                        <p class="text-center">
                            [<em>set out terms of proposed order</em>]
                        </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 class="force-break">8. Claimants' addresses for service</h3>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <p>Claimant 1:
                {% if responses.address_to_send_official_document_street_you and responses.address_to_send_official_document_city_you and responses.address_to_send_official_document_country_you %}
                  {{ responses.address_to_send_official_document_street_you }}, {{ responses.address_to_send_official_document_city_you }},
                  {% if responses.address_to_send_official_document_prov_you %}
                    {{ responses.address_to_send_official_document_prov_you }},
                  {% endif %}
                  {% if responses.address_to_send_official_document_country_you == 'Other' %}
                    {{ responses.address_to_send_official_document_other_country_you }}
                  {% else %}
                    {{ responses.address_to_send_official_document_country_you }}
                  {% endif %}
                  {% if responses.address_to_send_official_document_postal_code_you %}
                    , {{ responses.address_to_send_official_document_postal_code_you }}
                  {% endif %}
                {% else %}
                  <span class="form-entry not-complete">&nbsp;</span>
                {% endif %}
                </p>
                <p>Fax (optional)
                {% if responses.address_to_send_official_document_fax_you %}
                  {{ responses.address_to_send_official_document_fax_you }}
                {% else %}
                  <span class="form-entry not-complete">&nbsp;</span>
                {% endif %}
                </p>
                <p>E-mail (optional)
                {% if responses.address_to_send_official_document_email_you %}
                  {{ responses.address_to_send_official_document_email_you }}
                {% else %}
                  <span class="form-entry not-complete">&nbsp;</span>
                {% endif %}
                </p>
              </td>
              <td colname="c2">
                <p>Claimant 2:
                  {% if responses.address_to_send_official_document_street_spouse and responses.address_to_send_official_document_city_spouse and responses.address_to_send_official_document_country_spouse %}
                    {{ responses.address_to_send_official_document_street_spouse }}, {{ responses.address_to_send_official_document_city_spouse }},
                    {% if responses.address_to_send_official_document_prov_spouse %}
                      {{ responses.address_to_send_official_document_prov_spouse }},
                    {% endif %}
                    {% if responses.address_to_send_official_document_country_spouse == 'Other' %} {{ responses.address_to_send_official_document_other_country_spouse }}
                    {% else %}
                    {{ responses.address_to_send_official_document_country_spouse }}
                    {% endif %}
                    {% if responses.address_to_send_official_document_postal_code_spouse %}
                      , {{ responses.address_to_send_official_document_postal_code_spouse }}
                    {% endif %}
                  {% else %}
                    <span class="form-entry not-complete">&nbsp;</span>
                  {% endif %}
                </p>
                <p>
                  Fax (optional)
                  {% if responses.address_to_send_official_document_fax_spouse %}
                    {{ responses.address_to_send_official_document_fax_spouse }}
                  {% else %}
                  <span class="form-entry not-complete">&nbsp;</span>
                  {% endif %}
                </p>
                <p>
                  E-mail (optional)
                  {% if responses.address_to_send_official_document_email_spouse %}
                    {{ responses.address_to_send_official_document_email_spouse }}
                  {% else %}
                    <span class="form-entry not-complete">&nbsp;</span>
                  {% endif %}
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table sig-table">
            <tbody>
                <tr>
                    <td class="sig-col1">Date:</td>
                    <td class="sig-col2 underline"></td>
                    <td class="sig-col3"></td>
                    <td class="sig-col4 underline"></td>
                </tr>
                <tr>
                    <td class="sig-col1"></td>
                    <td class="sig-col2 sig-line-text">[dd/mmm/yyyy]</td>
                    <td class="sig-col3"></td>
                    <td class="sig-col4 sig-line-text">
                        <p>
                            Signature of
                        </p>
                        <p>
                            <span class="fake-checkbox"></span> Claimant 1
                            <span class="fake-checkbox"></span> lawyer for Claimant 1
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <table class="table sig-table">
            <tbody>
                <tr>
                    <td class="sig-col1">Date:</td>
                    <td class="sig-col2 underline"></td>
                    <td class="sig-col3"></td>
                    <td class="sig-col4 underline"></td>
                </tr>
                <tr>
                    <td class="sig-col1"></td>
                    <td class="sig-col2 sig-line-text">[dd/mmm/yyyy]</td>
                    <td class="sig-col3"></td>
                    <td class="sig-col4 sig-line-text">
                        <p>
                            Signature of
                        </p>
                        <p>
                            <span class="fake-checkbox"></span> Claimant 2
                            <span class="fake-checkbox"></span> lawyer for Claimant 2
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="text-center">
            <em> If in this family law case a claim is made under the Family Law Act and one or both of the parties is represented by a lawyer, each of the lawyers must complete a certificate in the following form. </em>
        </p>
        <p class="text-center force-break">
            <strong> LAWYER'S CERTIFICATE ( <em> Family Law Act </em> , s. 8 (2)) </strong>
        </p>
        <p>
            I, <span class="form-entry not-complete">&nbsp;</span> , lawyer for <span class="form-entry not-complete">&nbsp;</span> [<em>name of party</em>]
        </p>
        <p>certify that, in accordance with section 8 (2) of the <em> Family Law Act </em> , I have
        </p>
        <p class="schIndent2">
            (a) discussed with the party the advisability of using various types of family dispute resolution to resolve the matter, and
        </p>
        <p class="schIndent2">
            (b) informed the party of the facilities and other resources, known to me, that may be available to assist in resolving the dispute.
        </p>
        <br><br>
        <table class="table sig-table">
            <tbody>
                <tr>
                    <td class="sig-col1">Date:</td>
                    <td class="sig-col2 underline"></td>
                    <td class="sig-col3"></td>
                    <td class="sig-col4 underline"></td>
                </tr>
                <tr>
                    <td class="sig-col1"></td>
                    <td class="sig-col2 sig-line-text">[dd/mmm/yyyy]</td>
                    <td class="sig-col3"></td>
                    <td class="sig-col4 sig-line-text">
                        <p>
                            Signature of lawyer
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br><br>

        <p class="text-center">
            <em> The following certificate must be completed for each party to a divorce claim who is represented by a lawyer. </em>
        </p>
        <h2 class="text-center">
            LAWYER'S CERTIFICATE ( <em> Divorce Act </em> (Canada), s. 9)
        </h2>
        <p>
            I, <span class="form-entry not-complete">&nbsp;</span> , lawyer for <span class="form-entry not-complete">&nbsp;</span> [<em>name of party</em>], <br />certify that I have complied with section 9 of the <em> Divorce Act </em> (Canada), which
            says:
        </p>
        <p>
            <strong> 9 </strong> (1) It is the duty of every barrister, solicitor, lawyer or advocate who undertakes to act on behalf of a spouse in a divorce proceeding
        </p>
        <p>
            (a) to draw to the attention of the spouse the provisions of this Act that have as their object the reconciliation of spouses, and
        </p>
        <p>
            (b) to discuss with the spouse the possibility of the reconciliation of the spouses and to inform the spouse of the marriage counselling or guidance facilities known to him or her that might be able to assist the spouses to achieve a reconciliation, unless
            the circumstances of the case are of such a nature that it would clearly not be appropriate to do so.
        </p>
        <p>
            (2) It is the duty of every barrister, solicitor, lawyer or advocate who undertakes to act on behalf of a spouse in a divorce proceeding to discuss with the spouse the advisability of negotiating the matters that may be the subject of a support order
            or a custody order and to inform the spouse of the mediation facilities known to him or her that might be able to assist the spouses in negotiating those matters.
        </p>
        <br><br>
        <table class="table sig-table">
            <tbody>
                <tr>
                    <td class="sig-col1">Date:</td>
                    <td class="sig-col2 underline"></td>
                    <td class="sig-col3"></td>
                    <td class="sig-col4 underline"></td>
                </tr>
                <tr>
                    <td class="sig-col1"></td>
                    <td class="sig-col2 sig-line-text">[dd/mmm/yyyy]</td>
                    <td class="sig-col3"></td>
                    <td class="sig-col4 sig-line-text">
                        <p>
                            Signature of lawyer
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <small class="bottom">Printed on {% now "F jS, Y" %} from https://justice.gov.bc.ca/divorce</small>
    </div>
</body>

</html>
