{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Form 52</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/bootstrap-slim.min.css">
    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/weasyprint.css" />
</head>

<body>

    <div class="print-wrapper">

        <h1 class="text-center">Form F52 <br>(Rule 15-1 (1))</h1>
        <p class="text-right">
            Court File No.: <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p class="text-right">
            Court Registry: <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p class="text-center">
            <em> In the Supreme Court of British Columbia </em>
        </p>
        <p>
            Claimant:
        </p>
        <p>
            Respondent:
        </p>
        <h2 align="center">
           FINAL ORDER
        </h2>
        <p>
            <em>[Rule 21-1 of the Supreme Court Family Rules applies to all forms.]</em>
        </p>
        </p>

        <p>
            <em>[Complete the form in accordance with the instructions found in the bracketed italicized wording and then remove all bracketed italicized wording so that it does not appear in the form when the form is filed.]</em>
        </p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td> <span class="form-entry not-complete">&nbsp;</span>  THE HONOURABLE JUSTICE or A JUDGE OF THE COURT or MASTER or A MASTER OF THE COURT </td>
                    <td>
                        <span class="form-entry not-complete">[dd/mm/yyyy]</span>
                    </td>
                </tr>

            </tbody>
        </table>
        <p>
            <em>[Select whichever one of the 4 following provisions is correct, provide any required information and remove the provisions that have not been selected so that they do not appear in the form when the form is filed.]</em>
        </p>
        <p class="schIndent1">
            This family law case coming on for trial at <span class="form-entry not-complete">&nbsp;</span>, on <span class="form-entry not-complete">[<em>dd/mmm/yyyy</em>]</span>, and on hearing <span class="form-entry not-complete">&nbsp;</span>, [<em>add the following if applicable: the lawyer for</em>] the claimant and <span class="form-entry not-complete">&nbsp;</span>,
            [<em>add the following if applicable: the lawyer for</em>] the respondent, and on considering the evidence put forward [<em>add the following if applicable:</em> AND JUDGMENT being reserved to this date];
        </p>
        <p class="schIndent1">
            This family law case coming on for hearing at <span class="form-entry not-complete">&nbsp;</span> on <span class="form-entry not-complete">[<em>dd/mmm/yyyy</em>]</span> and on hearing <span class="form-entry not-complete">[<em>name of party/lawyer</em>]</span> and <span class="form-entry not-complete">[<em>name of party/lawyer</em>]</span>,
            and on considering the evidence put forward;
        </p>
        <p class="schIndent1">
            This family law case coming on for summary trial under Rule 11-3 of the Supreme Court Family Rules at <span class="form-entry not-complete">&nbsp;</span> on <span class="form-entry not-complete">[dd/mmm/yyyy]</span>, and on hearing <span class="form-entry not-complete">[name of party/lawyer]</span> and <span class="form-entry not-complete">[name of party/lawyer]</span>,
            and on considering the evidence put forward;
        </p>
        <p class="schIndent1">
            This family law case coming on as an undefended family law case without an oral hearing under Rule 10-10 of the Supreme Court Family Rules, and on considering the evidence put forward;
        </p>
        <p>
            THIS COURT ORDERS that
        </p>
        <p>
            <em>[If a divorce is granted, select whichever one of the 2 following provisions is correct, complete the selected provision and remove the provision that has not been selected so that it does not appear in the form when the form is filed. If a divorce is not granted, remove both of the following provisions so that they do not appear in the form when the form is filed.]</em>
        </p>
        <p class="schIndent1">
            Subject to section 12 of the <em>Divorce Act</em> (Canada), the claimant, <span class="form-entry not-complete">[<em>name</em>]</span>, and the respondent, <span class="form-entry not-complete">[<em>name</em>]</span>, who were married at <span class="form-entry not-complete">[<em>place</em>]</span>
            on <span class="form-entry not-complete">[<em>dd/mmm/yyyy</em>]</span>, are divorced from each other, the divorce to take effect on the 31st day after the date of this order.
        </p>
        <p class="schIndent1">
            Subject to section 12 of the <em>Divorce Act</em> (Canada), the claimant, <span class="form-entry not-complete">[<em>name</em>]</span>, and the respondent, <span class="form-entry not-complete">[<em>name</em>]</span>, who were married at <span class="form-entry not-complete">&nbsp;</span>[<em>place</em>]<span class="form-entry not-complete">&nbsp;</span>
            on <span class="form-entry not-complete">[<em>dd/mmm/yyyy</em>]</span>, are divorced from each other, the divorce to take effect on <span class="form-entry not-complete">[<em>dd/mmm/yyyy</em>]</span>.
        </p>
        <p>
            THIS COURT ORDERS that
        </p>
        <p>
            <em>[If orders other than or in addition to divorce orders are made, set out, in numbered paragraphs, the terms of all orders other than divorce orders.] [If any of the following orders are by consent, indicate that fact by adding the words "By consent," to the beginning of the description of the order.] [For each order, if any, made for custody, parenting arrangements, child support or spousal support, indicate whether the order is made under the Divorce Act or the Family Law Act.] [If no orders other than divorce orders are made, remove this provision so that it does not appear in the form when the form is filed.] </em>
        </p>
        <p class="schIndent1">
            1 <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p class="schIndent1">
            2 <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p class="schIndent1">
            3 <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p>
            THE FOLLOWING PARTIES APPROVE THE FORM OF THIS ORDER AND CONSENT TO EACH OF THE ORDERS, IF ANY, THAT ARE INDICATED ABOVE AS BEING BY CONSENT:
        </p>
        <p>
            <em>[A signature line in the following form must be completed and signed by or for each approving party.]</em>
        </p>
        <table class="table table-bordered">
            <tr>
                <td>
                    <p>
                        <span class="form-entry not-complete">&nbsp;</span><br> Signature of<br> <i class="fa fa-square-o" aria-hidden="true"></i> party <i class="fa fa-square-o" aria-hidden="true"></i> lawyer for <span class="form-entry not-complete">[<em>name of party(ies)</em>]</span>
                    </p>
                    <p>
                        <span class="form-entry not-complete">[<em>type or print name</em>]</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span class="form-entry not-complete">&nbsp;</span><br> Signature of<br> <i class="fa fa-square-o" aria-hidden="true"></i> party <i class="fa fa-square-o" aria-hidden="true"></i> lawyer for <span class="form-entry not-complete">[<em>name of party(ies)</em>]</span>
                    </p>
                    <p>
                        <span class="form-entry not-complete">[<em>type or print name</em>]</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <p class="text-right">
                        By the Court.
                    </p>
                    <p class="text-right">
                        <span class="form-entry not-complete">&nbsp;</span><br> Registrar
                    </p>
                </td>
            </tr>
        </table>



    </div>
</body>

</html>