{% load static %}
{% load input_field %}
{% load format_utils %}
{% load load_json %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Form 52</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/bootstrap-slim.min.css">
    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/weasyprint.css" />

    {% include 'partials/gtm_head.html' %}
</head>

<body>

    <div class="print-wrapper">

        <h1 class="text-center">Form F52 <br>(Rule 15-1 (1))</h1>
        <p class="text-right">
            Court File No.: <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p class="text-right">
            Court Registry: {% if responses.court_registry_for_filing %} {{ responses.court_registry_for_filing }} {% else %} <span class="form-entry not-complete">&nbsp;</span> {% endif %}
        </p>
        <p class="text-center">
            <em> In the Supreme Court of British Columbia </em>
        </p>
        <p>
            Claimant 1:{% include "partials/name_with_alias.html" with name=responses.name_you use_other_name=responses.any_other_name_you other_names=responses.other_name_you class_name='form-entry_claimant' %}
        </p>
        <p>
            Claimant 2:{% include "partials/name_with_alias.html" with name=responses.name_spouse use_other_name=responses.any_other_name_spouse other_names=responses.other_name_spouse class_name='form-entry_claimant' %}
        </p>
        <h2 class="text-center">
           FINAL ORDER
        </h2>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td> BEFORE A JUDGE OF THE COURT </td>
                    <td>
                        <span class="form-entry not-complete"></span>
                    </td>
                </tr>

            </tbody>
        </table>

        {% comment "This section is out of scope" %}
        <div>
            <p>
                <em>[Select whichever one of the 4 following provisions is correct, provide any required information and remove the provisions that have not been selected so that they do not appear in the form when the form is filed.]</em>
            </p>
            <p class="schIndent1">
                This family law case coming on for trial at <span class="form-entry not-complete">&nbsp;</span>, on <span class="form-entry not-complete"></span>, and on hearing <span class="form-entry not-complete">&nbsp;</span>, [<em>add the following if applicable: the lawyer for</em>] claimant 1 and <span class="form-entry not-complete">&nbsp;</span>,
                [<em>add the following if applicable: the lawyer for</em>] claimant 2, and on considering the evidence put forward [<em>add the following if applicable:</em> AND JUDGMENT being reserved to this date];
            </p>
            <p class="schIndent1">
                This family law case coming on for hearing at <span class="form-entry not-complete">&nbsp;</span> on <span class="form-entry not-complete"></span> and on hearing <span class="form-entry not-complete"></span> and <span class="form-entry not-complete"></span>,
                and on considering the evidence put forward;
            </p>
            <p class="schIndent1">
                This family law case coming on for summary trial under Rule 11-3 of the Supreme Court Family Rules at <span class="form-entry not-complete">&nbsp;</span> on <span class="form-entry not-complete"></span>, and on hearing <span class="form-entry not-complete"></span> and <span class="form-entry not-complete"></span>,
                and on considering the evidence put forward;
            </p>
        </div>
        {% endcomment %}

        <p class="schIndent1">
            This family law case coming on as an undefended family law case without an oral hearing under Rule 10-10 of the Supreme Court Family Rules, and on considering the evidence put forward;
        </p>

        {% if 'A legal end to the marriage' in responses.want_which_orders|load_json %}
            <p>
                THIS COURT ORDERS that
            </p>

            <p class="schIndent1">
                Subject to section 12 of the <em>Divorce Act</em> (Canada), claimant 1, {% if responses.name_you %}{% include "partials/name_with_alias.html" with name=responses.name_you use_other_name=responses.any_other_name_you other_names=responses.other_name_you %}{% else %}<span class="form-entry not-complete"></span>{% endif %},
                and claimant 2, {% if responses.name_spouse %}{% include "partials/name_with_alias.html" with name=responses.name_spouse use_other_name=responses.any_other_name_spouse other_names=responses.other_name_spouse %}{% else %}<span class="form-entry not-complete"></span>{% endif %}, who were married at
                {% if responses.where_were_you_married_city and responses.where_were_you_married_prov and responses.where_were_you_married_country %}
                    {{responses.where_were_you_married_city}}; {{responses.where_were_you_married_prov}};
                    {% if responses.where_were_you_married_country == 'Other' %} {{ responses.where_were_you_married_other_country }}
                    {% else %} {{responses.where_were_you_married_country}}{% endif %}
                {% else %}<span class="form-entry not-complete"></span>{% endif %}
                on {% if responses.when_were_you_married %} {{ responses.when_were_you_married|date_formatter }} {% else %}<span class="form-entry not-complete"></span>{% endif %}, are divorced from each other,
                {% if responses.divorce_take_effect_on == 'the 31st day after the date of this order' %}
                    the divorce to take effect on the 31st day after the date of this order.
                {% else %}
                    the divorce to take effect on {% if responses.divorce_take_effect_on_specific_date %}{{ responses.divorce_take_effect_on_specific_date|date_formatter }}{% else %}<span class="form-entry not-complete"></span>{% endif %}.
                {% endif %}
            </p>
        {% endif %}


        {% if 'Division of property and debts' in responses.want_which_orders|load_json or 'Spousal support' in responses.want_which_orders|load_json or 'Other orders' in responses.want_which_orders|load_json %}
            <p>
                THIS COURT ORDERS that BY CONSENT:
            </p>

            <p class="schIndent1">
                <ol>
                  {% if 'Spousal support' in responses.want_which_orders|load_json and responses.spouse_support_details %}
                    <li>{{ responses.spouse_support_details }}</li>
                  {% endif %}

                  {% if 'Division of property and debts' in responses.want_which_orders|load_json %}
                    <li>
                        {% if responses.deal_with_property_debt == 'Equal division' %}
                            Equal division of property and debts.
                        {% else %}
                            {{ responses.how_to_divide_property_debt }}
                        {% endif %}
                        <br>
                        {{ responses.other_property_claims }}
                    </li>
                  {% endif %}

                  {% if 'Other orders' in responses.want_which_orders|load_json and responses.other_orders_detail %}
                    <li>{{ responses.other_orders_detail }}</li>
                  {% endif %}
                </ol>
            </p>
        {% endif %}

        <div class="avoid-break">
            <p>
                THE FOLLOWING PARTIES APPROVE THE FORM OF THIS ORDER AND CONSENT TO EACH OF THE ORDERS, IF ANY, THAT ARE INDICATED ABOVE AS BEING BY CONSENT:
            </p>

            <br><br>

            <table class="table sig-table">
                <tbody>
                <tr>
                    <td class="sig-col4 underline">&nbsp;</td>
                    <td style="width:10px">&nbsp;</td>
                    <td class="sig-col4 underline">&nbsp;</td>
                </tr>
                <tr>
                    <td class="sig-col4 sig-line-text">
                        <p>Signature of</p>
                        <p>
                            <i class="fa fa-square-o" aria-hidden="true"></i> Claimant 1 <i
                                class="fa fa-square-o" aria-hidden="true"></i> lawyer for Claimant 1
                        </p>
                    </td>
                    <td>&nbsp;</td>
                    <td class="sig-col4 sig-line-text">
                        <p>Signature of</p>
                        <p>
                            <i class="fa fa-square-o" aria-hidden="true"></i> Claimant 2 <i
                                class="fa fa-square-o" aria-hidden="true"></i> lawyer for Claimant 2
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="sig-col2">&nbsp;</td>
                    <td class="sig-col3">&nbsp;</td>
                    <td class="sig-col4">By the Court.</td>
                </tr>
                <tr>
                    <td class="sig-col2">&nbsp;</td>
                    <td class="sig-col3">&nbsp;</td>
                    <td class="sig-col4 underline">&nbsp;<br><br></td>
                </tr>
                <tr>
                    <td class="sig-col2">&nbsp;</td>
                    <td class="sig-col3">&nbsp;</td>
                    <td class="sig-col4">Registrar</td>
                </tr>
                </tbody>
            </table>
            <small>Printed on {% now "F jS, Y" %} from https://justice.gov.bc.ca/divorce</small>
        </div>
    </div>
</body>

</html>