{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Form 38</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ css_root }}/static/css/weasyprint.css" />
</head>

<body>

    <div class="print-wrapper">

        <h1 class="text-center">Form F38 <br>(Rule 10-10 (2))</h1>
        <p class="text-right">
            This is the <span class="form-entry not-complete">[<em>1st/2nd/3rd/etc.</em>]</span> affidavit
        </p>
        <p class="text-right">
            of <span class="form-entry not-complete">[<em>name</em>]</span> in this case
        </p>
        <p class="text-right">
            and was made on <span class="form-entry not-complete">[<em>dd/mmm/yyyy</em>]</span>
        </p>
        <p class="text-right">
            Court File No.: <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p class="text-right">
            Court Registry: <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p class="text-center">
            <em>In the Supreme Court of British Columbia</em>
        </p>
        <p>
            Claimant:
        </p>
        <p>
            Claimant 1 [<em>joint family law case</em>]:
        </p>
        <p>
            Respondent:
        </p>
        <p>
            Claimant 2 [<em>joint family law case</em>]:
        </p>
        <p class="text-center">
            <strong>AFFIDAVIT - DESK ORDER DIVORCE</strong>
        </p>
        <p class="text-center">
            <em>[Rule 21-1 of the Supreme Court Family Rules applies to all forms.]</em>
        </p>
        <p>
            <em>[Complete the form in accordance with the instructions found in the bracketed italicized wording and then remove all bracketed italicized wording so that it does not appear in the form when the form is filed.]</em>
        </p>
        <p>
            I, <span class="form-entry not-complete">[<em>name</em>]</span>, of <span class="form-entry not-complete">[<em>address</em>]</span>, <span class="form-entry not-complete">[<em>occupation</em>]</span>, SWEAR (OR AFFIRM) THAT:
        </p>
        <p class="schIndent1">
            1 I am <span class="form-entry not-complete">[<em>the claimant/the respondent/Claimant 1/Claimant 2</em>]</span>.
        </p>
        <p class="schIndent1">
            2 There is no possibility of reconciliation between my spouse and me.
        </p>
        <p>
            [<em>Select whichever one of the 2 following provisions is correct and remove the provision that has not been selected so that it does not appear in the form when the form is filed.</em>]
        </p>
        <p class="schIndent1">
            3 I believe that the facts set out in the notice of family claim are true.
        </p>
        <p class="schIndent1">
            3 I believe that the facts set out in the response to family claim and counterclaim are true.
        </p>
        <p>
            <em>[Select whichever one of the 2 following provisions is correct, provide any required information and remove the provision that has not been selected so that it does not appear in the form when the form is filed.]</em>
        </p>
        <p class="schIndent1">
            4 The certificate of marriage or certified copy of the registration of marriage filed in this family law case fully and correctly describes the true particulars of the marriage.
        </p>
        <p class="schIndent1">
            4 It is impossible to obtain a certificate of marriage or a certified copy of the registration of marriage and instead, in accordance with section 52 (1) (a) of the <em>Evidence Act</em>, I refer to the affidavit of <span class="form-entry not-complete">[<em>name</em>]</span>,
            a person who was present at the marriage ceremony, which affidavit is filed in this family law case.
        </p>
        <p>
            <em>[Select whichever one of the 4 following provisions is correct, complete the selected provision and remove the provisions that have not been selected so that they do not appear in the form when the form is filed.]</em>
        </p>
        <p class="schIndent1">
            5 [<em>Select this provision if the grounds for divorce are separation for more than one year.</em>] I was living separate and apart from my spouse at the start of this family law case and I have lived separate and apart from my spouse since
            <span class="form-entry not-complete">[<em>dd/mmm/yyyy</em>]</span> , except: <span class="form-entry not-complete">[<em>provide dates of any periods of attempted reconciliation</em>]</span>.
        </p>
        <p class="schIndent1">
            5 [<em>Select this provision if the grounds for divorce are adultery of a spouse and there has been an admission of adultery.</em>] My spouse has admitted to me that <span class="form-entry not-complete">[<em>he/she</em>]</span> committed the acts of adultery alleged in Schedule
            1 of the <span class="form-entry not-complete">[<em>notice of family claim/counterclaim</em>]</span> and
        </p>
        <p class="schIndent2">
            (a) as corroboration I refer to <span class="form-entry not-complete">[<em>Set out whichever one of the following is applicable:</em></span> the affidavit(s) of <span class="form-entry not-complete">[<em>name(s)</em>]</span>, / the transcript of the examination for discovery of <span class="form-entry not-complete">[<em>name</em>]</span>
            marked as Exhibit "A" to this affidavit <span class="form-entry not-complete">]</span> ,
        </p>
        <p class="schIndent2">
            (b) I have not condoned the conduct of my spouse that is alleged as the grounds for divorce in that I have not forgiven my spouse for that conduct, nor have I encouraged or acquiesced in that conduct.
        </p>
        <p class="schIndent1">
            5 [<em>Select this provision if the grounds for divorce are adultery of a spouse and there has been no admission of adultery.</em>] I have no personal knowledge of the acts of adultery alleged in Schedule 1 of the <span class="form-entry not-complete">&nbsp;</span>[<em>notice of family claim/counterclaim</em>]<span class="form-entry not-complete">&nbsp;</span>
            and
        </p>
        <p class="schIndent2">
            (a) in proof of the adultery committed by my spouse I refer to <span class="form-entry not-complete">&nbsp;</span>[<em>Set out whichever one of the following is applicable:</em> the affidavit(s) of <span class="form-entry not-complete">&nbsp;</span>[<em>name(s)</em>]<span class="form-entry not-complete">&nbsp;</span>, / the transcript of the examination
            for discovery of <span class="form-entry not-complete">&nbsp;</span>[<em>name</em>]<span class="form-entry not-complete">&nbsp;</span> marked as Exhibit "A" to this affidavit]<span class="form-entry not-complete">&nbsp;</span> ,
        </p>
        <p class="schIndent2">
            (b) I have not condoned the conduct of my spouse that is alleged as the grounds for divorce in that I have not forgiven my spouse for that conduct, nor have I encouraged or acquiesced in that conduct.
        </p>
        <p class="schIndent1">
            5 [<em>Select this provision if the grounds for divorce are physical or mental cruelty of a spouse.</em>] My spouse has treated me with physical or mental cruelty since the date of the marriage as follows: <span class="form-entry not-complete">&nbsp;</span>[<em>provide details</em>]<span class="form-entry not-complete">&nbsp;</span>
        </p>
        <p class="schIndent1">
            6 I am neither directly nor indirectly a party to an agreement or conspiracy for the purpose of subverting the administration of justice, or to any agreement, understanding or arrangement to fabricate or suppress evidence or to deceive the court.
        </p>
        <p>
            [<em>Select whichever one of the 2 following provisions is correct, provide any required information and remove the provision that has not been selected so that it does not appear in the form when the form is filed.</em>]
        </p>
        <p class="schIndent1">
            7 There are no children of the marriage as defined by the <em>Divorce Act</em> (Canada).
        </p>
        <p class="schIndent1">
            7 There are children of the marriage as defined by the <em>Divorce Act</em> (Canada) and
        </p>
        <p class="schIndent2">
            (a) those children are <span class="form-entry not-complete">&nbsp;</span>[<em>provide the full name, age and birth date of each child of the marriage</em>]<span class="form-entry not-complete">&nbsp;</span>,
        </p>
        <p class="schIndent2">
            (b) I have sworn a child support affidavit in Form F37, and
        </p>
        <p class="schIndent2">
            (c) the following arrangements for parenting have been made: <span class="form-entry not-complete">&nbsp;</span>[<em>provide details</em>]<span class="form-entry not-complete">&nbsp;</span> .
        </p>
        <p>
            <em>[Select and complete the following provision if you are seeking a change of name for yourself. If you are not seeking a change of name for yourself, remove this provision so that it does not appear in the form when the form is filed.]</em>
        </p>
        <p class="schIndent1">
            8 Pursuant to section 5 of the <em>Name Act</em>, I am seeking to change my name from <span class="form-entry not-complete">&nbsp;</span> to <span class="form-entry not-complete">&nbsp;</span> . This application for a name change relates only to myself.
        </p>
        <p>
            <em>[Select and complete the following provision if you are seeking a change of name for one or more minor children. If you are not seeking a change of name for one or more minor children, remove this provision so that it does not appear in the form when the form is filed. Renumber this provision as section 8 if you are seeking a change of name for one or more minor children and have not included a section 8 immediately before this provision.]</em>
        </p>
        <p class="schIndent1">
            9 Pursuant to section 5 of the Name Act, I am seeking to change the name(s) of the minor child(ren) of the marriage as follows, and a copy of the consent(s) to the change(s) of name referred to in this section of <span class="form-entry not-complete">[<em>name</em>]</span>
            who is/are <span class="form-entry not-complete">[<em>relationship to child(ren)</em>]</span> is/are attached to this affidavit and marked as Exhibit(s) <span class="form-entry not-complete">[<em>A, B, C, D, as the case may be</em>]</span>. [<em>Complete the following for each minor child of the marriage for whom a name change is sought.</em>]
        </p>
        <p class="schIndent2">
            from <span class="form-entry not-complete">&nbsp;</span> to: <span class="form-entry not-complete">&nbsp;</span>
        </p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colname="c1"> SWORN (OR AFFIRMED) BEFORE </td>
                    <td colname="c2"> ) </td>
                    <td colname="c3"> </td>
                </tr>
                <tr>
                    <td colname="c1"> ME at <span class="form-entry not-complete">&nbsp;</span>, British Columbia </td>
                    <td colname="c2"> ) </td>
                    <td colname="c3"> </td>
                </tr>
                <tr>
                    <td colname="c1"> on <span class="form-entry not-complete">&nbsp;</span>[<em>dd/mmm/yyyy</em>]<span class="form-entry not-complete">&nbsp;</span> . </td>
                    <td colname="c2"> ) </td>
                    <td colname="c3"> <span class="form-entry not-complete">&nbsp;</span> </td>
                </tr>
                <tr>
                    <td colname="c1"> </td>
                    <td colname="c2"> ) </td>
                    <td colname="c3"> </td>
                </tr>
                <tr>
                    <td colname="c1"> <span class="form-entry not-complete">&nbsp;</span> </td>
                    <td colname="c2"> ) </td>
                    <td colname="c3"> </td>
                </tr>
                <tr>
                    <td colname="c1"> A commissioner for taking </td>
                    <td colname="c2"> ) </td>
                    <td colname="c3"> </td>
                </tr>
                <tr>
                    <td colname="c1"> affidavits for British Columbia </td>
                    <td colname="c2"> ) </td>
                    <td colname="c3"> </td>
                </tr>
            </tbody>
        </table>
        <p>
            <span class="form-entry not-complete">&nbsp;</span>[<em>print name or affix stamp of commissioner</em>]<span class="form-entry not-complete">&nbsp;</span>
        </p>

</div>
</body>

</html>