{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}

<h1>Check with registry to find out the status of your divorce application</h1>

<p>
    Ask the registry staff when and how you should check in to find out if a judge has looked at your divorce document and has granted your divorce.
</p>

<p>
    The divorce will become effective on the 31st day after the order has been signed by the judge.
    <b>This doesn't mean the 31st day of that month</b>. It means that from the date the judge signed your order, you count 31 days.
    On the 31st day, your divorce becomes final. For example, if your divorce was granted on September 15, your divorce will become effective on October 16.
</p>

<div class="bg-danger">
    <p>
        You can't remarry until your divorce has been granted (that is, not until 31 days after the divorce order has been signed by the judge).
    </p>
</div>

{% endblock %}

{% block backToDashboard %}
<!-- no back to dashboard -->
{% endblock %}

{% block formbuttons %}
<!-- no button -->
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebarText %}
    {% include "dashboard/partials/sidebar_help.html" %}
{% endblock %}