{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}

<h1>File documents at registry</h1>
<h3>What happens at the registry?</h3>
<p>At the counter, the registry staff will check your documents to make sure they've been completed properly.</p>
<p>
    If you're not sure whether you've filled out the documents correctly, get some
    <a href="https://familylaw.lss.bc.ca/help/who_LegalAdvice.php" target="_blank">legal advice</a> before you file your documents — from
    <a href="https://familylaw.lss.bc.ca/help/who_FamilyDutyCounsel.php" target="_blank">family duty counsel</a>
    or (in Vancouver) from the Vancouver
    <a href="https://familylaw.lss.bc.ca/help/jacSelfHelpAndInfoServices.php" target="_blank">Justice Access Centre</a> Self-Help and Information Services.
</p>
<p>If the registry is satisfied that your documents are in order, they will stamp the documents with the date, the court seal, and a file number.</p>
<p>You now have a divorce file open in the Supreme Court.</p>


{% endblock %}

{% block backToDashboard %}
<!-- no back to dashboard -->
{% endblock %}

{% block formbuttons %}
<!-- no button -->
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebarText %}
    {% include "dashboard/partials/sidebar_help.html" %}
{% endblock %}