{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}
<h3>File documents at registry</h3>
<div>
    <p>
        What happens at the registry? <br />
        “At the counter, the registry staff will check your documents to make sure they've been completed properly.
    </p>
    <p>
        If you're not sure whether you've filled out the documents correctly, get some
        <a href="http://www.familylaw.lss.bc.ca/help/who_LegalAdvice.php">legal advice</a> before you file your documents — from
        <a href="http://www.familylaw.lss.bc.ca/help/who_FamilyDutyCounsel.php">family duty counsel</a>
        or (in Vancouver) from the Vancouver
        <a href="http://www.familylaw.lss.bc.ca/help/jacSelfHelpAndInfoServices.php">Justice Access Centre</a> Self-Help and Information Services.
    </p>
    <p>If the registry is satisfied that your documents are in order, they will stamp the documents with the date, the court seal, and a file number.</p>
    <p>You now have a divorce file open in the Supreme Court.”</p>
</div>


{% endblock %}

{% block formbuttons %}
<div class="form-buttons clearfix">
    <a class="btn btn-success pull-right" href="{% url 'overview' %}">Overview&nbsp;&nbsp;&nbsp;<i class="fa fa-list"></i></a>
</div>
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}