{% extends 'base.html' %}
{% load input_field %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}
    <h1>Final Filing</h1>
    {% if how_to_file == 'Online' %}
        <p>
            Now that you have received a Court Filing Number and both sworn / affirmed your affidavits, you can proceed with the filing of your
            remaining
            documentation. If you have not received a Court Filing Number check the Wait for Court Filing step. If you have not sworn / affirmed your
            affidavits, check the Swear Forms step. Enter your Court Filing Number below:
        </p>
        <div><label>Court Filing #</label>{% input_field type="text" name="court_filing_no" id="court_filing_no" class="input-inline form-control" %}
        </div>
    {% endif %}
    {% if signing_location == 'Virtual' %}
        <div class="question-well-border-less">
            <ul>
                <li>
                    Upload the signed / sworn and scanned Child Support Affidavit (F37)
                    {% include 'partials/upload.html' %}
                </li>
                <li>
                    Upload the signed / sworn and scanned Affidavit - Desk Order Divorce Form (F38)
                    {% include 'partials/upload.html' %}
                </li>
            </ul>
        </div>
    {% elif signing_location_you == 'Virtual' and signing_location_spouse == 'Virtual' %}
        <div class="question-well-border-less">
            <ul>
                <li>
                    Upload the signed / sworn and scanned Child Support Affidavit (F37) - For You
                    {% include 'partials/upload.html' %}
                </li>
                <li>
                    Upload the signed / sworn and scanned Child Support Affidavit (F37) - For Your Spouse
                    {% include 'partials/upload.html' %}
                </li>
                <li>
                    Upload the signed / sworn and scanned Affidavit - Desk Order Divorce Form (F38) - For You
                    {% include 'partials/upload.html' %}
                </li>
                <li>
                    Upload the signed / sworn and scanned Affidavit - Desk Order Divorce Form (F38) - For Your Spouse
                    {% include 'partials/upload.html' %}
                </li>
            </ul>
        </div>
    {% elif how_to_file == 'Online' %}
        {% if signing_location or signing_location_you and signing_location_spouse %}
            <div class="question-well-border-less">
                <p>Missing a form required on this page? Check the <a href="{% url 'dashboard_nav' 'print_form' %}">Review Forms</a> step.</p>
                <p>The following forms will be automatically filed for you:</p>
                <ul>
                    <li>Requisition Form (F35)</li>
                    <li>Certificate of Pleadings Form (F36)</li>
                </ul>
                <ul>
                    <li>
                        Upload the signed / sworn and scanned Child Support Affidavit (F37)
                        {% include 'partials/upload.html' %}
                    </li>
                    <li>
                        Upload the signed / sworn and scanned Affidavit - Desk Order Divorce Form (F38)
                        {% include 'partials/upload.html' %}
                    </li>
                    <li>
                        Upload the signed and scanned Draft Final Order Form (F52)
                        {% include 'partials/upload.html' %}
                    </li>
                    <li>
                        Upload the signed and scanned Electronic Filing Statement (F96) for You
                        {% include 'partials/upload.html' %}
                    </li>
                    <li>
                        Upload the signed and scanned Electronic Filing Statement (F96) for Your Spouse
                        {% include 'partials/upload.html' %}
                    </li>
                    <li>
                        Complete, scan and upload the Agreement as to Annual Income (F9) form
                        {% include 'partials/upload.html' %}
                    </li>
                    <li>
                        Complete, scan and upload the Identification of Applicant (VSA 512) for You
                        {% include 'partials/upload.html' %}
                    </li>
                    <li>
                        Complete, scan and upload the Identification of Applicant (VSA 512) for Your Spouse
                        {% include 'partials/upload.html' %}
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="question-well-border-less">
                <h2>You need to select a signing method in the <a href="{% url 'dashboard_nav' 'sign_file_options' %}">Signing & Filing Options</a>
                    step.</h2>
            </div>
        {% endif %}
    {% elif how_to_sign == 'Together' %}
        <div>
            <p>Staple each form together and then fasten all forms with a paper clip, in the following order:</p>
            <ul>
                <li>Notice of Joint Family Claim Form (F1)</li>
                <li>Requisition Form (F35)</li>
                <li>Draft Final Order Form (F52)</li>
                <li>Certificate of Pleadings Form (F36)</li>
                <li>Child Support Affidavit (F37) signed by claimants</li>
                <li>Affidavit Desk Order Divorce (F38) signed by both claimants</li>
                <li>Agreement as to Annual Income (F9)</li>
            </ul>
            <p>Also ensure you bring the following additional documentation:</p>
            <ul>
                <li>Proof of marriage</li>
                <li>Registration of Joint Divorce Proceedings (JUS280)</li>
                <li>Identification of Applicant (VSA 512) for Claimant 1 ([Name])</li>
                <li>Identification of Applicant (VSA 512) for Claimant 2 ([Name])</li>
                <li>Agreement as to Annual Income (F9)</li>
            </ul>
            <p>If you have other court orders or a written separation agreement, they should also be attached to your Affidavit — Desk Order Divorce
                Form</p>
            <p>(F38). Note that these agreements or orders must not contradict what's in your divorce application.</p>
            <p>You have indicated that you will file at the following court registry:</p>
            <p>[City]</p>
            <p>[Address]</p>
            <p>[Postal Code]</p>
            <p>Once sign / sworn and filed, you will receive a Court Filing Number (?). This number will be used if you need to file any
                additional documentation.</p>
        </div>
    {% elif how_to_sign == 'Separately' %}
        <div class="question-well-border-less">
            <p>Staple each form together and then fasten all forms with a paper clip, in the following order:</p>
            <ul>
                <li> Notice of Joint Family Claim Form (F1)</li>
                <li> Requisition Form (F35)</li>
                <li> Draft Final Order Form (F52)</li>
                <li> Certificate of Pleadings Form (F36)</li>
                <li> Child Support Affidavit (F37) signed by you</li>
                <li> Affidavit Desk Order Divorce (F38) signed by you</li>
                <li> Agreement as to Annual Income (F9)</li>
            </ul>
            <br>
            <p>Also ensure you bring the following additional documentation:</p>
            <ul>
                <li> Proof of marriage</li>
                <li> Registration of Joint Divorce Proceedings (JUS280)</li>
                <li> Identification of Applicant (VSA 512) for Claimant 1 ([Name])</li>
                <li> Agreement as to Annual Income (F9)</li>
            </ul>
            <p>If you have other court orders or a written separation agreement, they should also be attached to your Affidavit — Desk Order Divorce
                Form</p>
            <p>(F38). Note that these agreements or orders must not contradict what's in your divorce application.</p>
            <p>You have indicated that you will file at the following court registry:</p>
            <p>[City]</p>
            <p>[Address]</p>
            <p>[Postal Code]</p>
            <p>Once sign / sworn and filed, you will receive a Court Filing Number (?). This number will be used if you need to file any
                additional documentation.</p>
            <h2>Spousal Documentation Requirements</h2>
            <p>The following sworn / affirmed affidavits still remains to be filed:</p>
            <ul>
                <li> Child Support Affidavit (F37) - signed by your spouse</li>
                <li> Affidavit - Desk Order Divorce Form (F38) - signed by your spouse</li>
                <li> Identification of Applicant (VSA 512) - for your Spouse</li>
            </ul>
            <p>Either you or your spouse must file this documentation using the Court Filing Number (?) that you received via e-mail. If you have
                not received a Court Filing Number then please check to the Wait for Court Filing Number step.</p>
            <p>You have indicated that you will file at the following court registry:</p>
            <p>[City]</p>
            <p>[Address]</p>
            <p>[Postal Code]</p>
        </div>
    {% endif %}
    {% if how_to_file == 'Online' %}
        <h3>Filing with Court Services Online</h3>
        <p>When you click Next, you will be taken to the Court Services Online e-filing hub. In the next few steps you will be able to do a final
            review of your filed documentation, pay for your filing and (if completed successfully) receive a Package Number. This final step will
            complete your divorce filing.</p>
    {% endif %}
{% endblock %}

{% block backToDashboard %}
    <!-- no back to dashboard -->
{% endblock %}

{% block formBack %}{% url 'dashboard_nav' 'swear_forms' %}{% endblock %}
{% block formNext %}{% url 'dashboard_nav' 'next_steps' %}{% endblock %}

{% block sidebarNav %}
    <!-- no sidebar -->
{% endblock %}
{% block sidebarText %}
    {% include "dashboard/partials/sidebar_help.html" %}
{% endblock %}