{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}
    {% include "partials/dashnav.html" with active_page=active_page %}
{% endblock %}

{% block content %}
    <h1>Scanning Help</h1>
    <div>
        <p>
            To file your divorce online you’ll need to scan a number of documents.
            Those documents are outlined for you as you progress through this tool.
            Some will require just your signature and others will require additional information to complete the form.
        </p>
        <p>
            There are several different ways for you to scan your documents:
        </p>
        <div class="question-well">
            <h3>Scanning using a Scanner connected to a Computer</h3>
            <p>
                If you have a scanner (maybe multi-function printers are also capable of scanning documents),
                the easiest way to scan your documents may be to use a purpose built scanner.
            </p>
            <ul>
                <li>
                    <b>Microsoft Windows</b> - If you are using a Microsoft operating system such as Windows 10 there is
                    built-in software to allow you to scan documents.
                    For more information see <a href="https://support.microsoft.com/en-ca/help/14088/windows-10-install-and-use-a-scanner" target="_blank">
                    Microsoft’s help on Installing and Using a Scanner in Windows 10</a>.
                </li>
                <li>
                    <b>Apple OS X</b> - If you are using a Macintosh computer there is built-in software to allow you to scan documents.
                    For more information see Apple’s help.
                    <a href="https://support.apple.com/en-gb/guide/mac-help/mh28032/mac" target="_blank">
                        Scanning images or documents using your Mac</a>.
                </li>
            </ul>
            <p>
                There are other third party scanning options for both Windows and Mac.
                Most scanners come with software that will help you scan your documents.
                Refer to the documentation that came with your scanner for more information.
            </p>
            <p>
                <b>Ideally you will scan each document to a PDF so that you have a single PDF file for each document.</b>
                You can also upload individual JPG images and the site will help you combine them into a single PDF when uploading.
            </p>
            <p>
                Once you have created a PDF for each document or have a set of JPGs for each document,
                you can upload those into the site by clicking the Upload area for each form on the Filing pages.
            </p>
        </div>
        <div class="question-well">
            <h3>Scanning using a Smart Phone Camera</h3>
            <p>
                Most modern mobile phones have a built-in camera that takes good enough pictures to serve as a document scanner.
                In this case you’ll use your phone’s camera to take pictures of each page of all required documents.
            </p>
            <p>
                You can then upload the individual pictures (in JPG format) for each documents on the Filing page of this application.
                This application will combine the individual image into a PDF for each document.
            </p>
            <p>
                This site is not optimized for mobile phone use, for ease-of-use, you may want to e-mail the pictures to yourself
                and open them on the computer you have used to complete the questionnaire portion of this divorce application.
                Once the scans are on your computer, you’ll be able to easily upload them to this site.
            </p>
            <p>
                You can also use the free app Adobe Scan which is available for both
                <a href="https://apps.apple.com/ca/app/adobe-scan-mobile-pdf-scanner/id1199564834" target="_blank">iOS</a> and
                <a href="https://play.google.com/store/apps/details?id=com.adobe.scan.android&hl=en_CA" target="_blank">Android</a> devices.
                This will easily allow you to create a PDF for each document you require.
                Once the PDFs are created, e-mail them to yourself and upload them using the computer you used to
                complete the questionnaire portion of this divorce application.
                For more information on using Adobe Scan see
                <a href="https://www.adobe.com/devnet-docs/adobescan/android/en/scan.html" target="_blank">Adobe’s help for Scanning</a>.
            </p>
            <p>
                Once you have created a PDF for each document or have a set of JPGs for each document,
                you can upload those into the site by clicking the Upload area for each form on the Filing pages.
            </p>
        </div>
    <div class="question-well">
        <h3>Scanning using a Service</h3>
        <p>
            There are many businesses who specialize in providing scanning services to those in need.
            Search for a suitable business near you and ask about the services they provide and their cost.
        </p>
        <p>
            Ultimately you’d like PDF copies of each document mailed to you so that you can upload them to this site from
            the same computer you used to complete the divorce questionnaire.
        </p>
        <p>
            Once you have created a PDF for each document, you can upload those into the site by clicking the Upload area
            for each form on the Filing pages.
        </p>
    </div>
    </div>
{% endblock %}

{% block backToDashboard %}
    <!-- no back to dashboard -->
{% endblock %}

{% block formbuttons %}
    <!-- no button -->
{% endblock %}

{% block sidebarNav %}
    <!-- no sidebarNav -->
{% endblock %}

{% block sidebar %}
    <!-- no sidebar -->
{% endblock %}
