{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}
    <h1>Initial Filing</h1>
    {% if how_to_file == 'Online' %}
        <p>
            Your filing (submitting completed documents to the court registry) occurs in two parts. The initial filing initiates the divorce
            proceeding. Once
            initial filing is complete you will receive a Court Filing Number. This number is important as it will allow you or your spouse to file
            the
            remaining documents required to complete your divorce.
        </p>
        <p>Missing a form required on this page? Check the <a href="{% url 'dashboard_nav' 'print_form' %}">Review Forms</a> step.</p>
        <p><a>Need help with Scanning your documents?</a></p>

        <div id="vue-app">
            <initial-filing-uploader 
                signing-location="{{ signing_location }}"
                signing-location-you="{{ signing_location_you }}"
                signing-location-spouse="{{ signing_location_spouse }}"
                proxy-root-path="{{ proxy_root_path }}">
            </initial-filing-uploader>
        </div>

        <h3>Filing with Court Services Online</h3>
        <p>When you click Next, you will be taken to the Court Services Online e-filing hub. In the next few steps you will be able to do a final
            review of your filed documentation, pay for your filing and (if completed successfully) receive a Package Number.</p>
        <p>Once your filings have been reviewed by the Court Registry (?), you will be provided a Court Filing Number (?) via e-mail. This may
            take up
            to one week.</p>
        <p>You will need your Court Filing Number if you are filing any additional documentation.</p>
    {% elif how_to_file == 'In-person' %}
        <p>
            You don't need to complete this step. Go to <a href="{% url 'dashboard_nav' 'swear_forms' %}">Swear Forms</a> for further instruction.
        </p>
    {% else %}
        <p>
            You must select how you want to file in the <a href="{% url 'dashboard_nav' 'sign_file_options' %}">Signing & Filing Options</a> step.
        </p>
    {% endif %}

{% endblock %}

{% block backToDashboard %}
    <!-- no back to dashboard -->
{% endblock %}

{% block formBack %}{% url 'dashboard_nav' 'print_form' %}{% endblock %}
{% block formNext %}{% url 'dashboard_nav' 'wait_for_number' %}{% endblock %}

{% block sidebarNav %}
    <!-- no sidebar -->
{% endblock %}
{% block sidebarText %}
    {% include "dashboard/partials/sidebar_help.html" %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/vue/css/chunk-common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/vue/css/initialFiling.css' %}"/>
    <link rel="preload" as="script" href="{% static 'dist/vue/js/chunk-vendors.js' %}"/>
    <link rel="preload" as="script" href="{% static 'dist/vue/js/chunk-common.js' %}"/>
    <link rel="preload" as="script" href="{% static 'dist/vue/js/initialFiling.js' %}"/>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'dist/vue/js/chunk-vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/vue/js/chunk-common.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/vue/js/initialFiling.js' %}"></script>
{% endblock %}