{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}
    <h1>Order a Certificate of Divorce (Optional)</h1>
    <p>$40 for each Certificate of Divorce (as of March 2013)</p>
    <p>
        Anytime after 31 days have passed and the divorce has become final, you can go back to the registry to ask for a Certificate of Divorce Form
        (F56).
    </p>
    <p>
        This step isn't mandatory. If you don't go to the court registry to get a Certificate of Divorce, your divorce will still be legal. If you
        ever have to show legal proof of your divorce, you can use your divorce order. However, you may prefer just to show a certificate rather than
        all the details in the order.
    </p>
    <p>
        For details on
        <a href="https://familylaw.lss.bc.ca/guides/divorce/divJoint_step8.php" target="_blank">how to apply for a Certificate of Divorce</a>
        refer to the Legal Services Society website.
    </p>
    <h3>Out of Country Certificate of Divorce Requirements</h3>
    <p>
        If you are requesting a Certificate of Divorce for use outside Canada, please check with the requirements around the Certificate itself.
        A hand-signed and/or sealed Certificate of Divorce may be required.
    </p>
    <p>
        For details on how to apply, please complete the following form for a Hand-Signed and Sealed Certificate of Divorce.
    </p>
{% endblock %}

{% block backToDashboard %}
    <!-- no back to dashboard -->
{% endblock %}

{% block formbuttons %}
    <!-- no button -->
{% endblock %}

{% block sidebarText %}
    <p>
        A divorce is official 31 days after the divorce order is entered by the court.
        A Certificate of Divorce is a document that can be issued after the 31 days has passed as proof of a divorce.
        It is required if you are getting remarried and for many other government purposes.
        If you are requesting a Certificate of Divorce for use outside Canada, please check with the requirements
        around the Certificate itself.
        A hand-signed and/or sealed Certificate of Divorce may be required.
    </p>
    <p>
        Note: You don't always need a Certificate of Divorce as the divorce order is also a legal document.
    </p>
{% endblock %}