{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}
    <h1>Review and Print your Divorce Forms</h1>
    <p>
        To get divorced, you need to get a divorce order. Only the court has the
        ability to divorce a married couple. To get a court order you have to
        start a court case. What this means is you will have to print off the forms
        listed below, and file them (open your court case) at a
        <span class="tooltip-link" data-toggle="tooltip" data-placement="auto"
              data-html="true" data-trigger="click"
              title="
            <b>Court Registry</b>
            <br /><br />
            Registries are located in courthouses around the province. You can
            file your divorce documents at any
            <a href='http://www.courts.gov.bc.ca/supreme_court/court_locations_and_contacts.aspx'
            target='_blank'>Supreme Court registry</a>. Usually, people file
            their documents at the Supreme Court registry nearest to where they
            live or work (Supreme Court registry addresses).
          ">
      court registry<i class="fa fa-question-circle" aria-hidden="true"></i>
    </span>.
    </p>

    <p>&nbsp;</p>

    <h3>Print These Forms</h3>

    <p>
        <a href="{% url 'dashboard_nav' 'help_saving_pdf' %}">Get help opening and saving PDF forms</a> |
        <a href="#" class="info-modal">Changing my forms</a>
    </p>

    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
             aria-expanded="false" data-target="#collapseF1"
             aria-controls="collapseF1">
            <div>
                <span>Notice of Joint Family Claim Form (F1)</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' '1' %}" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                Review and Print
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF1">
            <div>
                <p>
                    The Notice of Joint Family Claim Form (F1) is a document that
                    starts the court file for your divorce. It states the grounds
                    for the divorce and gives information about you and your spouse,
                    as well as the details about your marriage and separation.
                </p>
            </div>
        </div>
    </div>

    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
             aria-expanded="false" data-target="#collapseF35"
             aria-controls="collapseF35">
            <div>
                <span>Requisition Form (F35)</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' '35' %}" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                Review and Print
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF35">
            <div>
                <p>
                    This form tells the court that you are asking for an order
                    (decision) from a judge. The Requisition also tells the court
                    what documents you’re providing to support your application.
                </p>
            </div>
        </div>
    </div>
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
             aria-expanded="false" data-target="#collapseF36"
             aria-controls="collapseF36">
            <div>
                <span>Certificate of Pleadings Form (F36)</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' '36' %}" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                Review and Print
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF36">
            <div>
                <p>
                    The only details you need to provide on the Certificate of
                    Pleadings form (F36) are your name and your spouse's name. The
                    Court Registrar uses this form to tell you if all your documents
                    are in order. If something is missing or you’ve filled in the
                    form incorrectly, he or she will let you know using this form.
                </p>
                <p>
                    Take the Certificate to the court registry where you filed your
                    Notice of Trial. After you file it, the registrar will search
                    the file and sign and return the Certificate to you. If
                    something's missing, the registrar won't sign the Certificate
                    and will let you know.
                </p>
                <p>
                    If everything is in order, the Registrar will sign the
                    Certificate of Pleadings to show the judge that they've checked
                    everything over. All of your document will be sent to the judge
                    for review.
                </p>
            </div>
        </div>
    </div>
    <div class="review-well clearfix">
        <div class="collapse-trigger collapsed" data-toggle="collapse"
             aria-expanded="false" data-target="#collapseF52"
             aria-controls="collapseF52">
            <div>
                <span>Draft Final Order Form (F52)</span>
            </div>
        </div>
        <p class="review-buttons">
            <a href="{% url 'pdf_form' '52' %}" class="btn btn-primary spinner"
               target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                Review, Print & Sign
            </a>
        </p>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseF52">
            <div>
                <p>
                    A draft Final Order sets out what orders (decision) you want the
                    court to make. You and your spouse are responsible for writing
                    out the order. The judge or master who reviews your case doesn't
                    write the order. The final order you draft will become your
                    divorce order, once the judge has signed it.
                </p>
                <ul>
                    <li>
                        <a href="http://www.familylaw.lss.bc.ca/resources/fact_sheets/tipsForDraftingOrders.php"
                           target="_blank">Write draft order</a>
                        - List what orders you want the court to make.
                    </li>
                    <li><b>File draft order</b> when you file the other forms and
                        documents at the court registry
                    </li>
                    <li>If the judge or master makes the order you ask for, they'll
                        sign the draft order you filed and it becomes your court
                        order.
                    </li>
                    <li><b>If there's a problem</b> with your order and the judge or
                        master doesn't approve it, the court registry will let you
                        know. You might have to draft another version of the order or
                        appear in court to give the judge or master more information
                        about what you wrote in the order.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% if how_to_file == 'Online' %}
        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                 aria-expanded="false" data-target="#collapseF96y"
                 aria-controls="collapseF96y">
                <div>
                    <span>Electronic Filing Statement (F96) - to be signed by you</span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '52' %}" class="btn btn-primary spinner"
                   target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                    Review, Print & Sign
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF96y">
                <div>
                    <p>
                        Some text here
                    </p>
                </div>
            </div>
        </div>
        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                 aria-expanded="false" data-target="#collapseF96s"
                 aria-controls="collapseF96s">
                <div>
                    <span>Electronic Filing Statement (F96) - to be signed by your spouse</span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '52' %}" class="btn btn-primary spinner"
                   target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                    Review, Print & Sign
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF96y">
                <div>
                    <p>
                        Some text here
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
    {% if how_to_sign == 'Together' %}
        {% if children_of_marriage == 'YES' %}
            <div class="review-well clearfix">
                <div class="collapse-trigger collapsed" data-toggle="collapse"
                     aria-expanded="false" data-target="#collapseF37a"
                     aria-controls="collapseF37a">
                    <div>
                        <span>Child Support Affidavit (F37) - signing together</span>
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="{% url 'pdf_form' '37' %}" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                        Review, Print & Swear
                    </a>
                </p>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseF37a">
                    <div>
                        <p>$40 per affidavit (if sworn at a court registry)</p>
                        <p>
                            Since your divorce won't require an appearance before a judge, you must fill out and
                            swear/affirm<i class="fa fa-question-circle" data-toggle="tooltip"
                                           data-placement="auto" data-html="true" data-trigger="click"
                                           title="
                    <b>Swear/Affirm</b>
                    <br /><br />
                    To &ldquo;take an oath&rdquo; in front of a lawyer, notary
                    public, or commissioner for taking affidavits that
                    statements made in court or the contents of an affidavit
                    are true to the best of your knowledge and belief that your
                    oath is &ldquo;under an immediate sense of responsibility
                    to God&rdquo;. A non-religious alternative is to affirm.
                  "
                                           aria-hidden="true"></i>
                            a Child Support
                            Affidavit<i class="fa fa-question-circle" data-toggle="tooltip"
                                        data-placement="auto" data-html="true" data-trigger="click"
                                        title="
                    <b>Affidavit</b>
                    <br /><br />
                    A document that contains facts that you swear under
                    oath or affirm to be true.  A lawyer, notary public, or
                    commissioner for taking affidavits must witness your
                    signature and sign your affidavit.
                  "
                                        aria-hidden="true"></i>
                            Form (F37). This document gives information about the children and child support.
                        </p>
                        <p>
                            You'll notice that some of the information in the affidavit is the same as what's in your Notice of
                            Joint Family Claim Form (F1). Because the Notice of Joint Family Claim is not a sworn document, and
                            the judge/master must have sworn evidence to make a decision, you must swear or affirm that the
                            information in these affidavits is true.
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="review-well clearfix">
            <div class="collapse-trigger collapsed" data-toggle="collapse"
                 aria-expanded="false" data-target="#collapseF38"
                 aria-controls="collapseF38">
                <div>
                    <span>Affidavit Desk Order Divorce Form (F38) - signing together</span>
                </div>
            </div>
            <p class="review-buttons">
                <a href="{% url 'pdf_form' '38' %}" class="btn btn-primary spinner"
                   target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                    Review, Print & Swear
                </a>
            </p>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseF38">
                <div>
                    <p>$40 per affidavit (if sworn at a court registry)</p>
                    <p>
                        Since your divorce won't require an appearance before a judge,
                        you must fill out and
                        swear/affirm<i class="fa fa-question-circle" data-toggle="tooltip"
                                       data-placement="auto" data-html="true" data-trigger="click"
                                       title="
                <b>Swear/Affirm</b>
                <br /><br />
                To &ldquo;take an oath&rdquo; in front of a lawyer, notary
                public, or commissioner for taking affidavits that
                statements made in court or the contents of an affidavit
                are true to the best of your knowledge and belief that your
                oath is &ldquo;under an immediate sense of responsibility
                to God&rdquo;. A non-religious alternative is to affirm.
              "
                                       aria-hidden="true"></i>
                        an Affidavit<i class="fa fa-question-circle" data-toggle="tooltip"
                                       data-placement="auto" data-html="true" data-trigger="click"
                                       title="
                <b>Affidavit</b>
                <br /><br />
                A document that contains facts that you swear under
                oath or affirm to be true.  A lawyer, notary public, or
                commissioner for taking affidavits must witness your
                signature and sign your affidavit.
              "
                                       aria-hidden="true"></i>
                        Desk Order Divorce Form (F38). This document sets out the facts
                        of your marriage and separation.
                    </p>
                </div>
            </div>
        </div>
    {% elif how_to_sign == 'Separately' %}
        {% if children_of_marriage == 'YES' %}
            <div class="review-well clearfix">
                <div class="collapse-trigger empty">
                    <div>
                        <span>Child Support Affidavit (F37) - signing separately</span>
                    </div>
                </div>
                <div class="collapse empty">
                    <div>
                        Claimant 1
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="{% url 'pdf_form' '37_claimant1' %}" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                        Review, Print & Swear
                    </a>
                </p>
                <div class="clearfix"></div>
                <div class="collapse empty">
                    <div>
                        Claimant 2
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="{% url 'pdf_form' '37_claimant2' %}" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                        Review, Print & Swear
                    </a>
                </p>
                <div class="clearfix"></div>
            </div>
        {% endif %}
        {% if married_marriage_like == 'Legally married' %}
            <div class="review-well clearfix">
                <div class="collapse-trigger empty">
                    <div>
                        <span>Affidavit Desk Order Divorce Form (F38) - signing separately</span>
                    </div>
                </div>
                <div class="collapse empty">
                    <div>
                        Claimant 1
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="{% url 'pdf_form' '38_claimant1' %}" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                        Review, Print & Swear
                    </a>
                </p>
                <div class="clearfix"></div>
                <div class="collapse empty">
                    <div>
                        Claimant 2
                    </div>
                </div>
                <p class="review-buttons">
                    <a href="{% url 'pdf_form' '38_claimant2' %}" class="btn btn-primary spinner"
                       target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
                        Review, Print & Swear
                    </a>
                </p>
                <div class="clearfix"></div>
            </div>
        {% endif %}
    {% else %}
        <h2>You must select whether you are signing together or separately in the <a href="{% url 'dashboard_nav' 'sign_file_options' %}">Signing and
            Filing Options</a> step.</h2>
    {% endif %}

    <div class="question-well">
        <h3>Additional Documents to Print and Complete</h3>
        <p>The following additional documents are required as part of your filing:</p>
        <ul>
            <li>
                Proof of marriage. Original or certified Marriage Certificate or Registration of Divorce. If not in English, also provide
                Affidavit of Translation and English translation.
            </li>
            <li>
                Completed Registration of Divorce form (Federal)
            </li>
            <li>
                Completed Identification of Applicant (VSA 512) for anyone requesting a name change
            </li>
            <li>
                Completed Agreement as to Annual Income (F9)
            </li>
        </ul>
    </div>

    <div id="info_modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <h1 class="modal-title">Changing your forms</h1>
                </div>
                <div class="modal-body">
                    <p>
                        If you need to make changes to your forms, you can return
                        to the Divorce Questionnaire section to review and update
                        your answers. You will then need to Review and Print your
                        forms again.
                    </p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block backToDashboard %}
    <!-- no back to dashboard -->
{% endblock %}

{% block formBack %}{% url 'dashboard_nav' 'sign_file_options' %}{% endblock %}
{% block formNext %}
    {% if how_to_file == 'Online' %}
        {% url 'dashboard_nav' 'initial_filing' %}
    {% else %}
        {% url 'dashboard_nav' 'swear_forms' %}
    {% endif %}
{% endblock %}

{% block sidebarText %}
    {% include "dashboard/partials/sidebar_help.html" %}
{% endblock %}
