{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}
<h1>Review and Print your Divorce Forms</h1>
<p>
    To get divorced, you need to get a divorce order. Only the court has the
    ability to divorce a married couple.  To get a court order you have to
    start a court case. What this means is you will have to print off the forms
    listed below, and file them (open your court case) at a
    <span class="tooltip-link" data-toggle="tooltip" data-placement="auto"
          data-html="true" data-trigger="click"
          title="
            <b>Court Registry</b>
            <br /><br />
            Registries are located in courthouses around the province. You can
            file your divorce documents at any
            <a href='http://www.courts.gov.bc.ca/supreme_court/court_locations_and_contacts.aspx'
            target='_blank'>Supreme Court registry</a>. Usually, people file
            their documents at the Supreme Court registry nearest to where they
            live or work (Supreme Court registry addresses).
          ">
      court registry<i class="fa fa-question-circle" aria-hidden="true"></i>
    </span>.
</p>

<p>&nbsp;</p>

<h3>Print These Forms</h3>

<p>
  <a href="{% url 'dashboard_nav' 'help_saving_pdf' %}">Get help opening and saving PDF forms</a> |
  <a href="#" class="info-modal">Changing my forms</a>
</p>

<div class="review-well clearfix">
    <div class="collapse-trigger collapsed" data-toggle="collapse"
         aria-expanded="false" data-target="#collapseF1"
         aria-controls="collapseF1">
       <div>
           <span>Notice of Joint Family Claim Form (F1)</span>
       </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '1' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
    <div class="collapse" id="collapseF1">
       <div>
           <p>
               The Notice of Joint Family Claim Form (F1) is a document that
               starts the court file for your divorce. It states the grounds
               for the divorce and gives information about you and your spouse,
               as well as the details about your
               {% if married_marriage_like == 'Legally married' %}marriage
               {% else %}relationship{% endif %} and separation.
           </p>
       </div>
    </div>
</div>

<div class="review-well clearfix">
    <div class="collapse-trigger collapsed" data-toggle="collapse"
         aria-expanded="false" data-target="#collapseF35"
         aria-controls="collapseF35">
       <div>
           <span>Requisition Form (F35)</span>
       </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '35' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
    <div class="collapse" id="collapseF35">
       <div>
           <p>
               This form tells the court that you are asking for an order
               (decision) from a judge. The Requisition also tells the court
               what documents you’re providing to support your application.
           </p>
       </div>
    </div>
</div>
<div class="review-well clearfix">
    <div class="collapse-trigger collapsed" data-toggle="collapse"
         aria-expanded="false" data-target="#collapseF52"
         aria-controls="collapseF52">
       <div>
           <span>Draft Final Order Form (F52)</span>
       </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '52' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
    <div class="collapse" id="collapseF52">
       <div>
           <p>
               A draft Final Order sets out what orders (decision) you want the
               court to make. You and your spouse are responsible for writing
               out the order. The judge or master who reviews your case doesn't
               write the order. The final order you draft will become your
               divorce order, once the judge has signed it.
           </p>
           <ul>
               <li>
                   <a href="http://www.familylaw.lss.bc.ca/resources/fact_sheets/tipsForDraftingOrders.php"
                     target="_blank">Write draft order</a>
                   - List what orders you want the court to make.
               </li>
               <li><b>File draft order</b> when you file the other forms and
                 documents at the court registry</li>
               <li>If the judge or master makes the order you ask for, they'll
                 sign the draft order you filed and it becomes your court
                 order.</li>
               <li><b>If there's a problem</b> with your order and the judge or
                 master doesn't approve it, the court registry will let you
                 know. You might have to draft another version of the order or
                 appear in court to give the judge or master more information
                 about what you wrote in the order.</li>
           </ul>
       </div>
    </div>
</div>
<div class="review-well clearfix">
    <div class="collapse-trigger collapsed" data-toggle="collapse"
         aria-expanded="false" data-target="#collapseF36"
         aria-controls="collapseF36">
       <div>
           <span>Certificate of Pleadings Form (F36)</span>
       </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '36' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
    <div class="collapse" id="collapseF36">
       <div>
           <p>
               The only details you need to provide on the Certificate of
               Pleadings form (F36) are your name and your spouse's name. The
               Court Registrar uses this form to tell you if all your documents
               are in order. If something is missing or you’ve filled in the
               form incorrectly, he or she will let you know using this form.
           </p>
           <p>
               Take the Certificate to the court registry where you filed your
               Notice of Trial. After you file it, the registrar will search
               the file and sign and return the Certificate to you. If
               something's missing, the registrar won't sign the Certificate
               and will let you know.
           </p>
           <p>
               If everything is in order, the Registrar will sign the
               Certificate of Pleadings to show the judge that they've checked
               everything over. All of your document will be sent to the judge
               for review.
           </p>
       </div>
    </div>
</div>
{% if children_of_marriage == 'YES' %}
<div class="review-well clearfix">
    <div class="collapse-trigger collapsed" data-toggle="collapse"
         aria-expanded="false" data-target="#collapseF37a"
         aria-controls="collapseF37a">
       <div>
           <span>Child Support Affidavit (F37) - signing together</span>
       </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '37' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
    <div class="collapse" id="collapseF37a">
       <div>
           <p>$40 per affidavit (if sworn at a court registry)</p>
           <p>
               Since your divorce won't require an appearance before a judge, you must fill out and
               swear/affirm<i class="fa fa-question-circle" data-toggle="tooltip"
                  data-placement="auto" data-html="true" data-trigger="click"
                  title="
                    <b>Swear/Affirm</b>
                    <br /><br />
                    To &ldquo;take an oath&rdquo; in front of a lawyer, notary
                    public, or commissioner for taking affidavits that
                    statements made in court or the contents of an affidavit
                    are true to the best of your knowledge and belief that your
                    oath is &ldquo;under an immediate sense of responsibility
                    to God&rdquo;. A non-religious alternative is to affirm.
                  "
                  aria-hidden="true"></i>
               a Child Support
               Affidavit<i class="fa fa-question-circle" data-toggle="tooltip"
                  data-placement="auto" data-html="true" data-trigger="click"
                  title="
                    <b>Affidavit</b>
                    <br /><br />
                    A document that contains facts that you swear under
                    oath or affirm to be true.  A lawyer, notary public, or
                    commissioner for taking affidavits must witness your
                    signature and sign your affidavit.
                  "
                  aria-hidden="true"></i>
               Form (F37). This document gives information about the children and child support.
           </p>
           <p>
               You'll notice that some of the information in the affidavit is the same as what's in your Notice of
               Joint Family Claim Form (F1). Because the Notice of Joint Family Claim is not a sworn document, and
               the judge/master must have sworn evidence to make a decision, you must swear or affirm that the
               information in these affidavits is true.
           </p>
       </div>
    </div>
    <div class="collapse-trigger empty text-center"><h4>OR</h4></div>
    <div class="collapse-trigger empty">
       <div>
           <span>Child Support Affidavit (F37) - signing separately</span>
       </div>
    </div>
    <div class="collapse empty">
        <div>
          Claimant 1
        </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '37_claimant1' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
    <div class="collapse empty">
        <div>
          Claimant 2
        </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '37_claimant2' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
</div>
{% endif %}


{% if married_marriage_like == 'Legally married' %}
<div class="review-well clearfix">
    <div class="collapse-trigger collapsed" data-toggle="collapse"
         aria-expanded="false" data-target="#collapseF38"
         aria-controls="collapseF38">
       <div>
           <span>Affidavit Desk Order Divorce Form (F38) - signing together</span>
       </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '38' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
    <div class="collapse" id="collapseF38">
       <div>
           <p>$40 per affidavit (if sworn at a court registry)</p>
           <p>
               Since your divorce won't require an appearance before a judge,
               you must fill out and
               swear/affirm<i class="fa fa-question-circle" data-toggle="tooltip"
                  data-placement="auto" data-html="true" data-trigger="click"
                  title="
                    <b>Swear/Affirm</b>
                    <br /><br />
                    To &ldquo;take an oath&rdquo; in front of a lawyer, notary
                    public, or commissioner for taking affidavits that
                    statements made in court or the contents of an affidavit
                    are true to the best of your knowledge and belief that your
                    oath is &ldquo;under an immediate sense of responsibility
                    to God&rdquo;. A non-religious alternative is to affirm.
                  "
                  aria-hidden="true"></i>
                an Affidavit<i class="fa fa-question-circle" data-toggle="tooltip"
                  data-placement="auto" data-html="true" data-trigger="click"
                  title="
                    <b>Affidavit</b>
                    <br /><br />
                    A document that contains facts that you swear under
                    oath or affirm to be true.  A lawyer, notary public, or
                    commissioner for taking affidavits must witness your
                    signature and sign your affidavit.
                  "
                  aria-hidden="true"></i>
                Desk Order Divorce Form (F38). This document sets out the facts
                of your marriage and separation.
           </p>
       </div>
    </div>
    <div class="collapse-trigger empty text-center"><h4>OR</h4></div>
    <div class="collapse-trigger empty">
       <div>
           <span>Affidavit Desk Order Divorce Form (F38) - signing separately</span>
       </div>
    </div>
    <div class="collapse empty">
        <div>
          Claimant 1
        </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '38_claimant1' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
    <div class="collapse empty">
        <div>
          Claimant 2
        </div>
    </div>
    <p class="review-buttons">
        <a href="{% url 'pdf_form' '38_claimant2' %}" class="btn btn-primary spinner"
            target="_blank"><i class="fa fa-print" aria-hidden="true"></i>
            Review and Print
        </a>
    </p>
    <div class="clearfix"> </div>
</div>
{% else %}
{% comment %}{# common law use case removed in DIV-495 #}
<div class="review-well clearfix">
    <div class="collapse-trigger collapsed" data-toggle="collapse"
         aria-expanded="false" data-target="#collapseF30"
         aria-controls="collapseF30">
       <div>
           <span>Affidavit Form (F30)</span>
       </div>
    </div>
    <div class="clearfix"> </div>
    <div class="collapse" id="collapseF30">
       <div>
           <p>
               Since your divorce won't require an appearance before a judge, in addition to the documents above you
               must fill out and swear/affirm <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="auto" data-html="true" data-trigger="click" title="&lt;b&gt;Swear/Affirm&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;To &ldquo;take an oath&rdquo; in front of a lawyer, notary public, or commissioner for taking affidavits
               that statements made in court or the contents of an affidavit are true to the best of your knowledge and belief
               that your oath is &ldquo;under an immediate sense of responsibility to God&rdquo;. A non-religious alternative is to affirm." aria-hidden="true"></i> an <a target="_blank" href="http://www2.gov.bc.ca/assets/gov/law-crime-and-justice/courthouse-services/court-files-records/court-forms/supreme-family/f30.pdf?forcedownload=true">Affidavit Form (F30)</a>.
               This document sets out the facts of your relationship and separation.
           <p/>
            <p>
                Please follow these steps to ensure your affidavit does not get rejected:
            </p>
           <ul>
               Both you and your spouse need to swear/affirm the affidavit. Take <b>photo identification</b> with you. The person who will swear/affirm the documents for you must be sure you are both who you say you are. One affidavit must be sworn/affirmed <b>at the time of filing.</b>
           <p>
               You'll notice that some of the information in the affidavit is the same as what's in your Notice of Joint Family Claim Form (F1). Because the Notice of Joint Family Claim is not a sworn document, and the judge/master must have sworn evidence to make a decision, you must swear or affirm that the information in these affidavits is true.
           </p>
       </div>
    </div>
</div>
{% endcomment %}
{% endif %}

{% if married_marriage_like == 'Legally married' %}
<div class="question-well">
    <h2>Signing Your Affidavit Forms</h2>
    <p>
        The affidavit will need to be
            <span class="tooltip-link" data-toggle="tooltip" data-placement="auto"
              data-html="true" data-trigger="click"
              title="
                <b>Swear/Affirm</b>
                        <br /><br />
                        To &ldquo;take an oath&rdquo; in front of a lawyer, notary
                        public, or commissioner for taking affidavits that
                        statements made in court or the contents of an affidavit
                        are true to the best of your knowledge and belief that your
                        oath is &ldquo;under an immediate sense of responsibility
                        to God&rdquo;. A non-religious alternative is to affirm.
                  ">
              sworn or affirmed<i class="fa fa-question-circle" aria-hidden="true"></i>
            </span>. You can either
        <b>jointly</b> prepare {% if children_of_marriage == 'YES'  %}one Child Support Affidavit (F37) and{% endif %} one Affidavit — Desk Order Divorce form (F38) or
        complete two versions {% if children_of_marriage == 'YES' %}of each{% endif %} and <b>
        <span class="tooltip-link" data-toggle="tooltip" data-placement="auto"
              data-html="true" data-trigger="click"
              title="
                <b>Swear/Affirm</b>
                        <br /><br />
                        To &ldquo;take an oath&rdquo; in front of a lawyer, notary
                        public, or commissioner for taking affidavits that
                        statements made in court or the contents of an affidavit
                        are true to the best of your knowledge and belief that your
                        oath is &ldquo;under an immediate sense of responsibility
                        to God&rdquo;. A non-religious alternative is to affirm.
                  ">
              swear/affirm<i class="fa fa-question-circle" aria-hidden="true"></i>
            </span></i>
        each one separately.</b>
    </p>

    <table class="table table-bordered">
        <tr>
            <th>If both of you will be coming to the court registry:</th>
            <th>If only one of you will be coming to the court registry:</th>
        </tr>
        <tr>
            <td>
                The affidavits can be signed and sworn/affirmed by both of you
                when at the registry.
            </td>
            <td>
                <p>
                    Either you or your spouse can sign and swear/affirm ahead of
                time, but the 2nd party will need to sign when at the
                registry, after the Notice of Joint Family Claim has been filed.
                </p>
                <p>
                    If one of you decides to swear/affirm ahead of time, at the time of filing the application,
                    all affidavits must have been notarized within 30 days prior to filing.
                </p>
            </td>
        </tr>
    </table>
    <p>
        Please follow these steps to ensure your affidavit does not get rejected:
    </p>
    <ul>
        <li>Both you and your spouse need to swear/affirm the affidavit.</li>
        <li>
            Take <strong>photo identification</strong> with you. The person who will swear/affirm the documents for
            you must be sure you are both who you say you are.
        </li>
        <li>
            One affidavit must be sworn/affirmed <strong>after the Notice of Joint Family Claim</strong> has been filed
            and within 30 days of filing the affidavit.  This can be done at the registry immediately after filing the Claim.
        </li>
        {% if children_of_marriage == 'YES'  %}
        <li>
            You'll need to swear both the Child Support Affidavit (F37) as well as the Affidavit Desk Order Divorce (F38).
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}

<div class="question-well">
    <h2>Other Documents to Take to the Court Registry</h2>
    <ul>
        <li>
          Proof of marriage (original or certified Marriage Certificate or
          Registration of Divorce)
        </li>
        <li>Completed
          <a href="http://www.justice.gc.ca/eng/fl-df/divorce/pdf/form.pdf"
              target="_blank">
            Registration of Divorce form
          </a> (Federal)
        </li>
        {% if name_change_you == 'YES' or name_change_spouse == 'YES' %}
        <li>Completed
          <a href="http://www2.gov.bc.ca/assets/download/83855B903EC14E85904863BC1EE2086C"
              target="_blank">
            Identification of Applicant (VSA 512)
          </a> for anyone requesting a name change
        </li>
        {% endif %}
    </ul>
</div>

<div class="question-well">
    <h2>Assembly Instructions</h2>

    <p>Staple each form together and then fasten all forms with a paper clip,
    in the following order:</p>

    <ul>
        <li>Notice of Joint Family Claim Form (F1)</li>
        <li>Requisition Form (F35)</li>
        <li>Draft Final Order Form (F52)</li>
        <li>Certificate of Pleadings Form (F36)</li>
        {% if children_of_marriage == 'YES' %}
        <li>Child Support Affidavit (F37)</li>
        {% endif %}
        {% if married_marriage_like == 'Legally married' %}
            <li>Affidavit — Desk Order Divorce Form (F38)</li>
        {% else %}
            {% comment %}{# common law use case removed in DIV-495 #}
            <li>Affidavit — Desk Order Divorce Form (F30)</li>
            {% endcomment %}
        {% endif %}
    </ul>

    <p>
        If you have other court orders or a written separation agreement, they
        should also be attached to your Affidavit
        {% if married_marriage_like == 'Legally married' %} — Desk Order Divorce
        Form (F38){% else %} Form (F30){% endif %}. Note that these agreements
        or orders must not contradict what's in your divorce application.
    </p>
</div>

<div id="info_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-file" aria-hidden="true"></i>
                <h1 class="modal-title">Changing your forms</h1>
            </div>
            <div class="modal-body">
                <p>
                    If you need to make changes to your forms, you can return
                    to the Divorce Questionnaire section to review and update
                    your answers. You will then need to Review and Print your
                    forms again.
                </p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Continue</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block backToDashboard %}
<!-- no back to dashboard -->
{% endblock %}

{% block formbuttons %}
<!-- no button -->
{% endblock %}

{% block sidebarText %}
    {% include "dashboard/partials/sidebar_help.html" %}
{% endblock %}
