{% extends 'base.html' %}

{% block title %}{{ block.super }}: Wait for number{% endblock %}

{% block progress %}{% include "partials/dashnav.html" with active_page=active_page %}{% endblock %}

{% block container_col %}dashboard-content{% endblock %}
{% block content %}
    <h1>Wait for Court File Number</h1>
    {% if initial_filing_submitted == 'True' %}
        <p>
            You’ve successfully completed your initial filing with the Court Registry.
        </p>
        <p>
            <b>Your {% include "partials/tooltips/online_package_number.html" with with_cso=True %} is {{ initial_filing_package_number }}</b>
        </p>
        <p class="no-margin-bottom">
            You can view the following items at any time:
        </p>
        <ul>
            <li><a href="{{ initial_filing_receipt_link }}" target="_blank">Your eFiling Receipt</a> on the CSO eFiling Hub</li>
            <li><a href="{{ initial_filing_package_link }}" target="_blank">The package of all documents</a> you have submitted for filing</li>
        </ul>
        <p>
            In order to complete your divorce you’ll need to file the final set of documents.
            To do this you’ll require a {% include "partials/tooltips/court_file_number.html" %}
            which will be provided from the Court Registry once they have reviewed and approved
            your initial filing. <b>This review can take up to a week to complete.</b>
            You'll receive an e-mail with details of your initial filing.
        </p>
        <p>
            If you have any questions or concerns about your initial filing, please contact
            CSO Online Support at <a href="mailto:Courts.CSO@gov.bc.ca" target="_blank">Courts.CSO@gov.bc.ca</a>
            and include your {% include "partials/tooltips/online_package_number.html" %}.
        </p>
        <p>
            <b>Once you have received your Court File Number</b> via e-mail, click Next to proceed with the remaining steps in the process.
        </p>
    {% else %}
        <p>
            Once you have submitted your Initial Filing of documents, you can return to this page and get instructions for
            the next steps to complete your filing.
        </p>
        <p>
            Please return to this page once you have completed the
            <a href="{% url 'dashboard_nav' 'initial_filing' %}">Initial Filing</a> step.
        </p>
    {% endif %}
{% endblock %}

{% block backToDashboard %}
    <!-- no back to dashboard -->
{% endblock %}

{% block formBack %}{% url 'dashboard_nav' 'initial_filing' %}{% endblock %}
{% block formNext %}{% url 'dashboard_nav' 'swear_forms' %}{% endblock %}

{% block sidebarNav %}
    <!-- no sidebar -->
{% endblock %}
{% block sidebarText %}
    <h3>How long does it take to get a file number?</h3>
    <p>
        The time depends on how many filings are received at the court registry you are filing with.
        Normally, you will receive a file number within a week of submitting online.
        If you do not receive a file number, you can send an email to <a href="mailto:Courts.CSO@gov.bc.ca" target="_blank">CSO Support Helpdesk</a>.
        Please provide the package number and registry location you submitted your documents to
        and they will be able to help.
    </p>
{% endblock %}