{% extends 'base.html' %}

{% block title %}{{ block.super }}: Overview{% endblock %}

{% block progress %}{% include "dashnav.html" with active_page=active_page %}{% endblock %}

{% block content %}
<h1>Wait while Judge reviews your request</h1>
<p>
    Once filed, the stage 2 forms will be passed to a judge. If the judge determines that you are entitled to a divorce, he or she will grant you a Divorce Order.
</p>
{% endblock %}

{% block formbuttons %}
<!-- no button -->
{% endblock %}

{% block sidebarNav %}
<!-- no sidebar -->
{% endblock %}
{% block sidebar %}
<!-- no sidebar -->
{% endblock %}