<span class="tooltip-link" data-toggle="{% if hover %}tooltip-hover{% else %}tooltip{% endif %}" data-placement="right"
      data-html="true"
      title="
                <b>Affidavit of Translation</b>
                <br /><br />
                The Affidavit of Translation is an affidavit which is sworn by a translator before a notary,
                lawyer or commissioner for taking Affidavits.
                The original certificate of marriage should be exhibited to the Affidavit of Translation together
                with the translation of the translator.">
          Affidavit of Translation (F30)<i class="fa fa-question-circle" aria-hidden="true"></i></span>