{% extends "partials/tooltips/base.html" %}

{% block title %}
    Application
{% endblock %}

{% block inner %}
    An application is a request to the court for an order or judgment
    which occurs during the course of a court proceeding. What this means
    is an application is what you are seeking from the court and the
    draft order is the outcome of what is being sought. The draft order
    includes the full details (e.g. child support to be paid by payor or
    payee, by when, how, etc). of what you want the court to grant.
{% endblock %}

{% block label %}
    application
{% endblock %}