<span class="tooltip-link" data-toggle="{% if hover %}tooltip-hover{% else %}tooltip{% endif %}" data-placement="right"
      data-html="true"
      title="
                <b>Certificate of Pleadings Form (F36)</b>
                <br /><br />
                This form is completed by registry staff after your application has been reviewed by them.
                It shows the judge that your application has been checked and is complete.
                <br /><br />
                - Does not require signatures when filed online.">
          Certificate of Pleadings Form (F36)<i class="fa fa-question-circle" aria-hidden="true"></i></span>