<span class="tooltip-link" data-toggle="{% if hover %}tooltip-hover{% else %}tooltip{% endif %}" data-placement="right"
      data-html="true"
      title="
                <b>Commissioner</b>
                <br /><br />
                A Commissioner for Taking Affidavits is a person appointed or designated under the Evidence Act to administer oaths and affirmations
                and to take affidavits and declarations. A person may be eligible for appointment as a Commissioner for Taking Affidavits if their
                employment, or work with a volunteer organization, involves administering oaths or affirmations, or taking affidavits or statutory
                declarations, as permitted, authorized or required by law. Lawyers and notaries public are always commissioners for taking affidavits,
                as are family justice counsellors and many court registry staff. There is also usually a commissioner for taking affidavits at each
                Service BC office throughout the province.">
          commissioner<i class="fa fa-question-circle" aria-hidden="true"></i></span>