{% extends "partials/tooltips/base.html" %}

{% block title %}
    Court Registry
{% endblock %}

{% block inner %}
    You have selected to file at the following Ministry of Attorney General Court Registry location:
    <br/>
    <br/>
    {% if court_registry_for_filing %}
        {{ court_registry_for_filing }} Law Courts<br>
        {{ court_registry_for_filing_address|safe }}
        {{ court_registry_for_filing }}, B.C.<br>
        {{ court_registry_for_filing_postal_code|safe }}
    {% else %}
        No Court Registry was chosen
    {% endif %}
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Court Registry{% endif %}
{% endblock %}