{% extends "partials/tooltips/base.html" %}

{% block title %}
    Draft of the Order
{% endblock %}

{% block inner %}
    A draft final order sets out what orders (decisions) you want the
    court to make (what you want the judge to approve). The draft final
    order is reviewed by a judge or master. If the judge or master makes
    the order you ask for, they'll sign the <b>draft order</b> you filed
    and it becomes your <b>final court order</b>.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}draft of the order{% endif %}
{% endblock %}