{% extends "partials/tooltips/base.html" %}

{% block title %}
    Family Property
{% endblock %}

{% block inner %}
    The asset acquired by either spouse during the course of the
    relationship, plus any increase in the value of excluded
    properties. The law assumes that you're both entitled to an equal
    share of family property unless an equal division would be
    significantly unfair.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}family property{% endif %}
{% endblock %}