<span class="tooltip-link" data-toggle="tooltip" data-placement="right"
      data-html="true"
      title="
                <b>Child Support Affidavit (F37)</b>
                <br /><br />
                This form gives facts about your children and child support, including the order you're asking the court for.
                You must also attach your separation agreement or court orders about children to this form as exhibits.
                <br /><br />
                - Required swearing/affirming and signatures by both you and your spouse in front of a commissioner.">
          Child Support Affidavit (F37)<i class="fa fa-question-circle" aria-hidden="true"></i></span>