{% extends "partials/tooltips/base.html" %}

{% block title %}
    Child Support Affidavit (F37)
{% endblock %}

{% block inner %}
    This form gives facts about your children and child support, including the order you're asking the court for.
    You must also attach your separation agreement or court orders about children to this form as exhibits.
    <br/><br/>
    - Required swearing/affirming and signatures by both you and your spouse in front of a commissioner.
{% endblock %}

{% block label %}
    Child Support Affidavit (F37)
{% endblock %}