<span class="tooltip-link" data-toggle="tooltip" data-placement="right"
      data-html="true"
      title="
                <b>Affidavit - Desk Order Divorce Form (F38)</b>
                <br /><br />
                This form sets out all the facts of your marriage and separation for the court and gives information about parenting time if you have children.
                It requires swearing/affirming and signatures by both you and your spouse in front of a commissioner.">
          {% if text %}{{ text }}{% else %}Affidavit — Desk Order Divorce Form (F38){% endif %}
    <i class="fa fa-question-circle" aria-hidden="true"></i></span>