<span class="tooltip-link" data-toggle="{% if hover %}tooltip-hover{% else %}tooltip{% endif %}" data-placement="right"
      data-html="true"
      title="
                <b>Identification of Applicant (VSA 512)</b>
                <br /><br />
                This form is used by the Court to notify Vital Statistics of court-ordered legal changes of name.
                <br /><br />
                - Does not require signatures.">
          Identification of Applicant (VSA 512)<i class="fa fa-question-circle" aria-hidden="true"></i></span>