<span class="tooltip-link" data-toggle="{% if hover %}tooltip-hover{% else %}tooltip{% endif %}" data-placement="right"
      data-html="true"
      title="
                <b>Notice of Joint Family Claim Form (F1)</b>
                <br /><br />
                This form starts your divorce proceeding. It gives the court details about you and your spouse, your marriage and separation, and what you're asking the court for.
                <br /><br />
                - Does not require signatures when filed online.">
          {% if text %}{{ text }}{% else %}Notice of Joint Family Claim{% endif %}<i class="fa fa-question-circle" aria-hidden="true"></i></span>