<span class="tooltip-link" data-toggle="{% if hover %}tooltip-hover{% else %}tooltip{% endif %}" data-placement="right"
      data-html="true"
      title="
                <b>Registration of Joint Divorce Proceedings (JUS280)</b>
                <br /><br />
                This form is for a central divorce registry in Ottawa.
                They use the form to check to make sure there is no other divorce proceeding pending in Canada.
                They also keep track of all divorces in Canada.
                <br /><br />
                - Does not require signatures.">
          Registration of Joint Divorce Proceedings (JUS280)<i class="fa fa-question-circle" aria-hidden="true"></i></span>