{% extends "partials/tooltips/base.html" %}

{% block title %}
    Legally Married
{% endblock %}

{% block inner %}
    Legally married is defined as: when two people agree
    to live together in a partnership made legally
    binding by a religous or legal ceremony.
    <br/><br/>
    To prove you were legally married you will need to
    provide a marriage certificate issued in the country
    where you were married.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Legally married{% endif %}
{% endblock %}