<span class="tooltip-link" data-toggle="tooltip" data-placement="right"
      data-html="true"
      title="
                <b>CSO Online Package #</b>
                <br /><br />
                This is the filing # given by the Court Registry to your spouse when they filed their portion
                of the documents. If unknown, please check with your spouse before entering your Court File #.">
          {% if with_cso %}CSO {% endif %}Online Package #<i class="fa fa-question-circle" aria-hidden="true"></i></span>