{% extends "partials/tooltips/base.html" %}

{% block title %}
    Ordinary Residence
{% endblock %}

{% block inner %}
    Ordinary Residence
    <ul>
        <li>The place where a person resides in the ordinary course
            of his or her day to day
        </li>
        <li>You do not lose your ordinary residence in a place when
            you leave for a temporary purpose (e.g. go to school in
            another province)
        </li>
    </ul><br/>
    Not an Ordinary Residence
    <ul>
        <li>If you have travelled to another place to live and work
            indefinitely (even though you ultimately intend to return to
            the prior home)
        </li>
    </ul>
    <p>A detailed explanation of the
        <a href='http://www.justice.gc.ca/eng/rp-pr/fl-lf/divorce/rhro_cl/p4.html'
           target='_blank'>meaning of ordinary residence</a> can be
        found on the Department of Justice website.</p>
{% endblock %}

{% block label %}
    ordinary residence
{% endblock %}