{% extends "partials/tooltips/base.html" %}

{% block title %}
    Original Marriage Certificate
{% endblock %}

{% block inner %}
    The marriage certificate you received at the church —
    or any other place where you were married — isn't acceptable in court. You can get a  marriage certificate
    or a certified copy of the registration of marriage from
    <a target='_blank' href='https://www2.gov.bc.ca/gov/content?id=1CC89B10AE964BFABB99D1A4AADC38BF'>Vital Statistics</a>
    (an office run by the provincial government).
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}marriage certificate{% endif %}
{% endblock %}