<span class="tooltip-link" data-toggle="{% if hover %}tooltip-hover{% else %}tooltip{% endif %}" data-placement="right"
      data-html="true"
      title="
                <b>Proof of marriage</b>
                <br /><br />
                To get a divorce, you need an original marriage certificate or certified true copy of your registration of marriage to prove you are married.
                There are other options described in this tool if you can't get a copy of your marriage certificate or registration of marriage.
                <br /><br />
                - Does not require signatures.">
          Proof of marriage<i class="fa fa-question-circle" aria-hidden="true"></i></span>