{% extends "partials/tooltips/base.html" %}

{% block title %}
    Registration Marriage Certificate
{% endblock %}

{% block inner %}
    The Registration of Marriage is the document issued by Vital Statistics
    (an office run by the provincial government) along with the Marriage License. This document would have been signed by you, your
    spouse, the person who married you (the officiant), and your wedding ceremony witnesses. Within 48 hours of the wedding, the officiant
    would have submitted the registration to the Vital Statistics Agency where the registration information becomes a permanent legal record.
    Vital Statistics cannot issue a marriage certificate until the marriage is registered.
    <br/><br/>
    For more information, please refer to the
    <a href='http://www2.gov.B.C..ca/gov/content/life-events/marriages/marriage-registration/certified-copies-and-certified-electronic-extracts-of-a-marriage-registration'
       target='_blank'>Marriage Registration page</a>
    on the  B.C. Government website.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}registration of marriage{% endif %}
{% endblock %}