{% extends "partials/tooltips/base.html" %}

{% block title %}
    Sole Divorce
{% endblock %}

{% block inner %}
    You're filing for divorce but your spouse isn't involved in the application process.
    Only you will provide the information on the forms and sign them.<br/>
    If you are seeking a sole divorce you can find the required forms on the using
    <a href=&quot;https://www2.gov.bc.ca/gov/content/justice/courthouse-services/documents-forms-records/court-forms/sup-family-forms&quot;
       target=&quot;_blank&quot;>Supreme Court of B.C. website</a>
{% endblock %}

{% block label %}
    sole divorce
{% endblock %}