<span class="tooltip-link" data-toggle="{% if hover %}tooltip-hover{% else %}tooltip{% endif %}" data-placement="right"
      data-html="true"
      title="
                <b>Virtual Session</b>
                <br /><br />
                When you select Virtual Session you will be contacted via email by the court registry to setup an online
                signing of your affidavit(s). Note that you will require a smart phone with a camera that runs iOS
                version X or Android version Y or a computer with a camera running Windows or MacOS. During the session
                both you and the court registry clerk will sign your forms separately and then upload them back in this
                tool. When you choose this option you will also need to scan and upload the unsigned affidavit(s) to
                this site before the virtual session.">
          virtual session<i class="fa fa-question-circle" aria-hidden="true"></i></span>