{% extends "partials/tooltips/base.html" %}

{% block title %}
    Certificate of Pleadings Form (F36)
{% endblock %}

{% block inner %}
    This form is completed by registry staff after your application has been reviewed by them.
    It shows the judge that your application has been checked and is complete.
    <br/><br/>
    - Does not require signatures when filed online.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Certificate of Pleadings Form (F36){% endif %}
{% endblock %}