{% extends "partials/tooltips/base.html" %}

{% block title %}
    Affidavit - Desk Order Divorce Form (F38)
{% endblock %}

{% block inner %}
    <br/><br/>
    This form sets out all the facts of your marriage and separation for the court and gives information about parenting time if you have children.
    It requires swearing / affirming and signatures by both you and your spouse in front of a commissioner.
{% endblock %}

{% block label %}
    Affidavit — Desk Order Divorce Form (F38)
{% endblock %}