{% extends "partials/tooltips/base.html" %}

{% block title %}
    Proof of marriage
{% endblock %}

{% block inner %}
    To get a divorce, you need an original marriage certificate or certified true copy of your registration of marriage to prove you are married.
    There are other options described in this tool if you can't get a copy of your marriage certificate or registration of marriage.
    <br/><br/>
    - Does not require signatures.
{% endblock %}

{% block label %}
    {% if text %}{{ text }}{% else %}Proof of marriage{% endif %}
{% endblock %}