sudo: required

language: python
python:
  - "3.5"

services:
  - docker

install:
  - docker build -t weasyprint .
  - docker run -d -p 5001:5001 --name weasyprint weasyprint

script:
  - docker ps | grep weasyprint
  - sleep 1
  - docker logs weasyprint
  - curl http://127.0.0.1:5001/health
  - python test.py
  - docker logs weasyprint
