{% load step_order %}
{% load load_json %}

<div class="col-flex progress-column">
    <h4>POC</h4>
    <a href="{% url 'poc-scan' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
        <span class="progress-content">File Scanning</span>
    </a>
    <a href="{% url 'poc-storage' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-info" aria-hidden="true"></i></span>
        <span class="progress-content">Redis Storage</span>
    </a>

    <a href="{% url 'poc-hub' %}" class="progress-question">
        <span class="progress-icon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
        <span class="progress-content">eFiling Hub</span>
    </a>
</div>
